<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Dr Amir | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>

    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#nav7").load("nav7.html");
            $("#footer7").load("footer7.html");
        });
    </script>
</head>

<body>
<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>


    <!--navigation bar starts here-->
    <div id="nav7"></div>
    <!--navigation bar ends here-->
</div>

<section id="privacy-policy">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1></h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Team</a></li>
                <li class="breadcrumb-item"><a href="clinicians.html">Clinicians</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Dr Amir Shameli</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<section>
    <div class="container">
        <div class="row" style="color: #4f5050">
            <div class="col-md-7">
                <h1 style="font-weight: lighter; font-size: 100px; color: grey">Dr Amir Shameli</h1>
                <hr>
                <br>
                <h5 style="font-weight: normal">About Me : </h5>
                <p style="text-align: justify">
                    Dr Amir Shameli is a Consultant in General Adult Psychiatry. Having done his Specialist Psychiatry
                    training at the world-class Oxford training scheme in England, he holds Specialist qualifications in both
                    the United Kingdom and Australia, and has worked in both countries as a Consultant Psychiatrist.</p>

                <p> Dr Shameli’s Specialist qualifications include Fellowship of The Royal Australian & New Zealand College
                    of Psychiatrists (FRANZCP), Membership of Royal College of Psychiatrists, London (MRCPsych), Certificate
                    of Completion of Training (CCT) in General Adult Psychiatry, UK and Masters of Science (MSc) in Clinical
                    Neuropsychiatry, UK. He completed his General Medical training and obtained Doctorate of Medicine (MD) in
                    Iran.</p>

                <p> His main area of interest are mood disorders (such as depression and bipolar affective disorder), anxiety
                    disorders (including generalised anxiety, social anxiety and obsessive compulsive disorder) and
                    psychoses.</p>

                <p> Dr Shameli is passionate about high quality patient care and evidence- based practice (use of best
                    available and most up to date research evidence). His professionalism and respect for patients and
                    colleagues has been consistently noted by others throughout his career.</p>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-1" style="alignment: right"></div>
            <div class="col-md-3" style="alignment: right">
                <img src="../../images/amir.webp" alt="no-img" width="408px" height="500px">
            </div>
        </div>
        <div>
            <br>
            <br>
        </div>
    </div>
</section>
<!-- end of para section-->

<!-- Footer -->
<div id="footer7"></div>
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>