<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Zorica Gruneska | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>

    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#nav7").load("nav7.html");
            $("#footer7").load("footer7.html");
        });
    </script>
</head>

<body>
<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>


    <!--navigation bar starts here-->
    <div id="nav7"></div>
    <!--navigation bar ends here-->
</div>

<section id="privacy-policy">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1></h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Team</a></li>
                <li class="breadcrumb-item"><a href="clinicians.html">Clinicians</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Zorica Gruneska</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<section>
    <div class="container">
        <div class="row" style="color: #4f5050">
            <div class="col-md-7">
                <h1 style="font-weight: lighter; font-size: 100px; color: grey">Zoe Gruneska</h1>
                <h5>CLINICAL PSYCHOLOGIST</h5>
                <hr>
                <br>
                <h5 style="font-weight: normal">About Me : </h5>
                <p style="text-align: justify">
                    I have worked with a wide range of clients—both individually and in groups—across community AOD/mental
                    health services, public hospitals, and private clinics. I have an interest in supporting clients
                    struggling with depression, anxiety and building healthy relationship with their critical self.
                    Additionally, I have an interest in supporting clients with finding meaning in these uncertain times. I
                    am particularly passionate about therapeutic approaches emphasising the usefulness of mindfulness,
                    compassion, openness to our experiences and values-based living.
                </p>
                <br>
                <h5 style="font-weight: normal">Qualifications : </h5>
                <p>
                <ul>
                    <li>Master’s in Health Sciences – Alcohol and Other Drugs Studies</li>
                    <li>Master’s in Science – Psychology</li>
                    <li>Master’s in Psychology (Clinical)</li>
                </ul>
                </p>
                <br>
                <br>
            </div>
            <div class="col-md-1" style="alignment: right"></div>
            <div class="col-md-3" style="alignment: right">
                <img src="../../images/zoe.webp" alt="no-img" width="408px" height="500px">
            </div>
        </div>
        <div class="row" style="color: #4f5050">
            <div class="col-md-4">
                <h5 style="font-weight: normal; text-align: center">How I Will Help You</u></h5>
                <p style="text-align: justify">
                    I will offer you a warm, empathic, and non-judgmental space for you to explore current difficulties and
                    invite you to consider what you would like to be different. You will set the direction for our work and I
                    will walk alongside you, as we experiment with what kind of strategies and actions best support you to
                    build the life you want.
                </p>
            </div>
            <div class="col-md-4">
                <h5 style="font-weight: normal; text-align: center">Key Areas Of Expertise</h5>
                <ul>
                    <li>Anxiety (persistent worry; panic; social anxiety; health anxiety; obsessive-compulsive disorder)</li>
                    <li>Depression</li>
                    <li>Stress management</li>
                    <li>Difficulties managing strong emotions</li>
                    <li>Adjustment difficulties</li>
                    <li>Self-criticism and shame.</li>
                    <li>Alcohol and Other Drugs concerns (AOD)</li>
                    <li>Grief and Loss</li>
                    <li>Aging and finding meaning</li>
                    <li>Dual Diagnosis (Mental Health and AOD)</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 style="font-weight: normal; text-align: center">Approaches</h5>
                <ul>
                    <li>Acceptance and Commitment Therapy (ACT)</li>
                    <li>Cognitive Behavioural Therapy (CBT)</li>
                    <li>Motivational Interviewing</li>
                    <li>Relapse Prevention</li>
                    <li>Dialectical Behaviour Therapy (DBT) Informed Practice.</li>
                </ul>
            </div>
        </div>
        <div>
            <br>
            <br>
        </div>
    </div>
</section>
<!-- end of para section-->

<!-- Footer -->
<div id="footer7"></div>
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>