<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Blog - Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#nav5").load("nav5.html");
            $("#footer5").load("footer5.html");
        });
    </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>


    <!--navigation bar starts here-->
    <div id="nav5"></div>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>-->
<!--            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
<!--                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"-->
<!--                    data-bs-toggle="collapse" type="button">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownServices" role="button">Services</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic-->
<!--                                        Attacks</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &-->
<!--                                        Mental Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in-->
<!--                                        Adults</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity-->
<!--                                        Crisis</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics-->
<!--                                        Disorder()</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge-->
<!--                                        Eating Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia-->
<!--                                        Nervosa</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine-->
<!--                                        Use Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive-->
<!--                                        Daydreaming</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video-->
<!--                                        Game Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse-->
<!--                                        Control Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic-->
<!--                                        Fatigue</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/functional-neurological-disorder.html">Functional-->
<!--                                        Neurological Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body-->
<!--                                        Image</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief-->
<!--                                        & Loss</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of-->
<!--                                            Interest</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of-->
<!--                                                Interest or No Interest</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self-->
<!--                                        Esteem</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major-->
<!--                                            Depressive Disorder</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/depression-major-depressive-disorder.html">-->
<!--                                                Depression</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent-->
<!--                                        Depressive Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger-->
<!--                                        Management</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/dependent-personality-disorder.html">Dependent-->
<!--                                        Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity-->
<!--                                        &-->
<!--                                        Disinhibition</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an-->
<!--                                        overview of Narcissistic behaviour</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive-->
<!--                                        Personality Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"-->
<!--                                           href="#">Conflict</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict-->
<!--                                                resolution</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownTeam" role="button">Team</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownResources" role="button">Resources</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional-->
<!--                                        Mental Health Service</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling-->
<!--                                        for men</a></li>-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief-->
<!--                                                counselling-->
<!--                                                help?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover-->
<!--                                                grief counselling?</a>-->
<!--                                            </li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief-->
<!--                                                counseling</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief-->
<!--                                                counselling work</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling-->
<!--                                                for you?</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth-->
<!--                                        work?</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist-->
<!--                                        Appointment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry-->
<!--                                        Service</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental-->
<!--                                        Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist-->
<!--                                        online</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see-->
<!--                                                a psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or-->
<!--                                                Psychiatrist?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via-->
<!--                                                telehealth benefits</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of-->
<!--                                                Psychologists</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &-->
<!--                                            Assessment</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional-->
<!--                                                Intelligence</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality-->
<!--                                                Testing</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance-->
<!--                                            and Commitment Therapy</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and-->
<!--                                                Commitment Therapy</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive-->
<!--                                            Behavioural Therapy (CBT)</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT-->
<!--                                                (Cognitive Behavioral Therapy)</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for-->
<!--                                                insomnia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma-->
<!--                                                focused CBT</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive-->
<!--                                        therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="d-flex" id="btn-login">-->
<!--                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>-->
<!--                </div>-->
<!--                <form class="d-flex">-->
<!--                    <div class="input-group">-->
<!--                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary" type="button">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--    navigation bar ends here-->
</div>

<section id="about-us">
    <div class="container">

        <div class="row" id="about-title">
            <div class="col-lg-12 col-md-12">
                <h1>Blog</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Blog</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<section>
    <div class="container mt-4">
        <div class="row" id="blog">

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3">
                            <a href="../how-to-quieten-your-inner-critic-11-tips.html">How to Quieten your Inner Critic – 11 Tips</a>
                        </h2>
                        <p class="card-text">How to Quieten your Inner Critic – 11 Tips The inner critic is an inner voice that judges
                            condemn, or degrades a person whether or not self-criticism is objectively justified. A
                            highly active inner critic can take charge of one’s emotional well being and dignity.
                            Educating yourself on how to</p>
                        <p class="read-more-txt"><a href="../how-to-quieten-your-inner-critic-11-tips.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">admin_epsychiatry</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../how-to-help-someone-with-ptsd.html">How to Help Someone with PTSD</a></h2>
                        <p class="card-text">How to Help Someone with PTSD Popularly known as PTSD, Post-traumatic
                            stress disorder is a mental health problem. PTSD may occur after an extremely traumatic
                            event happens. It is not easy to help someone who is going through PTSD. It can be difficult
                            for people to come up with ways</p>
                        <p class="read-more-txt"><a href="../how-to-help-someone-with-ptsd.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../how-to-stop-being-a-people-pleaser.html">How to Stop Being a People Pleaser?</a></h2>
                        <p class="card-text">How to Stop Being a People Pleaser? A people pleaser is someone who tries
                            hard to make others happy. They will often go out of their way to please someone, even if
                            it means taking their own valuable time or resources away from them. People pleasers often
                            act the way they do because of</p>
                        <p class="read-more-txt"><a href="../how-to-stop-being-a-people-pleaser.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../is-mental-illness-a-disability.html">Is mental illness a disability? Yes, read to learn more</a></h2>
                        <p class="card-text">Is mental illness a disability? Yes, read to learn more “Disability,”
                            what does it mean? Well, that’s a good question. Disability can have a lot of meaning.
                            Disability can mean different things to different people. It can mean a physical disability,
                            emotional disability, mental disability, or all of the above.</p>
                        <p class="read-more-txt"><a href="../is-mental-illness-a-disability.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../foundational-attitudes-to-mindfulness-practice.html">7 Foundational Attitudes to Mindfulness Practice</a></h2>
                        <p class="card-text">7 Foundational Attitudes to Mindfulness Practice Mindfulness is the state
                            of being aware of our present situation. That is to say, anything and everything that
                            happens around us can trigger feelings. This creates a sense of awareness that helps us
                            process situations. The mindfulness of our surroundings, and our ability</p>
                        <p class="read-more-txt"><a href="../foundational-attitudes-to-mindfulness-practice.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../understanding-autism.html">Understanding Autism – An Introduction</a></h2>
                        <p class="card-text">Understanding Autism – An Introduction According to Autism Spectrum
                            Australia, 1 in 70 Australians is affected with Autism. They have found that it is four
                            times more common in boys. Firstly, understand why children with autism behave in certain
                            ways is the first step. After that, you can work out</p>
                        <p class="read-more-txt"><a href="../understanding-autism.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../how-does-cognitive-behavioural-therapy-work.html">How does Cognitive Behavioural Therapy work?</a></h2>
                        <p class="card-text">How does Cognitive Behavioural Therapy work?
                            What is Cognitive Behavioural Therapy (CBT)? Cognitive Behavioural Therapy or CBT is
                            one of the most popular psychotherapy techniques in the world, to manage common
                            psychological issues. Stemming from the standard terms, cognitive (how you think)
                            and behavioural (how you act), CBT entails</p>
                        <p class="read-more-txt"><a href="../how-does-cognitive-behavioural-therapy-work.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../ocpd-vs-ocd.html">OCPD vs OCD (Obsessive-Compulsive: Disorders)</a></h2>
                        <p class="card-text">OCPD vs OCD (Obsessive-Compulsive: Disorders) The abbreviated names
                            may sound very familiar when we say OCPD vs OCD? But, we need to know that even if they
                            sound the same, they are completely two different disorders. Indeed, so many people often
                            mistake one for the other. It can include the</p>
                        <p class="read-more-txt"><a href="../ocpd-vs-ocd.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../mental-health-after-surgery.html">Mental Health After Surgery: An Overview</a></h2>
                        <p class="card-text">Mental Health After Surgery: An Overview People undergo surgery for all
                            sorts of reasons. We sometimes need surgery to improve our health. To prevent disease,
                            manage pain and improve our functioning. For example, a face injury can make a person
                            feel very self-aware. It can also be causing a lot</p>
                        <p class="read-more-txt"><a href="../mental-health-after-surgery.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>

            <div class="blog-card" style="padding: 0 150px">
                <div class="card m-2 bg-white">
                    <div class="card-body">
                        <h2 class="card-title mb-3"><a href="../concentration-problems-and-depression-tips-to-solve-them.html">Concentration Problems and Depression: Tips to solve them</a></h2>
                        <p class="card-text">Concentration Problems and Depression: Tips to solve them Losing
                            concentration on a task at hand is something we’ve all experienced. It may happen at
                            some point during our week. We could get distracted from reading a book by birds chirping
                            or the sound or lyrics of music playing in the</p>
                        <p class="read-more-txt"><a href="../concentration-problems-and-depression-tips-to-solve-them.html">READ MORE >></a></p>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-muted">Mary</small>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">

            <ul class="pagination justify-content-center mt-4">
                <li class="page-item">
                    <a class="page-link" href="blog-1.html" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="blog-1.html">1</a></li>
                <li class="page-item"><a class="page-link" href="blog-2.html">2</a></li>
                <li class="page-item"><a class="page-link" href="blog-3.html">3</a></li>
                <li class="page-item"><a class="page-link" href="blog-4.html">4</a></li>
                <li class="page-item"><a class="page-link" href="blog-5.html">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="blog-3.html">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- end of para section-->

<!-- Footer -->
<div id="footer5"></div>
<!--<footer class="site-footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Contact us</h6>-->
<!--                <form>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-name" placeholder="Name*" required-->
<!--                               style="max-width: 350px" type="text">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required-->
<!--                               style="max-width: 350px" type="email">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required-->
<!--                                  rows="5" style="max-width: 350px"></textarea>-->
<!--                    </div>-->
<!--                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="col-sm-12 col-md-4">-->
<!--                <h6>Important</h6>-->
<!--                <p class="text-justify">This is not an emergency service. Same day consults are not available.-->
<!--                    If you are in distress please contact your nearest emergency department,-->
<!--                    your local area mental health service triage or dial “000</p>-->
<!--            </div>-->

<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Learn More</h6>-->
<!--                <ul class="footer-links">-->
<!--                    <li><a href="">Psychology via Telehealth Benefits</a></li>-->
<!--                    <li><a href="">Five reasons to see a psychologist</a></li>-->
<!--                    <li><a href="">Professional Mental Health Service</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div class="container mt-3" style="text-align: center">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>