<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Bulimia Nervosa</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Bulimia Nervosa</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li class="breadcrumb-item"><a href="#">Eating</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Bulimia Nervosa</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is Bulimia Nervosa?</a>
                    <a href="#topic-2" class="nav-link">What is a binge?</a>
                    <a href="#topic-3" class="nav-link">What are Compensatory Behaviors?</a>
                    <a href="#topic-4" class="nav-link">Aren’t people with Bulimia Nervosa thin?</a>
                    <a href="#topic-5" class="nav-link">What causes Bulimia Nervosa & who gets it?</a>
                    <a href="#topic-6" class="nav-link">What drives Bulimia Nervosa?</a>
                    <a href="#topic-7" class="nav-link">Screening for Bulimia Nervosa</a>
                    <a href="#topic-8" class="nav-link">Bulimia Nervosa and thoughts about food</a>
                    <a href="#topic-9" class="nav-link">Laxatives and Bulimia Nervosa</a>
                    <a href="#topic-10" class="nav-link">Medical Complications of Bulimia Nervosa</a>
                    <a href="#topic-11" class="nav-link">Mental Health and Bulimia Nervosa</a>
                    <a href="#topic-12" class="nav-link">Why do doctors order blood tests for Bulimia Nervosa?</a>
                    <a href="#topic-13" class="nav-link">Treatment for Bulimia Nervosa</a>
                    <a href="#topic-14" class="nav-link">Education</a>
                    <a href="#topic-15" class="nav-link">Psychological Therapies</a>
                    <a href="#topic-16" class="nav-link">Medication</a>
                    <a href="#topic-17" class="nav-link">Avoiding Relapse</a>
                    <a href="#topic-18" class="nav-link">Recovery and Hope</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <h2 class="mt-3" id="topic-1">What is Bulimia Nervosa?</h2>
            <p>This is a serious mental illness characterized by repeated episodes of binge eating followed
                by behaviours to prevent weight gain. However, this is different from binge eating disorder.
                In Bulimia Nervosa, the binge eating episodes are followed by a deep sense of shame, guilt
                or disgust which then leads to paying acts to purge the food that has just been eaten.</p>
            <p><br></p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-Services-Eating-Bulimia-Nervosa-1-min.webp" alt=""></p>

            <h2 class="mt-3" id="topic-2">What is a binge?</h2>
            <p>In a binge, a person will eat an unusually large amount of food in a short amount of time.
                During a binge, a person experiences a sense of loss of control. However, oftentimes during
                a binge, a person is not hungry, eats faster than normal and until uncomfortably full.
                In addition, eating during a binge episode often happens alone out of embarrassment.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-3">What are Compensatory Behaviors?</h2>
            <p>They are behaviours intended to stop weight gain after a binge episode. It is an attempt
                to purge themselves of the food that has just been eaten. Compensatory behaviours include
                self-induced vomiting, laxative or other medication and drug abuse.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-4">Aren’t people with Bulimia Nervosa thin?</h2>
            <p>Certainly, not always. Usually, people with Bulimia Nervosa maintain an average weight.
                This can be a trap for family members, friends, health professionals and those with the condition.
                Because a person with Bulimia is often average weight, they are less identifiable as having a
                serious eating disorder. Sadly, as a result of this people with the condition go undiagnosed for
                a long period of time.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-5">What causes Bulimia Nervosa & who gets it?</h2>
            <p>This is not a lifestyle or dieting “choice”. It is a serious mental illness. A range of factors
                is thought to play a role; genetic, environmental, social and cultural. Likewise, it is unclear
                to what extent each of these factors plays a part. Further, your psychologist or psychiatrist
                will be able to help you to better understand. People with Bulimia Nervosa are intoned with their
                body shape, weight and appearance. These facets tie in with their sense of self-worth. Often this
                condition develops in the late teens and is experienced by both men and women. Similar to anorexia
                nervosa people who get Bulimia Nervosa have perfectionistic tendencies and suffer from low self-esteem.
                They have trouble dealing with their moods or controlling their behaviour.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-6">What drives Bulimia Nervosa?</h2>
            <p>Moreover, the underlying drivers of Bulimia Nervosa are complex. One psychological concept or framework
                people use is that Bulimia Nervosa is a way to deal with underlying personal difficulties. This numbs
                emotions, provides a distraction or sense of control. The cyclical eating patterns become a way of
                managing underlying emotional and psychological difficulties.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-7">Screening for Bulimia Nervosa</h2>
            <h5 class="mt-3"><strong>The SCOFF Questionnaire is a popular eating disorder screening tool developed
                in the United Kingdom by Morgan and his colleagues.</strong></h5>
            <ul>
                <li>Do you make yourself Sick because you feel uncomfortably full?</li>
                <li>Do you worry you have lost control over how much you eat?</li>
                <li>Have you recently lost more than One stone in a 3-month period?</li>
                <li>Do you believe yourself to be Fat when others say you are too thin?</li>
                <li>Would you say that Food dominates your life?</li>
            </ul>
            <p>If you have answered yes to 2 or more questions, it is recommended that you see a dietitian
                or a doctor as an initial first step for an assessment. Certainly, this questionnaire was
                developed to help pick up both Bulimia Nervosa and Anorexia Nervosa.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-8">Bulimia Nervosa and thoughts about food</h2>
            <p>During an assessment, your psychologist or psychiatrist will want to know your thoughts
                regarding weight, food and eating habits. We are bombarded with information about food,
                our views are influenced by our upbringing, who is at home, society and friends. In addition,
                these people often have strong notions of ‘good’ and ‘bad’ food. They also have certain
                characteristic of binge foods. These tend to be snacks, chocolates and other high
                carbohydrate-rich foods. However, there is often deep shame around binges. There are also
                routine that develops around binge in order of it to remain a secret. Bulimia Nervosa is
                associated with increased mortality, serious medical complications and deep psychological pain.
                It is a condition affecting young people, that is often missed and affects life trajectories. </p>
            <p><br></p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-Services-Eating-Bulimia-Nervosa-2-min.webp" alt=""></p>

            <h2 class="mt-3" id="topic-9">Laxatives and Bulimia Nervosa</h2>
            <p>Laxatives’ abuse is the second most commonly used compensatory behaviour by those with Bulimia
                Nervosa. There are different types of laxatives that work in different ways. This use can lead
                to both short and long term complications. In the near term, diarrhea, lightheadness and alterations
                in salt balance or electrolytes. In the long term laxative use leads to a dilation of the colon and
                reduced movement, There can also be damage to the cells lining the gut.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-10">Medical Complications of Bulimia Nervosa</h2>
            <h5 class="mt-3"><strong>Reproductive System</strong></h5>
            <ul>
                <li>Menstrual Irregularities – Only about half of the women with Bulimia Nervosa experience
                    changes to their menstrual cycle.</li>
            </ul>
            <h5 class="mt-3"><strong>Gastrointestinal System</strong></h5>
            <ul>
                <li>Gut – Flatulence, bloating or constipation</li>
                <li>Mouth and Throat – Erosion of dental enamel, bad breath and gum disease. Reflux or
                    tears to the throat lining as a result of vomiting can occur.</li>
            </ul>
            <h5 class="mt-3"><strong>Chest</strong></h5>
            <ul>
                <li>Heart – Irregular heartbeat, heart failure and weakening of heart muscles.</li>
                <li>Syncopal – Low blood pressure, feeling faint or lightheaded</li>
                <li>Lungs – Choking and risk of aspiration pneumonia.</li>
            </ul>
            <h5 class="mt-3"><strong>Kidneys</strong></h5>
            <ul>
                <li>Electrolytes – Low potassium, altered sodium levels or lower leg swellings</li>
            </ul>
            <h5 class="mt-3"><strong>Skin</strong></h5>
            <ul>
                <li>Abrasion of knuckles, changes to the nails, oral ulcers and dry skin</li>
            </ul>
            <p><br></p>

            <h2 class="mt-3" id="topic-11">Mental Health and Bulimia Nervosa</h2>
            <p>To clarify, research has shown an overlap between Depression, Anxiety and Bulimia Nervosa.
                Most people describe depressive or anxious symptoms prior to the onset of Bulimia. A psychologist
                or psychiatrist will ask about alcohol and other substance use. Studies have shown above 50%
                overlap between the two conditions. Self-injury, scratching and cutting is prevalent in bulimia
                nervosa. Self-harm is sometimes what others notice. Sometimes an assessment of self-harm
                particularly in younger people will lead to questions around eating patterns and compensatory
                behaviours. We can understand both self-harm and bulimia nervosa from a framework of emotional
                numbing attempts and control dynamics. People also explore personality traits or temperament
                during a bulimia nervosa assessment. Therapists may explore behavioural patterns outside of a
                food and body image context. Perfectionism, impulsivity and self-critical thinking styles can be
                seen with Bulimia Nervosa. A therapist can work through to soften some of these traits or patterns
                of thinking.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-12">Why do doctors order blood tests for Bulimia Nervosa?</h2>
            <p>Compared to other psychiatric conditions, eating disorders are probably the most common for which
                doctors order laboratory tests. Purging and other compensatory behaviours impact electrolyte or
                salt levels in the blood. Repeated vomiting for instance can cause low potassium or chloride levels.
                The use of a laxative or vomiting can impact the acid or pH of the blood. These salt changes can have
                serious impacts. Fatigue, muscle weakness and more serious changes to heart rhythm and sudden death
                connect to Bulimia Nervosa.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-13">Treatment for Bulimia Nervosa</h2>
            <p>Generally, the care for Bulimia Nervosa involves different health practitioners; dietitians,
                psychologists and the coordination of care done by a general practitioner. The aim of
                treatment is threefold:</p>
            <ol>
                <li>Book a double or longer consultation</li>
                <li>Take a support person with you</li>
                <li>Write down questions and concerns beforehand on a piece of paper</li>
                <li>A GP is not a specialist in treating eating disorders. Ask for a referral from your GP to a
                    psychologist, dietitian or psychiatrist with experience treating eating disorders</li>>
            </ol>
            <p>Generally, the care for Bulimia Nervosa involves different health practitioners; dietitians,
                psychologists and the coordination of care done by a general practitioner.</p>
            <h5 class="mt-3"><strong>The aim of treatment is threefold:</strong></h5>
            <ol>
                <li>Return to normal eating behaviour</li>
                <li>Manage any medical complications</li>
                <li>Address underlying psychological factors and or other psychiatric conditions</li>
            </ol>
            <p><br></p>

            <h2 class="mt-3" id="topic-14">Education</h2>
            <p>Provided generally by a dietitian or psychologist. Here learning about eating cycles, meal
                structure and learning hunger cues happen. Dietitians will also advise on the caloric
                intake to maintain weight.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-15">Psychological Therapies</h2>
            <h5 class="mt-3"><strong>Cognitive Behavioral Therapy</strong></h5>
            <p>Numerous research studies have shown Cognitive Behavioral Therapy to be an effective
                therapy for Bulimia Nervosa, especially in the short term. The cognitive aspects help a
                patient to identify thought patterns about food and themselves that are not helpful.
                It teaches them to challenge these thoughts and find new ways to think about food and
                themselves. The behavioural part of the therapy usually involves practical strategies
                to return eating to a more normal pattern.</p>
            <h5 class="mt-3"><strong>Family-Based Treatments for Bulimia Nervosa</strong></h5>
            <p>More applicable for younger clients, the first step involves mobilizing a degree of parental
                authority in managing the health crisis. As treatment progresses dietary control hands
                over to the young person and challenges around family structure and addresses adolescent
                development.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-16">Medication</h2>
            <p>Fluoxetine, an SSRI has the strongest evidence base for the treatment of bulimia. Fluoxetine
                has a long half-life and what that means is that fluctuations in levels and in turn withdrawal
                symptoms are less noticeable despite vomiting or other purging behaviour. Often times the dose
                of fluoxetine needs to tend to be higher than that need for depression.</p>
            <p><br></p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-Services-Eating-Bulimia-Nervosa-3-min.webp" alt=""></p>

            <h2 class="mt-3" id="topic-17">Avoiding Relapse</h2>
            <p>Have a support circle – Have people around you that help you to maintain healthy eating, a positive
                body image and a sense of self-worth. Stay on your treatment plan – It is important in the early
                stages of recovery and into wellness to follow on from what go you well in the first place. Continue
                therapy and any medication as advised. Identify triggers and early warning signs – Often stress
                around exams, relationship breakdowns or seaside holidays can be a trigger. Reflect back on your
                past triggers. If you notice you are preoccupied with food or body shape and restricting food, these
                may be early warning signs of a relapse. Recovery is not a straight lineup – Recovery will mean
                setbacks, it is important to understand this and regroup quickly. Speaking with supports and going
                back to what has worked is important.</p>
            <p><br></p>

            <h2 class="mt-3" id="topic-18">Recovery and Hope</h2>
            <p>Recovery from Bulimia Nervosa is definitely possible. Whilst in the short term the journey might be
                bumpy, in the longer term (10 plus years) research suggests over 70% of people do recover. <br>
                Hope is important in the recovery process, it is an enabler of change and a catalyst for other
                factors to come in. Hope means awareness that the current eating behaviour is not fixable but
                can change and be more manageable. <br>
                Call our friendly support team to organize an appointment with one of our psychologists or
                psychiatrists.</p>
            <p><br></p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>