<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Depression | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Depression</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Depression</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Get to know more about our Depression 
                        Treatment in Australia</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <h2 class="mt-3" id="topic-1">Get to know more about our Depression 
                Treatment in Australia
            </h2>

            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-what-is-depression-1.webp" alt=""></p>
            <h3>What is depression?</h3>
            <p>Depression is a common mental health condition with a 
                high burden of disease. Research suggests that 1 in 7 Australians 
                will experience depression at some point in their life. 
                Certainly, depression is a large contributor to death and 
                disability worldwide; it associates with high rates of lost 
                productivity, economic loss and reduced quality of life. 
                Depression affects how we think, feel, and act, 
                including how we relate to others. In addition, 
                it can impact every aspect of life, including our 
                functioning at work or in relationships.</p><br>
            
            <h4>People experiencing depression can have a wide range of symptoms, including:</h4>
            <ul>
                <li>Persistent low mood and pessimism</li>
                <li>Loss of interest and enjoyment in most activities</li>
                <li>Changes in sleep, appetite and weight</li>
                <li>Low energy levels and physical symptoms (e.g. headache, stomach upset)</li>
                <li>Irritability/agitation or a slowing down of thought and physical movement</li>
                <li>Feelings of guilt or worthlessness</li>
                <li>Poor concentration</li>
                <li>In severe cases, thoughts of death and psychotic symptoms</li>
            </ul>
            <p>Depression can at times be a mild condition, however, it can also be 
                severe and incredibly debilitating. Many people with depression withdraw 
                from close family and friends, stop going out and cease engaging in the 
                activities that used to give them pleasure and meaning in life. On the 
                other hand, some people may turn to harmful ways of coping, such as the 
                use of drugs and alcohol or self-harm, which work to further lower 
                mood and maintain depression.</p>
            <p>However, there is no simple test for depression. Rather, identifying 
                depression usually involves a detailed assessment with a qualified health 
                professional, such as a psychologist or psychiatrist. The clinician you 
                choose to work with will ask a series of questions about your history, 
                current difficulties, and the impact of these difficulties on various 
                aspects of your life.</p><br>
            <h4>How to Get Help?</h4>
            <p>Our highly trained psychologists and psychiatrists work with clients 
                to identify, understand and treat their depression. Most importantly, 
                the aim of treatment for depression is to reduce the person’s symptoms, 
                support them to return to their normal level of functioning, and ultimately, 
                improve their quality of life. However, the good news is that effective 
                interventions exist to treat depression. The sooner a person with depression 
                accesses support, the sooner their road to recovery begins.</p><br>
            <h3>What are some of the causes of depression?</h3>

            <p>Depression is a complex condition. The causes of depression are not fully 
                understood, but likely include an interaction between things like genetics, 
                personality, early experiences, stressful life events, physical illness 
                and substance use. A person may have an increased genetic or biological 
                vulnerability to depression, which may then interact with certain life 
                events or ‘stressors’ to cause the condition.</p>
            
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-what-is-depression-2.webp" alt=""></p>
            <h4>Factors that trigger the onset of depression differ 
                greatly between individuals, but some common examples include:</h4>
            <ul>
                <li>Traumatic events, including grief and loss</li>
                <li>Bullying and interpersonal conflict</li>
                <li>Physical illness, injury or other health problems</li>
                <li>Unemployment and financial hardship</li>
                <li>Work and educational stress</li>
                <li>Poor lifestyle, including a lack of exercise, poor diet and poor sleep</li>
                <li>The use of certain medications, drugs and alcohol</li>
            </ul>
            <p>Protective factors – things like coping skills, social support and a person’s 
                involvement in meaningful activities – can also impact whether or not they 
                develop depression in response to any of the above triggers. So, our 
                team of experienced psychologists and psychiatrists can work with you to 
                understand and treat your depression and reduce your risk of relapse.</p><br>

            <h3>Conditions and experiences related to depression</h3>
            <p>Depression can occur in certain contexts and often exists in 
                the presence of other mental and physical health problems. Some examples of this are:</p>
            <h4>Sadness</h4>
            <p>Sadness is a natural human emotion, which we all feel at times in response to 
                the upset and pain that inevitably occurs in life. However, 
                this is different from depression. Like all emotions, sadness is 
                temporary and will reduce over time. Depression, on the other hand, 
                is a mental illness that will often persist and negatively impact areas 
                of life in the absence of treatment.</p>
            <h4>Grief</h4>
            <p>Grief is a natural response to loss, which can affect your physical and 
                mental health. It is an individual process that presents differently for 
                different people. Whilst depression and grief are separate conditions, 
                the two can sometimes co-occur.</p>
            <h4>Postnatal depression</h4>
            <p>Postnatal depression is a type of depression that occurs after childbirth. 
                Along with usual depressive symptoms, people with postnatal depression 
                often have difficulty bonding with the newborn baby. So, there may be 
                more of a hormonal element to this condition that occurs within the 
                context of pregnancy.</p>
            <h4>The bipolar affective disorder</h4>
            <p>The bipolar affective disorder is another type of mood disorder. 
                This includes periods of elevated mood (mania), along with periods of depression. 
                Periods of ‘normal’ mood can occur between manic and depressive episodes. 
                However, treatment for bipolar disorder can be quite different from treatment 
                for depression. So it is important to understand your symptoms and get your 
                diagnosis right.</p>
            <h4>Seasonal patterns of depression</h4>
            <p>Seasonal patterns of depression can sometimes occur, whereby the depressive 
                symptoms appear to be triggered by seasonal factors. People with this pattern 
                of depression often feel depressed during the autumn and winter months, 
                and tend to feel better during the spring and summer months.</p>
            <h4>Premenstrual dysphoric disorder (PMDD)</h4>
            <p>Premenstrual dysphoric disorder (PMDD) is a condition some women experience, 
                whereby they experience depressive-like symptoms in the week or two before 
                and days following their menstrual period. Symptoms can be intense and highly 
                debilitating.</p>
            <h4>Anxiety, trauma-related and substance use disorders</h4>
            <p>Anxiety, trauma-related and substance use disorders are other types of mental 
                disorders, which can commonly co-occur alongside depression. Around 60% of 
                people with depression experience an anxiety disorder and vice versa. 
                Substance use may cause the onset of depression, or may be used as a way 
                of coping with pre-existing depressive symptoms. But, it is not uncommon 
                for people to develop symptoms of depression following the experience of 
                a traumatic event or events.</p>
            <h4>Personality disorders</h4>
            <p>Certainly, personality disorders are a group of more longstanding mental 
                health conditions, which are also commonly associated with depression 
                and depressive symptoms.</p>

            <h3>Is there a depression test?</h3>
            <p>A person’s GP, psychologist or psychiatrist usually diagnose this. 
                The diagnosis of depression is based on the presence and severity of 
                certain symptoms. These are outlined by pre-existing diagnostic criteria. 
                On the other hand, there is no physical test for depression per se, 
                but your doctor may ask you to have a blood test or scan to rule out 
                other causes for your symptoms. One other possible causes are excluded, 
                your GP or mental health professional may consider a diagnosis of depression. 
                That is to say, they will ask you questions about your history, 
                current symptoms and the impact of these symptoms. They may also ask 
                you to complete some questionnaires as part of the assessment process. 
                In some cases, it may be best to wait and see how things go over time 
                before making a diagnosis of depression. If you are struggling, 
                treatments such as psychotherapy can still be beneficial and sought 
                without a formal diagnosis.</p><br>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-what-is-depression-3.webp" alt=""></p>

            <h3>What are the available depression treatments?</h3>
            <h4>Work collaboratively</h4>
            <p>To clarify, there are many effective treatments for depression. 
                Your clinician will discuss treatment options with you to ensure 
                you are aware of what is available and the potential costs/benefits 
                of each option. They will want to know about the symptoms you are 
                experiencing and how they impact your daily life.</p>
            <p>Your <a href="https://epsychiatry.com.au/clinicians/">clinician</a> 
                and/or care team will also be interested to know what 
                else is happening in your life, whether you have tried the treatment 
                for depression in the past, your personal preferences and any other 
                health problems you may have. Your clinician will work with you to 
                collaboratively form a treatment plan that best suits your needs.</p><br>

            <h4>Below, we have listed the typical treatments for depression, 
                depending on the severity of the symptoms:</h4>
            <ul>
                <li><strong>Mild depression</strong> is usually treated with lifestyle changes and 
                    psychological therapy. Medication, which carries with it the risk 
                    of side effects, is generally not indicated in these cases</li>
                <li><strong>Moderate depression</strong> can usually be treated with psychological 
                    therapy or medication</li>
                <li><strong>Severe depression</strong> may require a combination of psychological techniques 
                    and medication. In severe cases, where symptoms don’t get better in 
                    response to usual treatment, more invasive therapies might be offered. 
                    These options include things like Electroconvulsive Therapy (ECT) and 
                    Transcranial Magnetic Stimulation (TMS).</li>
            </ul>
            <p>As above, we use psychological techniques or talk therapies to treat depression. 
                One of the most effective therapies for depression is Cognitive Behavioural 
                Therapy or CBT. Certainly, this type of therapy is often provided by a 
                psychologist. CBT works by teaching people how to recognise unhelpful thoughts 
                that are currently keeping them feeling down.</p>
            <p>As their name suggests, antidepressant medications are commonly prescribed to 
                treat symptoms of depression. There are several different types of 
                antidepressants, each with a different profile of potential side effects. 
                Your doctor will be familiar with prescribing antidepressants and will work 
                with you to find the right fit. It is important to speak with your GP or 
                psychiatrist about medication side effects. However, continue working with 
                them to monitor your response.</p>

            <h4>Regardless of the intervention, the broad aim of treatment for 
                depression is to</h4>
            <ol>
                <li>Reduce symptoms</li>
                <li>Gradually return to living a healthy and fulfilling life</li>
                <li>Finally, with input from your mental health clinician, you will work 
                    to implement strategies to prevent depressive symptoms from coming back 
                    in the future.</li>
            </ol>
            <p>You can see an online psychiatrist or psychologist at Epsychiatry 
                about your depression. We encourage you to seek a referral from your 
                GP and give us a call to book an appointment.</p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>