<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Lack of Interest or No Interest- What is Anhedonia? | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Lack of Interest or No Interest- What is Anhedonia?</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Lack 
                    of Interest or No Interest- What is Anhedonia?</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is Anhedonia / feeling no interest?</a>
                    <a href="#topic-2" class="nav-link">Types of Anhedonia</a>
                    <a href="#topic-3" class="nav-link">What causes no interest?</a>
                    <a href="#topic-4" class="nav-link">Symptoms and signs of Anhedonia</a>
                    <a href="#topic-5" class="nav-link">Who is at risk when it comes to this issue?</a>
                    <a href="#topic-6" class="nav-link">Diagnosing</a>
                    <a href="#topic-7" class="nav-link">Treatment</a>
                    <a href="#topic-8" class="nav-link">Therapy and counselling for Anhedonia</a>
                    <a href="#topic-9" class="nav-link">Medication and medicine for Anhedonia</a>
                    <a href="#topic-10" class="nav-link">Overcoming the effects 
                        of Anhedonia/ Lack of Interest</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>Do you remember the first time you felt like you no longer want to 
                do that one thing that used to cheer you up the most? Could be gardening, 
                bowling, swimming or even a good sweaty run, which always worked wonders 
                at making you feel better. When and why did you give up on it? What is the 
                reason that you have no interest or lack of interest in things you 
                used to enjoy?</p><br>
                <p><img class="img-fluid" loading="lazy" src="../../images/Lack-of-interest-Epsychiatry-1.webp" alt=""></p>

            <h2 class="mt-3" id="topic-1">What is Anhedonia / feeling no interest?</h2>
            <p>Those with Anhedonia find it difficult to feel pleasure or have any interest 
                in things. This problem is a very common symptom of depression and is usually 
                knows as a lack of interest or no interest in things, even those that an 
                individual used to very much enjoy. However, this is not the only reason 
                that can cause Anhedonia. Schizophrenia, Parkinson’s, psychosis are also 
                some that can cause Anhedonia. While it is normal to lose interest in 
                things at some point in everyone’s life, this situation 
                is not the same as that. Anhedonia takes one to the extreme 
                limits of losing the ability to enjoy things to a point that 
                nothing excites them anymore. At any rate, anhedonia or lack 
                of interest makes things worse, even for those who are already depressed. 
                Anhedonia can also appear without an underlying mental disorder.</p><br>

            <h2 class="mt-3" id="topic-2">Types of Anhedonia</h2>
            <h3><strong>Social Anhedonia</strong></h3>
            <p>When you have social anhedonia, what you despise the most is spending 
                time with other people. You do not want to socialize with anyone else but 
                yourself. Why this is happening is quite obvious. Social situations give 
                you no pleasure. You have a lack of interest or no interest at all in what 
                is happening when you are with other people.</p>
                
            <p>Social Anhedonia makes relationships a lot of work, and most of the time 
                a flop. You can not give in the mental commitment necessary to make a 
                relationship work, and it makes it difficult for anyone to rely on you. 
                When there is nothing about hanging out with others that make you happy, 
                you are unlikely to be motivated to spend time with anyone at all. You can 
                not pass over a simple positive message such as you had a good time, or 
                that you love them. Positivity, joy and optimism are necessary for a 
                relationship to work. With Anhedonia, you just can’t be happy. This 
                is not done on purpose. However, the impact does not get any simpler.</p><br>
                
            <h3><strong>Physical Anhedonia</strong></h3>
            <p>When one has psychical anhedonia, they don’t feel physical pleasures. 
                Hugs and caressing give them no pleasure or happiness. They do not get 
                intimate/ sexually active, simply because none of that brings them any joy. 
                Those with physical anhedonia do not feel tactile pleasure. 
                In other words, food does not taste as good as it did and physical touch 
                gives them no pleasure. When one does not feel physically loved or happy, 
                they sink into a blank mode. Remember the last time someone gave you a 
                hug and reassured you that you are okay? Do you remember the joy and 
                happiness that gesture gave you? Except in this situation, those 
                with physical anhedonia feel even more sad, hopeless and depressed 
                than a normal person does, but no reassurance or love or care can get 
                them to feel better. Simply because they do 
                not recognize joyful feelings.</p><br>
            <p><img class="img-fluid" loading="lazy" src="../../images/Lack-of-interest-Epsychiatry-2-1.webp" alt=""></p>
                
            <h2 class="mt-3" id="topic-3">What causes no interest?</h2>
            <p>As explained above, Anhedonia or lack of interest is mainly connected as a 
                symptom of Major Depressive Disorder and other mental health disorders which 
                can result in depression. This does not mean that everyone who experiences 
                a lack of interest is depressed or that every depressed person experiences 
                a lack of interest. Anti-depressant drugs and medications can also cause 
                anhedonia or a general lack of interest in life with its numbing effect.</p>
                
            <p>Except for the above-mentioned illness, drug, alcohol and substance abuse 
                can also result in Anhedonia. Also with those that are experiencing eating 
                disorders, personality disorders, anxiety issues, lack of interest can be 
                a common issue.</p>
                
            <p>Research has also proven a link between the function and release of dopamine 
                playing a part in Anhedonia. Dopamine is the chemical that makes one feel 
                good and joyful. This can mess with ones ability to feel happy and content.</p><br>            

            <h2 class="mt-3" id="topic-4">Symptoms and signs of Anhedonia</h2>
            <ul>
                <li>Feeling hopeless</li>
                <li>Does not respond to comfort and reassurance</li>
                <li>Difficult to console or make them feel happier</li>
                <li>Very rarely laughs or smiles. Almost as if they do not recognize 
                    those feelings.</li>
                <li>l withdrawal and likely to isolate themselves</li>
                <li>Unexplained levels of paranoia and fear</li>
                <li>Likely to get sick very often</li>
                <li>Finding it hard to adjust to different types of social situations. 
                    Likely to stick to their bubble and spend more time at home or 
                    a place they know and are comfortable at.</li>
                <li>Unlikely to understand they are sick or to seek assistance</li>
                <li>Does not feel good about themselves or those around them.</li>
                <li>Can not keep up a conversation because they just do not 
                    want to listen and be interested in the topic.</li>
                <li>Emotional ability drop. Can not seem to get their thoughts or feelings together.</li>
                <li>They are not scared of death. In fact, they are suicidal to a point that they are 
                    expecting death to come to them sometime soon.</li>
                <li>Physical sensations no longer give them pleasure. For example, 
                    they are unlikely to get intimate.</li>
                <li>Can’t put their feelings into words or actions</li>
                <li>Does not want to create new relationships.</li>
                <li>Gradually distances themselves from previous relationships</li>
                <li>Feels no empathy towards themselves or others</li>
                <li>If there are any feelings involved, they are most likely to be negative</li>
            </ul><br>

            <h2 class="mt-3" id="topic-5">Who is at risk when it comes to this issue?</h2>
            <p>Those in the categories below are more likely to develop Anhedonia than the rest.</p>
            <ul>
                <li>A family history of schizophrenia, depression, Parkinsons or psychosis 
                    may develop your risk of attracting those illnesses which can also 
                    cause lack of interest/Anhedonia.</li>
                <li>A traumatic or stressful event that impacted you greatly.</li>
                <li>If the person has a history of abuse and neglect which 
                    has left a mental scar</li>
                <li>Being diagnosed with an illness that impacts the quality of life</li>
                <li>Being diagnosed with either a severe or an incurable illness that 
                    takes a toll on their mental health</li>
                <li>Having an eating disorder</li>
            </ul>
            <p>Risk factors do make you more vulnerable and exposed than no risk factors. However, 
                this does not mean that without risk factors you are completely safe from Anhedonia.</p><br>

            <h2 class="mt-3" id="topic-6">Diagnosing</h2>
            <p>Diagnosing Anhedonia will be mostly about your mood. It will be easy for 
                you to make a list or have on the top of your head all the symptoms you 
                have experienced. This should include the events where you realized that 
                you no longer feel pleasure. Based on your answers your doctor can decide 
                whether you have Anhedonia. This will also include more assessments 
                and further tests if your health care provider believes necessary to 
                rule out any other underlying sicknesses that might be causing Anhedonia.</p>
                
            <p>This diagnosing process will include lab tests and physical symptom processes. 
                If an underlying issue is detected, such as depression, you will receive 
                treatment options from your doctor.</p><br>
            
            <h2 class="mt-3" id="topic-7">Treatment</h2>
            <p>There is no clear or direct way of treating Anhedonia. 
                First of all, the treatment depends on what is causing the lack of interest, 
                if there is any. However, like any other mental health issue, the 
                faster and without delay the treatment is, the better the chances 
                are at fast recovery.</p>
            <p>It is not a smart thing to seek treatment based on assumptions or through 
                over the counter drugs and medications. This is specifically important 
                when you are seeking to treat an issue such as anhedonia, due to the fact 
                that there can be several underlying causes for this issue. Thus, 
                the primary step is to seek the help of a health care provider, share 
                your concerns and receive a proper diagnosis. Based on the factors of your 
                diagnosis, your treatment differs from one another. In the case, you do 
                have an issue such as depression, psychosis that disrupts your mental 
                health, your health care provider will most probably recommend therapy 
                and counselling. However, if they find a more serious medical issue that 
                can not be helped by therapy alone, they may guide you towards other 
                treatment methods.</p><br>
            <p><img class="img-fluid" loading="lazy" src="../../images/Lack-of-interest-Epsychiatry-3-1.webp" alt=""></p>
            
            <h2 class="mt-3" id="topic-8">Therapy and counselling for Anhedonia</h2>
            <p>A combination of therapy and psychotic drugs can treat those with anhedonia. 
                If the patient has anhedonia due to depression, anti-depressant drugs, 
                as well as the methods to deal with depression, are used with the guidance 
                of a therapist. There are many different options when it comes to choosing 
                a therapist. You can choose to receive therapy online, or having one-on-one 
                talks with a therapist you trust.</p>
            <p>Talk therapy is an effective treatment method when it comes to helping 
                those that are suffering from Anhedonia. However, you will have to find a 
                therapist you feel comfortable opening up to. You are unlikely to feel 
                like they will help because of your general belief that nothing good can 
                happen to you. You will need to look past these lack of interest symptoms, 
                at least momentarily until you find and settle to a therapists guidance. 
                Online therapy can be a good way to start to get past these difficulties.</p>
            <p>If you are having trouble finding a therapist, you can ask your doctor for 
                recommendations. However, you may have to try a few therapists before you 
                find one that you feel will help you better. If this process is hard for 
                you and you are overcome with negative feelings that keep you from 
                reaching out for help, involve your family in the process. They can 
                notice your growth and progress and accordingly decide which 
                <a href="https://epsychiatry.com.au/clinicians/">therapists </a>
                help better.</p><br>

            <h2 class="mt-3" id="topic-9">Medication and medicine for Anhedonia</h2>
            <p>Medication and other drugs can be prescribed by your doctor to help you deal 
                with issues such as depression. Basically, the point is to try and treat the
                 root cause which is causing Anhedonia. Even though these medications have 
                 been successful up to some point, there have also been reports of side 
                 effects. Common side effects of prescription medication such as lethargy 
                 and numbness can be an added issue when it comes to Anhedonia since 
                 numbing makes the overall problem worse.</p>
                 
            <p>Based on your situation and diagnosis, the amount and the frequency that 
                you should take medication is something your doctor will convey to you 
                and it is important you follow these steps so. It may help you reduce 
                inconveniences if you already know of the side effects of the medications. 
                Make sure you ask your doctor and clear any doubts. Also, let them know 
                if you feel any more issues than previously expected. Dosage may need to
                change and adjust. The issue with mental health problems is that the 
                condition can change overnight. In other words, make sure you report 
                to your doctor any changes you might notice.</p>
                
            <p>Except for these options, other methods doctors use to treat depression such 
                as ECT also show successful results on patients. However, the most important
                 thing to understand is that Anhedonia can easily be a situation that 
                 happens without any other underlying cause or an illness. Most of the 
                 methods are wrapped around the general idea of depression because most 
                 people with Anhedonia are depressed or the sickness is depressing them. 
                 Nonetheless, treatment changes given the circumstances. It is essential 
                 that you 
                 <a href="https://epsychiatry.com.au/contact-us/">meet a doctor</a> 
                 to decide on what is best for you.</p><br>

            <h2 class="mt-3" id="topic-10">Overcoming the effects 
                of Anhedonia/ Lack of Interest</h2>
            <p>Anhedonia can be a major setback in life. Happiness, joy, contentment, love, 
                reassurance and the sense of value are the feelings humans crave for. 
                Being unable to feel any of this, but feeling all sorts of sadness and 
                disappointment and have no way of feeling better can surely feel like hell. 
                Recovering from Anhedonia is possible but is not easy. Not to mention, 
                the effect it can have on all your relationships and the things you value 
                the most. One of the fatal mistakes one do is thinking that this is who 
                they are, they just can’t be happy and are naturally sad people and not 
                reach out for help. Those that experience anhedonia are more likely to 
                blame themselves, shame themselves and suffer alone.</p>

            <p>If you are reading this, we are your assurance that you have a perfectly 
                fixable issue. It may require work, but you are a happy person who deserves 
                to be so. Thus, get the help you need so you can turn your life around and 
                win back the people you lost.</p><br>

            <h3><strong>Helping yourself with Anhedonia</strong></h3>
            <p>Follow these steps to keep your cool while you take steps into recovery. 
                Remember, that consistency is important for you to win this war.</p>
            <ul>
                <li>Follow up with doctors appointments and medication as prescribed.</li>
                <li>Invest yourself in therapy and play an active role in getting better.</li>
                <li>Talk to your loved ones about your issue. Have a circle you can trust to 
                    understand you.</li>
                <li>Do not let yourself go astray. Eat right. Sleep right. Get in that workout. 
                    You are currently working on your mental health. Your physical fitness is 
                    essential for that journey.</li>
                <li>Find comfort in things. It may be difficult to feel joy, but it can’t hurt 
                    to listen to soothing music and lie on the beach when the sunsets.</li>
                <li>Don’t let yourself go astray from your family and friends. Force yourself 
                    to focus and involve in things. Remember, mental health issues do not 
                    have the answers in medicine. It is mostly about training your mind to 
                    feel what you want.</li>
                <li>Take it easy on yourself. Your condition deprives you of happiness, 
                    and that can be exhausting.</li>
                <li>Read and learn about your condition. Understand that stress can be exemplified
                     because nothing can make you feel better. Avoid stressful 
                     situations as much as you can.</li>
                <li>Let yourself feel reassured. Pay attention to the good things people say about you. 
                    Try and make sense of it. Absorb the positivity.</li>
            </ul><br>

            <h3><strong>Helping someone with Anhedonia</strong></h3>

            <p>Loving and caring for someone who doe not know how to be loved can be a very 
                exhausting and disappointing situation. Especially if that person once used 
                to be the most loveable before being diagnosed with Anhedonia. It takes a 
                lot of faith to keep loving someone when they have no idea how to accept 
                it or return it. However, they need that faith right now. It is important 
                that you understand that they can not help how they feel and their emotional 
                shortcomings. You giving up on them can stand against their progress. 
                Here are a few ways to help someone with Anhedonia.</p>

            <ul>
                <li>Patience. This is probably the most important thing when it comes to dealing 
                    with someone who is unable to be interested in things that you 
                    are most passionate about.</li>
                <li>Faith. You need to believe that they will get better and help them through that journey.</li>
                <li>Remember that if it is hard for you, it is harder for them. Not only do they not feel
                     happiness, but they do feel all the negative emotions. They have nothing to 
                     combat those with.</li>
                <li>Make sure they follow up with the treatment. With Anhedonia they can 
                    easily feel like nothing can help them. Someone that they know and 
                    trust in their corner rooting for them is essential for them to keep 
                    pushing.</li>
                <li>Show no difference. They can easily feel worthless and that they 
                    are hopeless creatures so you making it obvious that they are hurting 
                    you will only make things worse and throw them into more depression.</li>
                <li>Educate others about his condition so they do not make him uncomfortable 
                    or make him feel worse.</li>
                <li>Reassure them and love them despite them not feeling it. When the 
                    medication and therapy work, real-life scenarios can be a further 
                    push in eliminating Anhedonia.</li>
            </ul>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>