<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Narcissism | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Narcissism</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Narcissism</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What’s narcissism?</a>
                    <a href="#topic-2" class="nav-link">When is narcissism a problem?</a>
                    <a href="#topic-3" class="nav-link">What is the difference between Narcissism and Narcissistic Personality Disorder?</a>
                    <a href="#topic-4" class="nav-link">What are the signs of narcissism?</a>
                    <a href="#topic-5" class="nav-link">What are the causes of narcissism?</a>
                    <a href="#topic-6" class="nav-link">Why do narcissists think this way?</a>
                    <a href="#topic-7" class="nav-link">Self-management</a>
                    <a href="#topic-8" class="nav-link">Relationships with a narcissist</a>
                    <a href="#topic-9" class="nav-link">How can a psychologist help?</a>
                    <a href="#topic-10" class="nav-link">Sources:</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>We often hear the label “narcissist” thrown around to describe people who act 
                selfish and self-obsessed. While most of the time they may not really be 
                narcissists, there are cases when it can become a full-blown personality
                 disorder. Much of the time, the people who use the word “narcissist” don’t 
                 really know what it means. Even if it may be true, we need to avoid 
                 throwing labels around without knowing what narcissism means. It can 
                 distract people from realizing they may be in need of psychological help.</p>
            <p>Regarding narcissism, there are different types. It even has its own personality 
                disorder when the symptoms are severe. There’s a whole psychoanalytic theory 
                about the topic. So we’ll look into narcissism as a trait and how identifying 
                it can be the next step to getting help for everyone involved. </p><br>

            <h2 class="mt-3" id="topic-1">What’s narcissism?</h2>
            <p>In Greek mythology, Narcissus was a man who fell in love with his own reflection 
                in a pool of water. But when he tried to embrace his image, he fell into the 
                water and drowned. As far-fetched as the story maybe, this was where the term 
                “narcissism” came from. According to Freud, the father of modern psychology, 
                narcissism refers to when a person’s mental energy is directed towards their
                 own ego rather than others. Alike to Narcissus, these kinds of people are 
                 preoccupied with their self-image, primarily.</p>
            <p>Freud’s use of the term narcissism was used interchangeably with self-esteem, 
                which is no longer the case. Now, it is a trait to describe people who 
                act extremely self-involved, with blatant disregard for others. The only 
                time they do care about others is when it involves themselves.</p>
            <p>Anyone can present with narcissistic behaviours every now and then. You 
                may feel the need to be defensive over your mistakes because it can be 
                hard to accept the blame for yourself, even if you know it’s your fault. 
                You may want the attention of a loved one and cling to every chance you 
                can get for yourself, even if it means manipulating the situation. But 
                these traits can fade in time. You can still see reason after acting this 
                way. People with pathological narcissism, however, have a harder time 
                being convinced.</p><br>

            <h2 class="mt-3" id="topic-2">When is narcissism a problem?</h2>
            <p>Narcissists may not present with these traits when you first meet them. But 
                if you have been interacting with them long enough, it will eventually become 
                apparent. You may begin to notice that they say things that devalue you. 
                They may try to manipulate you. They start to enforce the idea that they 
                are superior to you and others. It may be obvious or very subtle most of 
                the time. But later, these traits become undeniable and affect their 
                relationships with people.</p>
            <p>It’s been said that being with a narcissist is like being arrested. 
                Everything you say can and will be used against you. When you argue with 
                a narcissist, they can make it feel like everything is your fault. 
                Some people, begin to believe it and blame themselves. But in actuality, 
                narcissists lack the capacity to take responsibility for their mistakes. 
                While merely a personality trait, narcissism can negatively affect 
                people around them in destructive ways.</p><br>

            <h2 class="mt-3" id="topic-3">What is the difference between Narcissism and Narcissistic Personality Disorder?</h2>
            <p>Narcissism is a trait and personality disorder are different. Most people can 
                manifest narcissistic behaviour once in a while. Some people can be 
                manipulative. Some can be full of themselves after achieving something 
                important to them. But they can return to their normal behaviour after 
                a time. It’s still easy to convince them that what they are doing is 
                harmful to others. Then they can begin to fix their behaviour.</p>
            <p>But when this trait becomes pathological, it can develop into a full-blown 
                personality disorder. Pathological narcissism is defined by its frequency, 
                intensity, and duration. It is frequent when it happens more often than 
                what is normal in other people. It is intense when it affects their 
                relationships and work. The behaviour persists in other contexts, whether 
                it’s at work, at home, or online. The duration refers to the behaviours 
                being there for a long time. Even when someone tells them their behaviour 
                is harmful, they still have not changed.</p>
            <p>Narcissistic Personality Disorder is a psychological disorder with narcissistic 
                characteristics fitting its DSM-5 criteria. This criterion includes the 
                frequency, intensity, and duration of the symptoms. Where people can show 
                narcissistic behaviours from time to time, Narcissistic PD is consistently 
                there. They do not see a problem with their behaviour and refuse to be 
                convinced otherwise.</p><br>            

            <h2 class="mt-3" id="topic-4">What are the signs of narcissism?</h2>
            <p>While it can be hard to pinpoint what counts as narcissistic behaviour from 
                what’s normal. Much of the time, if it’s someone we love, we might choose 
                not to see it. Narcissists usually do not see their behaviour as a problem. 
                Usually, they blame someone else when things go wrong. This can become a 
                problem and affect their relationships. If you or anyone you know present 
                with the following characteristics, it is important to have them seek help 
                for their behaviour. Especially when it begins to 
                severely affect their life:</p>

            <ul>
                <li>Strong sense of entitlement</li>
                <li>Inflated sense of self-importance</li>
                <li>Manipulative behaviour</li>
                <li>Preoccupied with self-image</li>
                <li>Excessive need for praise</li>
                <li>Lack of empathy</li>
                <li>Easily envious</li>
                <li>Extreme arrogance</li>
            </ul>

            <p>Narcissism can manifest in two ways: grandiose or vulnerable narcissism. 
                Grandiose Narcissists believe they are superior to others. They can be 
                aggressive, dominant, and have an inflated sense of entitlement. When you 
                criticize them, they cope by telling themselves that your opinions are of 
                less value than theirs. This often makes people feel invalidated.</p>
            <p>On the other hand, Vulnerable Narcissists shift between feeling inferior and 
                superior to people. If you criticize them, they get offended and neglected. 
                As a response, they may withdraw socially, cut you off, or act aggressively. 
                This can make others feel like they are the ones at fault.</p><br>

            <h2 class="mt-3" id="topic-5">What are the causes of narcissism?</h2>
            <p>The cause of narcissistic behaviours can stem from how the person was raised. 
                When they were growing up, he/she likely withdrew within themselves. In other 
                words, they began to live in a world of their own. This resulted in their 
                lack of grounding to reality. Thus inflating their fantasies of being 
                superior, special, and self-important.</p>
            <p>For Grandiose Narcissists, they were raised believing they were special and 
                above others. They learned people love them for being special and are 
                entitled to be loved by others because they are. You can see these traits 
                in elitists, racists, and people who generally discriminate against others 
                for who they are.</p>
            <p>Vulnerable Narcissists grew up in a household of abuse or neglect. They are 
                more sensitive because they learned they were lacking in something important. 
                In reality, they did not have the love they wanted from their caregivers. 
                This resulted in them doing whatever they can to cling to the love they 
                wanted all their lives, at any cost. You can see this in people who are 
                manipulative and need excessive amounts of praise to be happy. While it 
                is normal to want reassurance, these people tend to ask for it excessively.</p><br>

            <h2 class="mt-3" id="topic-6">Why do narcissists think this way?</h2>
            <p>Even at a subconscious level, they feel vulnerable and incompetent. Some of 
                them value themselves based on the amount of “love” they get from others. 
                To cope with these feelings, they must have a steady supply of love and 
                attention. If they cannot maintain this supply, they will do whatever it 
                takes to keep it. Even at the cost of another person’s feelings.</p>
            <p>As a result, they can be obsessed with their own image. They need to be 
                viewed as someone with no flaws or faults. They’re afraid if people see 
                through them, they will be considered a lesser person. Thus making them 
                conclude that they will no longer be loved if they are not their ideal 
                self. So on the outside, they are manipulative people with no regard for 
                others. But on the inside, they’re scared of being unloved and left behind.</p>
            <p>To cope, many of them have altered perceptions. They tend to dismiss or deny 
                experiences that don’t fall in line with their idea of superiority. If they 
                do something wrong, they shift blame to others because, in their mind, they 
                can do nothing wrong. Even if they subconsciously think they’re wrong, 
                they’ll project it onto someone else before admitting it. This stems from 
                their belief that if they are flawed, they will no longer be loved.</p><br>
            
            <h2 class="mt-3" id="topic-7">Self-management</h2>
            <p>If you’re someone dealing with a Narcissist, it’s important to evaluate how 
                someone like this entered your life and how to look out for yourself. You 
                will have to change your dynamic with them and seek to correct some 
                narcissistic behaviours. But that is not to say that you should sacrifice 
                your self-care for them!</p>
            <p>It is important to consider that you may be someone that attracts these types 
                of people. Narcissists prefer people who make it easy for them to manipulate. 
                These are people who are dependent on others, have a deflated sense of 
                self-esteem, and are quick to sacrifice their well-being for others. 
                While it may be a good trait to be modest and selfless, you must draw 
                the line where it can hurt you. If you allow narcissists to keep you in 
                a world where they are free to act this way, it will be harder for both 
                of you to get out of it.</p>
            <p>Narcissists can change. But it is difficult for them to believe their 
                behaviour is wrong. They are usually satisfied with themselves. So 
                they do not come in for counselling, even when their relationships 
                are failing. They only admit there is a problem when the effects of 
                their behaviours become too severe. Like if they feel like they have 
                been abandoned and are suffering emotionally. When recognized early, 
                you can prevent it from becoming a full-blown disorder.</p>
            <p>If you see these Narcissism traits in yourself, you can re-evaluate 
                your self-image and focus more on compassion towards others. You need 
                to see not only yourself as deserving of love, but others as well.  
                But more importantly, you need to love yourself for all your flaws. 
                Self-worth shouldn’t come from how much praise and attention you 
                receive from others. It is good to be self-aware of your actions and 
                know when it is negatively affecting others. Seeing a counsellor can 
                help with finding self-awareness and dealing with your 
                fears and anxieties.</p><br>
                
            <h2 class="mt-3" id="topic-8">Relationships with a narcissist</h2>
            <p>Have you ever felt disappointed because your partner is different from 
                when you started? Have you ever been left confused and hurt after they 
                argue, then blame you? Do you ever felt frustrated that their mood can 
                change so quickly? Have you ever felt unimportant or that they don’t 
                care about you?</p>
            <p>Whether it’s a romantic, familial, or friendly relationship, being 
                involved with a narcissist can be mentally exhausting. They may have 
                started out as charismatic, and charming people, but as time went by, 
                their behaviour became more hurtful. It can feel like the most important 
                thing to them is themselves. If they are a narcissist, it probably is.</p>
            <p>You may have heard about the word “gaslighting” being thrown around to 
                describe toxic relationships. Gaslighting refers to psychological abuse 
                by making a person question their own sanity or reality. This is common 
                in toxic relationships because of the manipulative and abusive nature of 
                narcissism. There may have been times you thought you were always wrong, 
                and always had to apologize. Even then, your excuses would still be met 
                with more conflict and guilt.</p>
            <p>The next step is to figure out if you want to continue being with a narcissist 
                or leave the relationship. If both of you sincerely want a healthy and happy 
                relationship, it may be worth working out. But not at the cost of your 
                own happiness. Choosing to not address their behaviour or yours will not 
                be helping anyone.</p><br>

            <h2 class="mt-3" id="topic-9">How can a psychologist help?</h2>
            <p><a href="https://epsychiatry.com.au/contact-us/">Help</a> is never beyond anyone, even those with narcissistic behaviour. While 
                they may not qualify for a personality disorder, it would still be beneficial 
                to seek professional help. The fact they only present with the behaviour 
                occasionally means they may still be able to change and listen to reason.</p>
            <p>A psychologist or therapist can help bring to light the root cause of their 
                irrational beliefs and help fix their coping mechanisms. They would also 
                be able to correct any harmful behaviours to help them interact better with 
                others.</p>
            <p>Mental help isn’t just for people with problematic behaviours. It is also for 
                people dealing with narcissists. A <a href="https://epsychiatry.com.au/clinicians/">psychologist</a> can help you figure out what 
                your next step would be and how to take care of yourself. Many people who 
                are subject to narcissistic relationships are in danger of compromising 
                their well-being. This can already be an indication of psychological 
                counselling.</p>
            <p>Even though you may be dealing with a narcissist and want them to stay in 
                your life, this doesn’t mean that you cannot be happy. The narcissist may 
                never change their behaviour, but you can still hope for a happier life. 
                Therapy for those dealing with narcissists consists of:</p>
            <ul>
                <li>Identifying and finding the “how”s and “why”s of narcissistic 
                    behaviour. Those dealing with narcissists often think it is 
                    their fault.</li>
                <li>Rebuild self-esteem. Victims of narcissists are usually those with 
                    low self-esteem</li>
                <li>Setting boundaries or changing the dynamics of the relationship. This 
                    may be changing the dynamics by having a talk with the narcissist or 
                    ending their relationship.</li>
                <li>Recognize the effects of the narcissist on the victim’s thoughts and feelings.</li>
                <li>Making healthy coping mechanisms that don’t feed into the narcissists’ behaviour.</li>
                <li>Psychological screening for any mental health issues and planning your next steps.</li>
            </ul><br>

            <h2 class="mt-3" id="topic-10">Sources:</h2>
            <ol>
                <li><a href="https://www.thehartcentre.com.au/what-is-narcissism-and-what-is-narcissistic-behaviour">Hart, J. (n.d.). What is Narcissism and what is Narcissistic behaviour?.
                    Retrieved 4 May 2021</a></li>
                <li><a href="https://www.goodtherapy.org/learn-about-therapy/issues/narcissism">Narcissism / Narcissistic Personality. (2019). Retrieved 4 May 2021</a></li>
                <li><a href="https://www.webmd.com/mental-health/narcissism-symptoms-signs">Narcissism: Symptoms and Signs. Retrieved 4 May 2021</a></li>
                <li><a href="https://www.psychologytoday.com/us/blog/communication-success/201908/difference-between-narcissist-vs-narcissistic-behavior">Ni, P. (2019). Difference Between a Narcissist vs. Narcissistic Behavior.
                    Retrieved 4 May 2021</a></li>
                <li>Sadock, B., Sadock, B., Sadock, V., & Ruiz, P. (2015). Kaplan & Sadock’s
                    synopsis of psychiatry. Philadelphia: Lippincott Williams & Wilkins.</li>
            </ol>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>