<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Paranoid Personality Disorder | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Paranoid Personality Disorder</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Paranoid Personality Disorder</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Paranoid Personality Disorder (PPD) vs Mistrust</a>
                    <a href="#topic-2" class="nav-link">Signs & Symptoms</a>
                    <a href="#topic-3" class="nav-link">Causes</a>
                    <a href="#topic-4" class="nav-link">Risk Factors</a>
                    <a href="#topic-5" class="nav-link">Diagnosis</a>
                    <a href="#topic-6" class="nav-link">Relationship with…</a>
                    <a href="#topic-7" class="nav-link">Treatment</a>
                    <a href="#topic-8" class="nav-link">What can a mental health professional (i.e. psychiatrists, psychologists, & therapists) do?</a>
                    <a href="#topic-9" class="nav-link">Prognosis</a>

                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <p>We can experience “paranoid” in our daily lives. It can show when we feel a 
                sense of uncertainty. For example, when you read too much into a friend’s
                 message, thinking there’s a deeper meaning to it. When you clutch tightly 
                 to your bag in a crowded area. Or when you hear rumours in your workplace 
                 and wonder if you can trust your co-workers. That’s paranoia. That’s 
                 different from a paranoid personality disorder, which is also different 
                 to mistrust.</p>
            <p>There’s an amount of mistrust that is understandable– maybe even healthy. 
                In the same way, we shouldn’t trust everything we read, we don’t have 
                to trust everyone we meet. But when this mistrust starts to negatively 
                affect your relationships and everyone you meet, it becomes a problem.</p><br>

            <h2 class="mt-3" id="topic-1">Paranoid Personality Disorder (PPD) vs Mistrust</h2>
            <p>Mistrust means to be suspicious of something. When we are in a new situation, we 
                tend to be careful. We keep an eye on our drinks when we go to bars. We greet 
                new people with a handshake and keep them at arm’s length until we know more 
                about them. To be suspicious of new things is to be cautious. It may differ 
                between cultures, but keeping our guard up is a good trait that always helps 
                us to survive.</p>
            <p>PPD, on the other hand, is more than just distrusting people. It’s maintaining 
                these beliefs that people are against them for a long time. Because of this, 
                they can be seen as hostile and quick to anger. Rather than believing their 
                personality is a problem, they will push 
                responsibility and blame onto others.</p><br>

            <h2 class="mt-3" id="topic-2">Signs & Symptoms</h2>
            <p>The most extensive and characteristic symptoms of PPD are distrust and 
                suspiciousness towards others. They can be easily irritable and hostile. 
                For example, they may think their partner is cheating on them. Despite 
                telling them they are not– even if there’s proof– they won’t believe it 
                and continue to suspect them.</p>
                <p>Their spouses or employers are usually the ones who tell them to get 
                    professional help. But they’re capable of pulling themselves together 
                    and covering up their distress, making therapy a challenge. It may be 
                    possible that you or a person you know is going through PPDr if they 
                    present the following:</p>
                <ul>
                    <li>Suspecting others</li>
                    <li>Conversations usually consisting of doubts about their friends’ loyalty and trust</li>
                    <li>Hesitant in opening up to others </li>
                    <li>Finds demeaning, or threatening meanings behind what people say</li>
                    <li>Carries grudges even towards small events</li>
                    <li>Hypervigilant towards insults and threats, and are quick to counterattack</li>
                    <li>Several instances of suspicions towards their partner</li>
                </ul><br>

            <h2 class="mt-3" id="topic-3">Causes</h2>
            <p>Mental disorders are biopsychosocial in nature. Meaning, there are physical, 
                psychological, and social influences that contribute to its development. 
                There are many theories as to how PPD arises in people. So there are 5 models:</p><br>            
            <h4><strong>Psychodynamic</strong></h4>
            <p>Paranoia is a person’s outward projection of inward conflict. Projection means they 
                see people the same way they see themselves. Their paranoid beliefs come from the 
                gap between their negative view of themselves and their positive self-concept. 
                As a result, they project this negative view towards others and believe it is 
                their fault when things go wrong instead of their own.</p>
            <p>Often, they do splitting. Splitting is categorizing people in absolutes, such 
                as good vs. bad, with no room for grey areas. It is easier to believe someone 
                can only be good or bad, rather than consider they may be something in 
                between. So those with paranoid beliefs will treat people according to 
                those beliefs. If you give them any reason to think you’re a bad person, 
                they will automatically brand you as one. Even if they do see you as a 
                good person, they will still have suspicions that you are capable of 
                hurting them.</p>
            <h4><strong>Cognitive</strong></h4>
            <p>Persons with paranoid personality disorder have low self-efficacy and 
                believe others are evil. This brings about their belief that they are 
                vulnerable and easy to manipulate. Thus, they are always on their guard 
                and afraid to get close to anyone. They believe that opening up can lead 
                to others using that information against them.</p>
            <p>Additionally, they also jump to conclusions. When you stop smiling at them 
                or behave differently, they might assume that you are mad at them. A more 
                extreme example is when you stop talking to them for a while and they 
                accuse you of plotting against them.</p>
            <h4><strong>Social Cognition</strong></h4>
            <p>According to studies, lower social rank can lead to paranoia. When people 
                think of themselves to be in a lower social standing than another person, 
                they are likely to have antagonistic behaviour. This is a result of the 
                self-consciousness that you feel when talking to an older person, your 
                boss, or your parents. This may be a normal feeling for most people. But 
                people with Paranoid PPD tend to feel, even on a subconscious level, that 
                they are at a lower standing than others. This can make them feel like they 
                are prone to personal attacks.</p>
            <p>People with PPD use avoidance responses to escape situations when they feel 
                like others judge them. This avoidance causes them to feel lonely with 
                their thoughts. Thus sustain their paranoid ideations. </p>
            <h4><strong>Biological</strong></h4>
            <p>Antipsychotic drugs that block the D2 receptors of the brain can suppress 
                these avoidance responses in people with PPD. They learn to use these 
                responses to cope with situations. By suppressing the D2 receptors, which 
                are associated with learning and memory, it can be possible to block or 
                lessen the flow in this learning pathway.</p>
            <p>In studies involving electroencephalograms (EEG), it was suggested that those 
                with PPD experience hypervigilance. They have a strong sense of alertness 
                and are constantly on their guard, especially when interacting with others. 
                Oftentimes, the dangers hypervigilant people are alert to are not real.</p>
            <p>A genetic relationship also exists between relatives with affective disorders 
                and delusional disorder and PPD. This implies some people are more 
                genetically susceptible to developing a PPD. They are likely to develop 
                PPD if there are enough risk factors and related events present to bring 
                about the symptoms.</p><br>
            <h2 class="mt-3" id="topic-4">Risk Factors</h2>
            <p>Interactions between the biological, psychological, and social aspects of 
                people bring Personality disorders. There are several risk factors that 
                increase the chances of someone having this disorder. It is important to 
                look out for these risk factors in friends and family to give them 
                early if possible:</p>
            <ul>
                <li>Childhood trauma</li>
                <li>Emotional or physical neglect</li>
                <li>Neglectful parenting styles in childhood</li>
                <li>Physical and/or sexual abuse</li>
                <li>Brain trauma</li>
                <li>Being hard of hearing</li>
            </ul><br>

            <h2 class="mt-3" id="topic-5">Diagnosis</h2>
            <p>There are no diagnostic lab tests that can use to diagnose personality 
                disorders. You can make the diagnosis of PPD from the DSM-5 criteria after 
                a thorough psychiatric examination. The most characteristic symptom is 
                their constant distrust and suspiciousness towards people. We say 
                “persistent” because the paranoia must have been there for a time and 
                affecting their daily lives.</p>
            <p>Usually, the symptoms manifest in early adulthood. We usually can’t see 
                personality disorders in children or teens because these are the formative 
                years of personality. They still have time to change the bad habits they 
                may have. What is more important in those years is learning to build healthy 
                coping styles and recognizing early signs for disorders.</p><br>

            <h2 class="mt-3" id="topic-6">Relationship with…</h2>
            <h4><strong>Schizophrenia</strong></h4>
            <p>While they may share the same features of having strong beliefs of torment, 
                those with paranoid PPD are capable of “reality testing”. Reality testing 
                is our ability to stay grounded so that our beliefs are within the realm of 
                possibility. Where those with schizophrenia may believe the government is 
                out to get them, those with PPD believe their friends do not like them. 
                They also do not present with hallucinations, a symptom characteristic of 
                schizophrenia.</p>
            <h4><strong>Borderline personality disorder</strong></h4><br>
            <p>PPD is often comorbid with other personality disorders. This is one of 
                the most serious ones. Borderline Personality Disorder can increase the 
                risk of suicidal ideation and attempts. Often mistaken for the other, 
                Borderline PD patients are capable of forming overly involved relationships. 
                Those with PPD have troubles with relationships.</p>
            <h4><strong>Delusional disorder (persecutory type)</strong></h4>
            <p>This is another disorder mistaken for PPD. This means that no matter what 
                proof they see, their irrational beliefs will still be there. Whereas, 
                those with PPD may be convinced to an extent that their beliefs are 
                irrational.</p>
            <h4><strong>Depressive or bipolar disorder (with psychotic features)</strong></h4>
            <p>People with PPD are more susceptible to developing depression. Relatives who 
                have depression are more likely to have a genetic relationship with PPD than 
                schizophrenia. Moreover, with depression, suicidal ideations and attempts 
                can increase in likelihood. This emphasizes the importance of early 
                intervention before developing more severe symptoms.</p><br>
            
            <h2 class="mt-3" id="topic-7">Treatment</h2>
            <p>Treatment for PPD, like other personality disorders, involves psychotherapy 
                more than medications. Ultimately, the treatment of choice is psychotherapy. 
                The therapies should always tailor to each client:</p>
            <h4><strong>Cognitive Behavior Therapy</strong></h4>
            <p>This therapy is used for many mental disorders, especially for personality 
                disorders. For those with Paranoid Personality Disorder, it is important 
                this is individualized and long-term. This is also effective for those 
                with affective disorders and anxiety. Therapists try to reduce 
                suspicious thoughts, tension, anxiety, and depressive symptoms in 
                their clients. The activities in this therapy can be derived from 
                its name, “Cognitive Behavioral.” It can involve behaviour and thought 
                to monitor. This is when the therapist and the client identify the 
                maladaptive behaviours and irrational thoughts associated with them. 
                They also have relaxation skills training to reduce the anxiety symptoms 
                they feel when interacting with people.</p>
            <h4><strong>Mentalization-based Treatment</strong></h4>
            <p>This therapy makes use of approaches from psychodynamic therapy, 
                cognitive behavioural therapy, and interpersonal psychotherapy. It focuses 
                on skills in “mentalizing”. Mentalizing is a person’s capability to empathize 
                and read into their own and others’ behaviours in a realistic way.</p>
            <h4><strong>Self-help</strong></h4>
            <p>It may be difficult to find support groups or communities appropriate for 
                people with Paranoid Personality Disorder. This is because the core 
                characteristic of the disorder is their distrust towards others. It might 
                be hard to have them go through therapy, let alone a support group.</p>
            <h4><strong>Medications</strong></h4>
            <p>Using medications can help with other symptoms. For example, anti-anxiety 
                medications can be prescribed for those with severe anxiety symptoms. 
                Antipsychotic medications can be prescribed for those who are severely 
                agitated and having delusional thoughts, who may be a threat to themselves 
                and others. These are not routinely given and discouraged for clients 
                with Paranoid Personality Disorder unless necessary.</p><br>
                
            <h2 class="mt-3" id="topic-8">What can a mental health professional (i.e. psychiatrists, psychologists, & therapists) do?
            </h2>
            <p>These <a href="https://epsychiatry.com.au/clinicians/">mental health professionals</a> 
                are trained and certified to do 
                evidence-based psychotherapy. They approach each client differently. 
                In general, their approach towards people with paranoid personality disorder 
                requires straightforwardness, honesty, and consistency. Excuses will only 
                make the client doubt the therapist. Rather than a warm style, they adopt 
                a more professional approach because intimacy is an area of difficulty for 
                these clients.</p>
            <p>Interpreting a clients’ feelings and relationships is avoided because it can 
                increase mistrust towards the therapist. The therapist also places limits on 
                their actions to avoid any conflicts with the client. Oftentimes, the client 
                may make delusional accusations towards the therapist. But they are equipped 
                to handle this with gentle understanding and patience. Unlike other mental 
                disorders, paranoid personality disorder will make it hard for the therapist 
                to set support systems for the client. Most of the time, they cannot do 
                family or group therapy. However, mental health professionals can keep the 
                events of therapy confidential and individualized for the client to make 
                them more comfortable.</p>
            <p>Psychiatrists are medical doctors who are licensed to give medications to 
                alleviate comorbid symptoms such as anxiety and depression. But the 
                prescription of drugs is usually avoided for clients with Paranoid Personality
                 Disorder. It can make the client suspicious and ultimately quit the 
                 treatment plan. If they must be given, it will be for a short time. 
                 Psychiatrists also have a good understanding of the neurobiological 
                 factors of the disorder, making them prepared to help clients understand 
                 their symptoms.</p><br>

            <h2 class="mt-3" id="topic-9">Prognosis</h2>
            <p>Paranoid Personality Disorder can be a great cause of disability. With the 
                instability of forming relationships and the tendency to emotionally isolate 
                themselves, persons with this disorder are likely to develop comorbid 
                disorders. This is also the personality disorder with the strongest tendency 
                to act aggressively towards others. It has been associated with acts of 
                violence, stalking, and involvements in legal cases. This makes them a 
                possible threat to themselves and others.</p>
            <p>Because they find it hard to take responsibility for their actions, it becomes 
                challenging to convince them that they have a problem. In the end, they do 
                not seek help. Even if they do find help, they rarely cooperate. This results 
                in a negative prognosis, even with psychiatric treatment. But getting treatment 
                is still better than allowing the symptoms to persist. If you or a friend, 
                family, or loved one is experiencing these symptoms, 
                please <a href="https://epsychiatry.com.au/contact-us/">refer</a> them to a 
                mental health professional to improve their outcomes and quality of life.</p><br>
            <h4><strong>Sources:</strong></h4>
            <p>Lee, R. (2017). Mistrustful and Misunderstood: a Review of Paranoid 
                Personality Disorder. Current Behavioral Neuroscience Reports, 4(2), 
                151-165. DOI: 10.1007/s40473-017-0116-7</p>
            <p>Matusiewicz, A., Hopwood, C., Banducci, A., & Lejuez, C. (2010). The 
                Effectiveness of Cognitive Behavioral Therapy for Personality Disorders. 
                Psychiatric Clinics Of North America, 33(3), 
                657-685. DOI: 10.1016/j.psc.2010.04.007</p>
            <p>Paranoid Personality Disorder. Retrieved 29 April 2021, from 
                https://psychcentral.com/disorders/paranoid-personality-disorder</p>

        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>