<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Social Anxiety Disorder | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="color: #3D4259 !important;">Social Anxiety Disorder</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li class="breadcrumb-item"><a href="anxiety-treatment.html">Anxiety</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Social Anxiety Disorder</li>
            </ol>
        </nav>
    </div>
</section>


<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is Social Anxiety Disorder?</a>
                    <a href="#topic-2" class="nav-link">Defining Social Anxiety Disorder</a>
                    <a href="#topic-3" class="nav-link">Who gets Social Anxiety Disorder?</a>
                    <a href="#topic-4" class="nav-link">Diagnosing Social Anxiety Disorder</a>
                    <a href="#topic-5" class="nav-link">When should you get help for social anxiety?</a>
                    <a href="#topic-6" class="nav-link">What causes social anxiety?</a>
                    <a href="#topic-7" class="nav-link">Treatment for social anxiety disorder</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <h2 id="topic-1">What is Social Anxiety Disorder?</h2>
           <p>It is a long term; overwhelming worry or fear of social situations that usually starts during the teenage
               years. Social Anxiety Disorder is a very common condition.</p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry Services Social Anxiety Disorder 1-min.webp" alt="Epsychiatry-Services-Social-Anxiety-Disorder-1"></p>
            <p><br></p>

            <h2 id="topic-2">Defining Social Anxiety Disorder</h2>
            <p>Social Anxiety Disorder is a persistent fear or anxiety about a social situation that is out of the
                actual threat. It is a fear of being judged, negatively evaluated or rejected. People with social
                anxiety disorder worry about human interactions before and after the incident.</p>
            <h4 class="mt-3"><strong>Telling Social Anxiety Disorder apart from Shyness</strong></h4>
            <p>Social anxiety is different from shyness which is short term and not disruptive. That is to say, shyness
                by definition is not tiring and shouldn’t impact life. On the other hand, social anxiety gets in the
                way of school, work and making connections with people.</p>
            <h4 class="mt-3"><strong>Overlap between Social Anxiety Disorder</strong></h4>
            <p>Certainly, there is a significant overlap between Social Anxiety Disorder and other mental health
                conditions. The latest NICE guidelines (UK) on the topic suggest comorbidities of depression (19%),
                substance use (17%), panic disorder (6%).</p>
            <p><br></p>

            <h2 id="topic-3">Who gets Social Anxiety Disorder?</h2>
            <p>More importantly, women appear to experience Social Anxiety Disorder more than men. Oftentimes people
                diagnosed with Social Anxiety Disorder report extreme shyness as children. However, these are two
                different experiences.</p>
            <p>Sadly, only about half of those experiencing the condition seek treatment. Often people wait 10+
                years before getting professional help. </p>
            <h4 class="mt-3"><strong>How common is it?</strong></h4>
            <p>Over 10% of the population experiences Social Anxiety Disorder at some point in their lives. However,
                about 5% of the people have the condition in any given year. It is the second most common anxiety
                disorder after phobias.</p>
            <p><br></p>

            <h2 id="topic-4">Diagnosing Social Anxiety Disorder</h2>
            <h4 class="mt-3"><strong>Symptoms:</strong></h4>
           <p>How social anxiety presents differs from person to personage, cultural backgrounds, communities we belong
               in, work and life situations all play a part. </p>
            <h5><i>Common physical symptoms include:</i></h5>
            <ul>
                <li>Blushing, excessive sweating or trembling</li>
                <li>Nausea, lightheadedness or difficulty speaking</li>
                <li>Unable to do things in public</li>
            </ul>
            <p>Physical symptoms worsen anxiety as people worry that others will notice. This can lead to a vicious or
                compounding cycle that is hard to get out of.</p>
            <h5><i>Common psychological symptoms include:</i></h5>
            <ul>
                <li>Worrying intensively about a situation, days or weeks in advance.</li>
                <li>Avoiding social, work or school situations or trying to blend into the background when attending</li>
                <li>Fear of embarrassing yourself, making a mistake or appearing silly.</li>
                <li>Needing to drink alcohol to calm nerves</li>
                <li>Worry about everyday situations like shopping, speaking on the phone or meeting new people</li>
                <li>Eating in groups.</li>
                <li>Using public bathrooms</li>
            </ul>
            <p>Social anxiety symptoms can be situation-specific. For example, the anxiety might come out when eating
                in a public space or at supermarket checkouts. Moreover, social Anxiety Disorder is a chronic condition,
                symptoms can fluctuate in intensity depending on other life stressors.</p>
            <p>Anticipatory anxiety is a key part of social anxiety disorder. It is the worry pre-event. For instance
                worrying about going shopping the day prior, overthinking about a friend’s birthday party to the point
                you don’t go. There is also anxiety after the incident. Playing it on repeat in your mind, going over
                the details and being critical of yourself.</p>
            <p>Social anxiety disorder by its very definition gets in the way of living life. It is restrictive, gets
                in the way of making relationships and impairs functioning outside the home.</p>

            <h4 class="mt-3"><strong>Social anxiety symptoms in children</strong></h4>
            <p>Children show their anxiety symptoms different to adults. In children social anxiety can present in different ways:</p>
            <ul>
                <li>Cry, freeze or go numb and be detached from a situation</li>
                <li>Finding it difficult or outright refusal to go to class or speak up in the classroom.</li>
                <li>Shying away from optional activities like school performances, attending parties or going to clubs.</li>
            </ul>

            <h4 class="mt-3"><strong>How can someone diagnose Social Anxiety Disorder?</strong></h4>
            <p>Social anxiety disorder can be diagnosed by your family doctor or an experienced mental health clinician.
                At Epsychiatry, both our psychologists and psychiatrists can assess for Social Anxiety Disorder. </p>
            <p>History will be taken focusing on aspects of anxiety; symptoms, duration, triggers, past treatments etc.
                They will want to know about anticipatory fears, post-event processing patterns plus if there are any
                safety-seeking behaviours.</p>
            <p>Given the frequent overlap between anxiety and other mental health concerns, questions about depression,
                trauma, alcohol use etc. are asked. They may also look for personality disorders, psychosis or autism
                as these conditions can present initially as avoidance or social anxiety.</p>
            <p>Sometimes you will be asked to fill out a questionnaire. Oftentimes it takes a couple of sessions to
                complete an assessment. There are no blood or brain scans for social anxiety. Diagnosis is made based
                on responses to questions asked during an assessment.</p>
            <p><br></p>

            <h2 id="topic-5">When should you get help for social anxiety?</h2>
            <p>Social anxiety disorder is one of the most prevalent anxiety disorders. Sadly people wait 10+ years
                before seeking help.</p>
            <p>Asking for help with social anxiety can feel embarrassing. Fortunately, most doctors and health
                clinicians will try to put you at ease. Sometimes it helps to have a support person, in the room with
                you when you are first explaining how you feel. </p>
            <p><br></p>

            <h2 id="topic-6">What causes social anxiety?</h2>
            <p>Like most mental health conditions the underlying drivers of social anxiety are complex. Here are some
                factors that can trigger, contribute or work together to make social anxiety a problem.</p>
            <ul>
                <li>Bullying – some people with a social anxiety disorder to being treated poorly, publicly shamed or
                    humiliated</li>
                <li>Learned behaviour – certainly, children learn by observing their parents and caregivers. If parents
                    behave such as the world is a frightening, critical place, a child will internalize that.</li>
                <li>Genetics – It is possible that there is a genetic component to social anxiety. Currently,
                    researchers are of the view that multiple genes possibly contribute to anxiety.</li>
                <li>Temperament or nature – It is possible that being timid, shy or clingy as a child might mean an
                    underlying anxious temperament. During, our underlying nature or ways might put us at risk of
                    developing a social anxiety disorder.</li>
                <li>Not having corrective experiences – whilst shyness is a different entity to social anxiety disorder,
                    often people with social anxiety disorder describe themselves as shy. Likewise, the lack of learning
                    or corrective experiences for these shy children leads to them developing a social anxiety disorder
                    in their teenage years. </li>
                <li>Family conflict or sexual abuse – Certainly, feeling unsafe as a child, having traumatic or bad
                    experiences as a child might lead to feelings that the world is unsafe. However, this might lead to
                    understandably self-protective behaviour and distancing. Opportunities as missed to feel safe again,
                    leading to anxiety with others and in the community.</li>
                <li>Controlled or overprotective households – this is similar to learned behaviour in that it involves
                    copying adult behaviour. However, it also prevents children from developing confidence and feeling a
                    sense of mastery by themselves.</li>
            </ul>
            <p><br></p>

            <h2 id="topic-7">Treatment for social anxiety disorder</h2>
            <p>Where treatment is conducted, cultural factors, presence of any other mental health conditions, age and
                individual preferences are all considered in determining treatment. To clarify, it is important to
                talk about these things with your therapist. </p>
            <h5 class="mt-3"><strong>Education</strong></h5>
            <p>Learning about Social anxiety disorder is a starting place. Further, it is a complex condition. Moreover,
                you can learn about social anxiety by reading articles online, watching videos and joining forums on
                social anxiety disorder.</p>
            <p>Ask your doctor or mental health clinician for information sheets or brochures. Ask questions, at the
                start and through the treatment journey.</p>
            <p>Oftentimes people with social anxiety disorder view it as a personal flaw, failing and are vulnerable to
                self stigmatization. Self stigmatization is when people are aware of others negative views, internalize
                and blame themselves. On the other hand, it’s important over time to challenge some of these beliefs.</p>
            <p>Changing clinicians or doctors can be challenging for people with social anxiety. Moreover, sharing
                personal stories raises anxiety, building trust takes time. Disruptions should be avoided. However,
                telehealth psychology means therapists and clients are not as geographically limited.</p>

            <h5 class="mt-3"><strong>Psychology</strong></h5>
            <p>Cognitive behavioural therapy for social anxiety disorder forms the basis of treatment. In this type of
                treatment, your therapist will focus on negative or unhelpful thought patterns about yourself and
                others. They will teach you ways to challenge these. Behavioral or confidence-building exercises also
                form part of this therapy.</p>
            <p>Graded exposure is used in treating different anxiety conditions such as OCD. Certainly, it also can
                form part of social anxiety treatment. Breaking down social anxiety, tackling less provoking situations,
                for example, doing click and collect shopping first. Once at ease picking up items from a supermarket,
                the next step would be to shop in the aisles.</p>
            <p>The client and therapist need to feedback to each other on how they feel therapy is going. Often with
                anxiety people have questions about therapy and how they are progressing. It is important that these
                questions are addressed. </p>
            <p>During therapy, a psychologist can teach ways to focus externally as opposed to being too internally
                focused. They help to “re-script” bad memories of social trauma. A psychologist at the end teach ways
                to prevent relapse and to notice early warning signs of social anxiety returning to the fore.</p>
            <p>The NICE guidelines on Social Anxiety Disorder (2013) note the possible challenges people face attending
                crowded clinics for assessment and treatment. Self-check-in, private space and the use of telehealth
                psychology are different ways to reduce this initial anxiety.</p>

            <h5 class="mt-3"><strong>Guided Self Help</strong></h5>
            <p>This involves working through online material or worksheets to help. There are various Australian and
                International resources available online; some free and others for a fee. A quick search on Google or
                recommendation from a friend might be the way to go. </p>

            <h5 class="mt-3"><strong>Group Therapy</strong></h5>
            <p>Social anxiety by its very nature is isolating. Being part of a group, working through some of these
                issues together can help. People can learn from other’s experience of social anxiety. Also to realize
                that social anxiety is a common condition, impacting a lot of people in very different ways.</p>

            <h5 class="mt-3"><strong>Medication</strong></h5>
            <p>The guidelines on treating social anxiety disorder suggest medications are second-line options.
                Doctors will want to explore refusal of treatment, try to address concerns about therapy before turning
                to medication.</p>
            <p>At times selective serotonin reuptake inhibitors (SSRIs) are used to treat social anxiety disorder, but
                they come with side effects. It is important to be aware of activating properties ( increased anxiety,
                jitteriness, agitation) during the first 2 weeks on these medications. These expected short term side
                effects are often blamed for medications making things worse.</p>

            <h5 class="mt-3"><strong>Contact us Today</strong></h5>
            <p>Our Epsychiatry team are experienced in treating people with social anxiety. We believe we are well
                suited to help with our online, telehealth psychologists and psychiatrists. Feel free to send us any
                questions you have. You can reach us via webchat, email or by phone. Our details are at the bottom of
                this page.</p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>