<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Tic Disorder (Tics) | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav2").load("nav2.html"); 
          $("#footer").load("footer2.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav2"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="color: #3D4259 !important;">Tic Disorder (Tics) - Motor Tics and Vocal Tics</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Services</a></li>
                <li class="breadcrumb-item"><a href="anxiety-treatment.html">Anxiety</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Tic Disorder (Tics) - Motor Tics and Vocal Tics</li>
            </ol>
        </nav>
    </div>
</section>


<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is Tic Disorder?</a>
                    <a href="#topic-2" class="nav-link">Types of Tics</a>
                    <a href="#topic-3" class="nav-link">Disorders associated with Tics</a>
                    <a href="#topic-4" class="nav-link">What can cause Tics?</a>
                    <a href="#topic-5" class="nav-link">Symptoms of early tic disorder</a>
                    <a href="#topic-6" class="nav-link">What methods treat Tics?</a>
                    <a href="#topic-7" class="nav-link">Therapy for Tic Disorder</a>
                    <a href="#topic-8" class="nav-link">Ways to avoid or better cope with tics.</a>
                    <a href="#topic-9" class="nav-link">Other complications associated with Tics Disorder</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <p>Uncontrollable movements in a part of our body that goes away as fast as they come are normal.
                It may catch us off guard for a while, but it disappears so fast, making it look like it never happened.
                However, unknowingly, that may have been a brief visit of Tics or Tic Disorder into our lives. If such
                visits are normal, why and when does it become a problem?</p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-Services-Developmental-Tics-1-min.webp"
                    alt="Epsychiatry-Services-Developmental-Tics-1"></p>
            <p><br></p>


            <h2 id="topic-1">What is Tic Disorder?</h2>
            <p>Tics are either rapid body movements or spitting out unintentional words, and not being able to control
                them. They are fast and results in sudden jolts and throwing out sounds. It is most likely that tics
                appear during childhood and chances are comparatively rare when the symptoms first appear during
                adulthood. However, uncontrollable sudden jolts or movements can be felt by anyone at different times
                of their lives. It can be on your face, hands, shoulders, etc. The problem is if the tics are not so
                harmless and temporary. Fortunately, tics disorder takes a toll on a person’s life only when it is
                severe, and can be controlled with simple life changes. It is rare that it develops into a
                life-altering condition.</p>
            <p>Tics sometimes last a few months, where they may pay several visits and leave after. Most of the time,
                after puberty, tics disappear or get controlled. Severe tic issues can mostly be seen from around
                the age of 8 until puberty.</p>
            <p><br></p>

            <h2 id="topic-2">Types of Tics</h2>
            <p>Based on the appearance, there are two types of Tics.</p>

            <h5 class="mt-3"><strong>Motor Tics – Movement Based</strong></h5>
            <p>Motor tics severity is based on whether this involves a single muscle group or a few. When it is more
                than one muscle, tics can be severe to a point that it looks like the movements are done on purpose.
                Signs of simple motor tics include,</p>

            <ul>
                <li>biting the lip</li>
                <li>rapid eye blinking</li>
                <li>wrinkling nose</li>
                <li>twitching of the head</li>
                <li>shrugging shoulders</li>
                <li>jerking</li>
                <li>clicking fingers</li>
            </ul>
            <p>When motor tics get complex, tic movements can use coordinated muscle activity. During this time,
                signs can become a bit severe, such as,</p>
            <ul>
                <li>kicking</li>
                <li>banging</li>
                <li>jumping</li>
                <li>smelling things and people</li>
            </ul>

            <h5 class="mt-3"><strong>Vocal Tics – Sound Based</strong></h5>
            <p>When it is simple, vocal tics mean one simple sound that happens to come out. This does not necessarily
                have to make sense. They can be,</p>
            <ul>
                <li>cough like</li>
                <li>throat clearing</li>
                <li>grunts</li>
                <li>sniffing</li>
                <li>barking</li>
                <li>hissing</li>
            </ul>
            <p>Complex vocal tics mean more meaningful words, that are almost speech-like. This can include,</p>
            <ul>
                <li>yelling</li>
                <li>making animal sounds</li>
                <li>repeating words</li>
            </ul>
            <p><br></p>
            <p><img class="img-fluid" loading="lazy" src="../../images/Epsychiatry-Services-Developmental-Tics-2-min.webp"
                alt="Epsychiatry-Services-Developmental-Tics-1"></p>
            <h2 id="topic-3">Disorders associated with Tics</h2>
            <p>Tic disorders variate from each other based on the type of symptoms, the period it lasts, and
                other criteria. Below are those types of disorders.</p>

            <h5 class="mt-3"><strong>Provisional Tic Disorder</strong></h5>
            <p>This is the most common form of Tic Disorder. If a person’s tics start before they turn the age of 18,
                and if their tics haven’t lasted for over a year, they are likely to be diagnosed with this disorder.
                Their symptoms are not those that appear after a certain medication, drug, or as a side effect of
                another illness that can cause tics. These patients should present at least one sign of motor tics
                or vocal tics.</p>

            <h5 class="mt-3"><strong>Chronic Tic Disorder</strong></h5>
            <p>With the chronic tic disorder, tics have been appearing for longer than a year. However, symptoms have
                to be either simple or complex vocal tics or simple/ complex motor tics. It can not be both. With
                persistent tick disorder, tics happen almost regularly, sometimes a few times a day. Chronic Tic
                Disorder is likely to start before the age of 18. This situation is less common than Provisional
                Tic Disorder.</p>

            <h5 class="mt-3"><strong>Tourette Syndrome – TS</strong></h5>
            <p>Tourette Syndrome is the most severe form of Tic Disorder. This is however a very rare disorder.
                To be diagnosed with Tourette Syndrome, one must showcase symptoms of both vocal tics and motor tics.
                Most of the time, there are more motor tics present than vocal tics. One must have had recurring tics
                for over a year to be diagnosed with this syndrome. Before diagnosing any of these disorders, it is
                important to make sure that tics do not occur as a side effect of another disease or caused by drugs
                or medications.</p>
            <p><br></p>

            <h2 id="topic-4">What can cause Tics?</h2>
           <p>It is not clear as to what the exact cause for Tic Disorder is.  However, gene mutation and brain
               chemistry all play a part in it. Below are a few causes and risk factors of Tics.</p>

            <ul>
                <li>traumatic head injuries</li>
                <li>suffering from a stroke</li>
                <li>infections</li>
                <li>effects of a poison</li>
                <li>complications after a surgery</li>
                <li>physical injuries</li>
                <li>genetics – tics seem to run in families</li>
            </ul>

            <p><br></p>

            <h2 id="topic-5">Symptoms of early tic disorder</h2>
            <p>It is easy to identify when your tics are becoming something more than a passerby. When tics have
                come to your life to stay, you are likely to see the following signs.</p>
            <ul>
                <li>You may say things you don’t mean to.</li>
                <li>You might find yourself repeating words or sounds and being unable to control them.</li>
                <li>Hand or body movements that are involuntary.</li>
                <li>You might yell too often, and not want to.</li>
                <li>Eye blinking, lip biting, nose wrinkling and other simple tic signs, which are all movements
                    you can’t control.</li>
                <li>The more you are in stress or anxious the worse the symptoms seem to get.</li>
            </ul>
            <p>The basic idea is, experiencing any sort of physical jolting, twitch, or vocal tics which seem to return
                and sometimes last a while can be a sign of tics. For further clarification, it is always recommended
                to meet a health care provider and get a proper diagnosis.</p>

            <p><br></p>

            <h2 id="topic-6">What methods treat Tics?</h2>
            <p>Unfortunately, there is no cure for tic disorder. However, it is not always necessary to treat tics as
                long as they don’t affect your life so badly. It has proven that as long as stress, anxiety, and other
                pressuring moments are avoided, individuals with tics find their symptoms to be in good control.
                However, when you or a loved one is diagnosed with a more severe problem such as Tourette Syndrome,
                there are treatment options available to keep things more in control. Treatment for tics depends on
                the severity of the problem. To get started off on anything, it is important that you receive a proper
                diagnosis of the problem.</p>
            <p><br></p>

            <h2 id="topic-7">Therapy for Tic Disorder</h2>
            <p>Therapy has been a very effective technique when it comes to treating tic patients and helping
                them cope with the symptoms.</p>
            <h5 class="mt-3"><strong>Habit Reversal Therapy</strong></h5>
            <p>During these sessions, patients are trained into a practising movement that helps them fight against
                the motor tic issues, helps eliminate the tics. It is basically pushing against the pull of the
                tic movements.</p>

            <h5 class="mt-3"><strong>ERP therapy</strong></h5>
            <p>This helps your child or the patient recognize and deal with the sensations that occur right
                before the tics take place. By dealing with these sensations properly they can avoid the tics
                from occurring.</p>

            <h5 class="mt-3"><strong>CBiT – Comprehensive Behavioral intervention therapy for Tics</strong></h5>
            <p>These are a set of behavioral therapy techniques that helps tic patients cope with the overall disease.
                This process involves the following sides.</p>
            <p>Educating the patients, parents, and caregivers can help them understand how to deal with tics.
                Mostly due to the fact that tic patients are children, their patients are always worried about the
                child’s future. Understanding the basics of the illness and how best to control it can help everyone
                live a quality life. It helps them understand important modifications such as how the environment
                should be to help the patient, what are dos and don’ts, which helps eliminate potential triggers.</p>
            <p>CBiT also involves the practice they give to the patient when it comes to being aware of their body.
                The incoming sensations right before tics, how to fight them, how to fight the tics, and once the tics
                start progressing, how best to deal with them until they pass. This is a very important part of the
                training since children can be vulnerable, confused, and scared with this problematic illness.</p>

            <h5 class="mt-3"><strong>Medication for Tic Disorder</strong></h5>
            <p>Depending on the severity of the patient’s tic occurrences, the health care provider may or may not
                prescribe medications. These medications usually bring down the frequency of the tics. However, it does
                not completely eliminate them from happening. They act as a control technique. These medications can
                include,</p>
            <ul>
                <li>Medications to stop seizures</li>
                <li>Botox injections</li>
                <li>Medications to relax muscles</li>
                <li>Antidepressants to deal with anxiety</li>
            </ul>
            <p>At any rate, it is extremely important that the patient uses these medications under a doctor’s
                guidance and in its recommended doses.</p>
            <p><br></p>

            <h2 id="topic-8">Ways to avoid or better cope with tics.</h2>
            <p>Tics are a problem that is easy to deal with using a few easy life tips.</p>

            <h5 class="mt-3"><strong>Avoid stressful situations</strong></h5>
            <p>It is a proven factor that the more you engage in stressful situations, the more it is likely to have a
                tic attack. Thus, try and make alterations to your life, your environment, and your daily routine in
                ways that minimize stress and make things easy for you.</p>

            <h5 class="mt-3"><strong>Get enough sleep</strong></h5>
            <p>Make sure you get a good rest before you take on the day. Every day can be a challenge to keep your mind
                as calm as possible. So, it is important that you take every precaution to make sure you’re going to be
                in a good mood and not cranky and irritable. Such situations can cause distress, making it easy for the
                tics to have their way with you.</p>

            <h5 class="mt-3"><strong>Follow up on the therapy and medication</strong></h5>
            <p>If you are advised to undergo therapy and medication, that is because your health care provider saw it
                necessary for your progress against tics. Therefore, make sure you do not miss your sessions and your
                medications. If these medications help keep your nerves calm, by missing out you may find yourself being
                easily annoyed and stressed. This is going to make you an obvious target for a tic attack.</p>
            <p>On the other hand, therapy sessions teach you important factors such as how to detect a tic attack
                before it progresses, how to stop it before it progresses, and what you can do to minimize the
                impact if and after the tic attack progresses. None of us can predict how stressful the icing day
                can be. No amount of sleep and relaxation might be able to guard us against an upcoming terrible
                day. In other words, tics can hit you even when you try your best to protect yourself from them.
                Thus, it is always important to know how to control it when it is coming and how to minimize the
                effect when it has already hit you.</p>

            <h5 class="mt-3"><strong>Join a support group</strong></h5>
            <p>This can be especially helpful if you/ your loved one is diagnosed with Tourette Syndrome, which is
                the severe and life-altering version of tics. Joining a group of people to talk about their
                experiences, and watching them get through those as a team can be a great sort of motivation.
                These groups can also be very informative when it comes to ways to deal with difficulties that
                arise with tics. Individuals can share their experiences and how they got through them for the
                rest of the group t try them out too. In addition, those who are experiencing severe tic disorder
                can find themselves confused, hurt, and embarrassed most of the time. Support groups can make them
                feel like they are not alone in the struggle. This helps them maintain a positive outlook on
                life, and gives them people to reach out to whenever they need to.</p>

            <p><img loading="lazy" src="../../images/Epsychiatry-Services-Developmental-Tics-3-min.webp" alt="Epsychiatry-Services-Developmental-Tics-3" class="img-fluid"></p>
            <h3 class="mt-3"><strong>Have a circle you can trust. Distant yourself from those that make you uncomfortable.</strong></h3>
            <p>Avoiding stress includes cutting off people that make you feel embarrassed, hurt, or uncomfortable.
                Do not associate those that make you feel less or different. They are bound to cause you stress and
                anxiety at some point in life, and it is not with the struggle and risk. Instead, get closer to people
                who understand you, value you, and support you. Associate those that you can trust to have a tic attack
                in front of them and won’t judge you. Instead, they will help you and tolerate your behavior until you
                get better.</p>

            <h3 class="mt-3">Have faith in yourself</h3>
            <p>If you have a tic, ignore it. The more you ignore it, the faster it goes away. Be so busy focusing on
                yourself and working for the goals that you remember you have a tic disorder These mind tricks work
                well with controlling this issue. Remember that tic comes and goes, and it can’t mess with your life
                as long as you do not let it. Do the necessary changes that you have to, in order to make your life
                comfortable. Be grateful to who you have and trust your process. Remember that even if it is impossible
                to cure tic, it is possible to deal with it so well to a point that tic has no control over your
                life any longer.</p>
            <p>If you are a concerned parent or a caregiver of someone with a severe tic disorder, the following
                steps might help you.</p>

            <h3 class="mt-3">Inform the teachers and others around them of their condition</h3>
            <p>This doesn’t necessarily mean embarrass your child by depriving them of a normal childhood by telling
                everyone he is sick. However, informing an adult in his school or in a place he hangs out of his
                condition can help them deal with the situation well if the child gets a tic attack during that time.</p>

            <h3 class="mt-3">Help your child boost self-esteem and make friends</h3>
            <p>Making friends can be especially difficult for a child suffering from tic disorder. While they don’t
                really understand what happens to them with the tic attacks, it can also scare other kids and make
                your child a bully victim who might get cornered. This can severely impact their mental health and
                self-esteem. If things don’t go well at school, you can involve your child with a support group for
                children. With the familiar nature there, they are more likely to bond and make friends. In addition,
                make sure he or she feels loved, adored, and celebrated at all times. Appreciate every little win and
                make them feel worthy. It is important to make your child understand that being different is not a bad
                thing. Ignore their tics and make it as normal as possible. Don’t make them feel sick and weak.</p>
            <p><br></p>

            <h2 id="topic-9">Other complications associated with Tics Disorder</h2>
            <p>These signs are common mainly in children who suffer from Tourette Syndrome.</p>
            <ul>
                <li>Anxiety attacks</li>
                <li>ADHD</li>
                <li>Depression</li>
                <li>Autistic symptoms</li>
                <li>Difficulty to learn and focus</li>
                <li>Obsessive-Compulsive Disorder</li>
                <li>Speech difficulties</li>
                <li>Insomnia</li>
            </ul>
            <p>There is a 90% chance that you are a concerned parent reading this. We hope you understand that tic
                disorder is a controllable disorder, and sing this information you will be able to make life better
                for you and your loved one.
            </p>

        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>