 <!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Couples Therapy | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>


</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <!--navigation bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Couples Therapy</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Psychotherapy</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Couples Therapy</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is couples therapy?</a>
                    <a href="#topic-2" class="nav-link">Why is couples therapy important?</a>
                    <a href="#topic-3" class="nav-link">Effect of couples therapy on children</a>
                    <a href="#topic-4" class="nav-link">Does your relationship need marriage counselling?</a>
                    <a href="#topic-5" class="nav-link">Techniques used in couples therapy</a>
                    <a href="#topic-6" class="nav-link">Activities recommended during couples therapy</a>
                    <a href="#topic-7" class="nav-link">How can you make the best of couples therapy?</a>
                    
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>It is all a dream come true to think of spending the rest of our lives with 
                the person we love. We finally got our fairytale that we have looked very 
                much forward to. This is what we know. What we expect. The rose petals. 
                However, not forget, that roses come with thorns. Couples therapy can 
                become a hand to help you either get rid of the thorns or minimize the 
                damage. Tieing the knot ties you to the responsibility of making your 
                family life work, and it is really not that hard, as long as both of you
                 are on the same page.</p><br>

            <h2 class="mt-3" id="topic-1">What is couples therapy?</h2>
            <p>When two people feel like their marriage or relationship needs work, they can 
                meet experts who are willing to help them. This therapy type is based on 
                individuals’ needs, the couple’s needs, and how and what to change for the 
                marriage to work. However, it is understood to be best if couples reach out 
                for help before it is too late. Two people should not wait until their 
                relationship is nothing but crumbs in order to start working on it again. 
                Ignoring symptoms of an unhealthy marriage for too long may lead to 
                cheating, fights, depression, and ultimately an unsuccessful marriage 
                ending up in divorce. Or worse, having to tolerate each other for the 
                sake of children.</p>
            <p>The therapist that will be helping a couple is an experienced professional. 
                Their job is to guide couples into their lost romance and find intimacy, 
                love, acceptance, and overall a healthy relationship. However, couples may 
                not find the best therapist until they have tried a few. Make sure to take 
                advice from a therapist that you feel helps and understands you best.
            </p><br>

            <h2 class="mt-3" id="topic-2">Why is couples therapy important?</h2>
            <p>It is easy to drift apart when both of you get progressively busy with life. 
                The sex may get boring. Too much time spent with each other will uncover a lot 
                of hidden pet peeves. In other words, everything can get slightly annoying day 
                by day. Gradually, fights over the smallest things will be constant. Yelling 
                and ignoring each other, and communication issues, wanting to stay away from 
                each other for as long as you can, are all signs of a bigger problem. It is 
                all-natural and to be expected. The point is to be the one to pull the other 
                back in if the distance is getting too big. You have to notice the changes 
                and try to fix them. But are you trying alone? Are you fixing it alone? Does 
                no amount of trying or fixing work? That is when you may need professional help.</p>
            <p>There is no magic recipe to fix your relationship. Couples therapy will allow 
                you space; safe and neutral, to explore these issues and find solutions. 
                Chances could be so bad that your relationship may not recover and each of 
                you will have to consider moving on alone. However, what is definite is, 
                if you do not take those chances by meeting a therapist, you will definitely 
                be in a failed relationship. Couples therapy helps you understand the 
                problem and what exactly to do about it. The process will guide each of 
                you on how to find the lost warmth and intimacy to bring back the flames. 
                These instructions, if followed well, will give your family life a new 
                birth and both of you a chance to live in a way that will further keep 
                the marriage alive.</p><br>

            <h2 class="mt-3" id="topic-3">Effect of couples therapy on children</h2>
            <p>Constant fights between parents can have a long-lasting impact on their 
                children’s mentality. Watching the arguments, hearing the issues over 
                and over may lead them to lose respect for either one or both parents. 
                Ultimately, they may need therapy to fix themselves of the damage done 
                due to parents’ conflicts. It is always an ugly situation when parents 
                out their issues in front of the kids and fail to resolve these issues 
                themselves. This can lead to a child growing up with insecurities, 
                damaged bonds with parents, trust issues that can eventually lead to 
                relationship problems, behavioural problems while having a pessimistic 
                outlook on life.</p>
            <p>By handling the issues in your marriage before things get ugly can prevent 
                these terrible outcomes. Your children will know you are struggling but 
                they will also know you are trying. They will witness your growth and 
                advancement and will support you to overcome your struggles. It is 
                important that your kids know you are trying to save the family. However, 
                the process will also help them understand if the two of you have to 
                go separate ways. Knowing you tried to do otherwise will lessen the 
                negative impact.</p>
            <p>Your children look up to you. The decisions you make to ensure their 
                health and mentality will give them a good example of decision making.</p><br>           

            <h2 class="mt-3" id="topic-4">Does your relationship need marriage counselling?</h2>
            <p>Observe if these issues are present in your relationship. If they are, it 
                is time to seek professional help.</p>

            <h4><strong>Not talking to each other</strong></h4>

            <p>If the two individuals find peace in cutting down communication as much as 
                possible and try their best to avoid each other, there’s a problem. All the 
                bigger issues are created due to the lack of communication. Without talking 
                to each other, you will not know what issues the other one is facing. This 
                is when a third person should be involved to give each of you the chance to 
                talk and figure things out.</p>
            <h4><strong>Every conversation is negative</strong></h4>
            <p>A negative conversation generally means that talking to your partner 
                leaves you upset. It can be due to judgemental issues, racism, being 
                rude or careless, insensitive, etc. If the conversations you are having 
                are likely to always end up in a fight, disagreement, or making each 
                other upset, it is time to seek help. Chances are, there is a much 
                bigger issue causing this and can lead to severe mental abuse if left 
                unresolved.</p>
            <h4><strong>Being afraid to communicate</strong></h4>
            <p>Being afraid to tell your partner how you feel is a very bad sign. This can be 
                due to how he/she reacted the last time you did and has caused mental abuse, 
                which scares you to project your opinion. These issues can be as simple as 
                asking your partner to close the window to talking about annoying habits. 
                Your therapist will help you identify these gaps and advice you on how to 
                work better with each other.</p>
            <h4><strong>Keeping secrets</strong></h4>
                <p>Everyone is entitled to a certain level of privacy. However, the increased 
                    amount of secrets that you hold for yourself and don’t share with your 
                    partner may be a sign of a bigger issue.</p>
            <h4><strong>Fantasizing sexual encounters with other people</strong></h4>
            <p>Do you find yourself wanting to have an intimate relationship with someone 
                other than your spouse? Are your cheating impulses growing on you? Are you 
                already cheating? At this point, if you need your current marriage to work,
                you definitely need professional help. Cheating in most cases is a 
                deal-breaker. However, these occurrences may have a bigger issue behind 
                them that needs to be talked about. Your chances are better if you seek 
                couples therapy before you commit adultery.</p>
            <h4><strong>Waiting for the other one to change</strong></h4>
            <p>You can only change yourself, by yourself. Waiting for the other one to 
                change and for everything to go back to normal may be a long time or a 
                never-ending waiting. This may be due to you being unhappy while the other 
                one is doing fine. However, hiring a therapist at this time will help both 
                of you understand what is going on.</p>
            <h4><strong>Noticeable changes in the sex life</strong></h4>
            <p>If the both of you can’t seem to please each other, this may become an issue. 
                While it is normal that the original spirit of new sex dies down eventually, 
                being bored of each other all at once may be a problem. Also, if sex has 
                turned wild and constant all of a sudden, there is a possibility that your 
                partner may be doing something wrong and that they are trying to compensate 
                for that by sex. Don’t jump to conclusions. Maybe your partner just wants 
                to spice things up. Reach out for professional help if necessary.</p>
            <h4><strong>Persisting arguments over the same issues</strong></h4>
            <p>Everyone has triggers that throw their anger over the moon. Sometimes it can be 
                as simple as leaving the bed unmade or not turning a fan off. Partners may be 
                confused as to what causes these triggers and why they make their partner so 
                aggressive. Thus, these simple issues can lead to arguments and upsetting each 
                other. A therapist will help in identifying these hidden issues and help each 
                other to healthier family life.</p>
            <p>These are not the only kinds of problems that will urge you to look for help. 
                Any time you feel like your marriage is falling apart, you should consult a 
                marriage counsellor to make sure things get better.</p><br>

            <h2 class="mt-3" id="topic-5">Techniques used in couples therapy</h2>
            <p>Therapists will use a few different methods to identify the underlying issues 
                in your relationship. These can include different activities as well. Below 
                are some of those.</p>
            <h4><strong>Reflective listening during couples therapy</strong></h4>
            <p>During this, the partners are supposed to become active listeners. It boosts 
                healthy communication and the ability to resolve conflict. Couples are 
                advised to project their feelings, instead of blaming the other.</p>
            <h4><strong>Uncovering the hidden causes during couples therapy</strong></h4>
            <p>Most of the time, the small constant arguments happen because of a bigger 
                issue that is irritating the partners. To add to that, these issues are 
                often unresolved. Your therapist will help you identify these underlying 
                issues to advise you better.</p>
            <h4><strong>Teaching quick resolving options</strong></h4>
            <p>Even the smallest conflict won’t go far if repaired quickly. The therapist 
                will advise on how to behave when one of the partners is having a meltdown. 
                Resolving an issue quickly will stop things from getting uglier. Both the 
                partners will be helped to find the middle ground.</p>
            <h4><strong>Narrative therapy</strong></h4>
            <p>Couples are advised to project their problems and feelings, by narrating them. 
                This helps them understand the faults better, by looking at their stories 
                from a different perspective. This is specifically for people who believe 
                they are a failure.</p>
            <h4><strong>Support system advice</strong></h4>
            <p>Your therapist will uncover your partner’s dream and help each of you to 
                support each other. An important part of being each other’s most reachable 
                person is to be supportive throughout their fails and wins. Your 
                relationship must create this environment and your therapist will 
                help you with it.</p>
            <h4><strong>Dig into unresolved issues</strong></h4>
            <p>There may have been past experiences in your relationship that may still be 
                affecting each other. Or it can be an incident one of the partners went 
                through in a previous relationship. Your therapist will try to identify 
                if these problems are present in your marriage. This includes suggesting 
                other sorts of treatment for one or both of you, who may still be suffering 
                due to a past traumatic experience.</p>
            <h4><strong>Teaching anger management</strong></h4>
            <p>Raging anger can send both partners into distress. The minute you let that 
                out may be peaceful, but having to watch your partner upset and feeling 
                guilty for your actions may lead to a lot of apologizing but irreversible 
                damage. It is really important to control your impulses. If the therapist 
                finds this to be an issue, they may help you with activities or recommend 
                treatment methods.</p>

            <h2 class="mt-3" id="topic-6">Activities recommended during couples therapy</h2>
            <p>These are some of the recommended activities by therapists to increase the 
                quality of the relationship outside of sessions. Some of them are focused 
                activities. Most are general activities that can be practised by anyone 
                to have a quality relationship.</p>
            <h4><strong>Be appreciative</strong></h4>
            <p>Appreciating someone’s efforts is a very basic human quality. However, 
                being way too busy can easily have us miss the efforts of the other, 
                and support. Noticing your partner’s progress, the effort they put in 
                for you, and every small detail, and being appreciative bridges the gap 
                between two people. It also helps one see how hard the other works.</p>
            
            <h4><strong>Find topics to engage in</strong></h4> 
            <p>Ask them something other than what is for lunch or how was work. Try and 
                ask them when they decided to engage in the job they are doing. Ask them 
                why they chose the city you live in and not his hometown. Tell them what 
                you think. Engage in conversations you never had before. If you see your 
                partner making these efforts, make sure you do your half and keep up the 
                conversation.</p>
            
            <h4><strong>Don’t be blind to their affection</strong></h4>
            <p>I know you are used to him coming and sitting with you when you work late at 
                night. You may be used to her bringing your plate to the bed when you are 
                home after a long day. This is how each other express their love. Identify 
                these small things and be concerned if you notice a difference. Ignorance 
                or being unappreciative will upset your partner.</p>
                <p>The 5 love languages are,</p>
            <ul>
                <ol>physical touch</ol>
                <ol>quality time</ol>
                <ol>words of affirmation</ol>
                <ol>acts of service</ol>
                <ol>receiving gifts</ol>
            </ul>

            <h4><strong>Try not to bring home the heat outside</strong></h4>
            <p>Coming home and terrorizing your family because you had a bad day at work 
                does not help. You can talk about it with your partner and let out your 
                frustration. Make sure it does not get the best of you. Home is everyone’s 
                safe haven. It should not be turned around because of one bad day.</p>
            <p>There are a dozen more activities a couple can engage in to fix their 
                love life. Your therapist will recommend the most suitable ones.</p><br>
            
            <h2 class="mt-3" id="topic-7">How can you make the best of couples therapy?</h2>
            <p>It is ideally necessary for both partners to be present at the sessions. 
                Their thoughts on different topics play a major role in identifying the issues. 
                However, some partners show up to therapy without putting in the rest of the 
                work. It is important that both partners follow up with the activities and 
                advise and give in a genuine effort to fix their relationship.</p>
            <p>Also, if you are fundamentally judgemental, racist, or sexist of the rest of 
                the world, including your partner, you may find it hard to get to any 
                success without dealing with these issues first. If you can’t respect your 
                partner, it is unlikely that they will be happy with you.</p>
            <p>It is also necessary that you still love your partner. If you don’t, it is 
                possible that you may not put in the required work. Couples therapy takes 
                dedication and you need to ask yourself if it is worth it.</p>
            <p>You should also be open to 
                <a href="https://epsychiatry.com.au/contact-us/">advice</a> and change. Holding your ground is okay, 
                but not when you visit a therapist who will eventually point out a flaw in 
                you and ask for you to change it for your benefit. It is unlikely that 
                these changes are extreme or absurd. Both partners will have issues with 
                them. The point is to identify them and be willing to change whatever is 
                necessary to make sure your partner is at ease.</p>
            <p>There is a chance that you may be too late to seek help. Also, if one of 
                you is set on divorce, addicted to substance abuse, or is unwilling to change, 
                chances are your relationship will not get any better. In this case, 
                you may be suggested to consider separation.</p>
            <p>Your <a href="https://epsychiatry.com.au/clinicians/">therapist</a> will only guide you. Putting in the work to save your 
                marriage is your responsibility.</p><br> 
           
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>