<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Emotional Intelligence Test: An in-depth guide | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>


</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <!--navigation bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Emotional Intelligence Test: An in-depth guide</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Psychology</a></li>
                <li class="breadcrumb-item"><a href="#">Psychological Testing and Assessment</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Emotional Intelligence Test: An in-depth guide</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Components of Emotional Intelligence</a>
                    <a href="#topic-2" class="nav-link">EQ and IQ. What’s the difference?</a>
                    <a href="#topic-3" class="nav-link">Calculating Emotional Intelligence</a>
                    <a href="#topic-4" class="nav-link">Professional tests</a>
                    <a href="#topic-5" class="nav-link">High EQ is the way to go</a>
                    <a href="#topic-6" class="nav-link">Why is having low emotional intelligence bad?</a>
                    <a href="#topic-7" class="nav-link">Improving Emotional Intelligence</a>
                    <a href="#topic-8" class="nav-link">A final note</a>                    
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>Emotions help us thrive, survive, and avoid danger. In the same way, 
                they are a fundamental element of who we are, our behaviour, and our decisions. 
                Charles Darwin was unarguably the first researcher to highlight this. 
                In his book “The Expression of the Emotions in Man and Animals” published 
                in 1872, he argued that emotions play a major role in adaptation and thus 
                in human survival. So, what exactly is “emotional intelligence” and 
                how do we test it?</p>
            <blockquote>“We define emotional intelligence as the subset of social intelligence 
                that involves the ability to monitor one’s own and others’ feelings and emotions, 
                to discriminate among them and to use this information to guide 
                one’s thinking and actions.” <br><br>
            <cite>Peter Salovey & John D. Mayer. Emotional Intelligence, 1990.</cite>
            </blockquote><br>
            <p>The above quote by Peter Salovey and John D. Mayer, who first developed 
                the model of emotional intelligence, perfectly sums it up.</p><br>

            <div class="row">
                <div class="col-lg-7">
                    <img src="../../images/Emotional-Intelligence.webp" alt="test" style=" width: 100%;">
                </div>
                <div class="col-lg-5">
                    <p>Emotional intelligence, also known as Emotional Quotient (EQ) is the ability to
                        understand, use and manage your own emotions in a positive way. If you rank high
                        in EQ scores, you are more likely to relieve stress in a healthy way, communicate
                        effectively, empathize with others, overcome challenges and diminish conflict.
                        Moreover, research has also indicated that people with higher EQ scores have
                        better mental health, job performance, and leadership skills in comparison
                        to people who have lower scores. These are all wonderful things! </p>
                    <p>How do you know where you stand on the emotional intelligence scale? You have 
                        to take a test, of course. Just like IQ (Intelligence quotient) scores, EQ 
                        scores can be measured as well, however, it is slightly more complicated. 
                        You have probably seen many online quizzes and questionnaires that claim 
                        to test your emotional intelligence. Some of these tests aren’t always 
                        accurate. Why? </p>
                </div>
            </div>
            <p>There are many reasons to explain where the complexity 
                comes from, including a lack of theoretical understanding, cultural 
                influences, and a lack of clarity of conceptualization. To keep things 
                simple, emotional intelligence is highly subjective.</p>
            

            <h2 class="mt-3" id="topic-1">Components of Emotional Intelligence</h2>
            <p>To understand EQ better let’s look at its components. Researchers have broken
                down the concept of EQ into 5 individual components of skills and conscious 
                abilities which can each be measured separately. This model is famously known 
                as Daniel Goleman’s five components of emotional intelligence 
                or Goleman’s model.</p>
            <ul>
                <li>Self-awareness: an ability to focus on yourself, your actions, thoughts, 
                    and emotions and understand them, as well as their effect on others. 
                    If you’re highly self-aware, you can objectively evaluate yourself, 
                    manage emotions, align your behaviour with your values, and understand 
                    how others perceive you correctly.</li>
                <li>Self-regulation: the ability to control or redirect your behaviour, emotions, 
                    and thoughts to pursue long-term goals and the tendency to think before acting. 
                    Characteristics of a self-regulated person include trustworthiness and 
                    integrity; comfort with ambiguity; and openness to change.</li>
                <li>Internal motivation: The desire to work for reasons other than money and prestige. 
                    These reasons can be external incentives, such as an inner vision of what is 
                    essential in life, joy in doing something, interest in learning, and a sense 
                    of flow that comes with being absorbed in an activity. An internally 
                    motivated person would have a strong drive to achieve and be optimistic 
                    even in the face of failure.</li>
                <li>Empathy: The ability to understand another person’s emotional composition 
                    and treat them based on their emotional responses.</li>
                <li>Social skills: these are skills that we use to communicate and interact 
                    with others, both verbally and non-verbally. A person who ranks higher on 
                    a social skills scale would most likely be good at managing relationships 
                    and building networks.</li>
            </ul><br>

            <h2 class="mt-3" id="topic-2">EQ and IQ. What’s the difference?</h2>
            <p>IQ or the “Intelligence Quotient” is the measure of a person’s relative 
                intelligence whereas the EQ, as mentioned earlier, deals with emotions 
                and a person’s ability to manage and understand them. Right out of the 
                box, these two terms refer to two different constructs.</p>
            <p>IQ scores were quite popular in the 20th century. Not much was know about 
                the concept of EQ by then and it was believed that a high IQ score always 
                meant a successful life. Children with high IQ scored were destined for 
                great accomplishment and fame. Nevertheless, this idea slowly lost its 
                popularity with new research. Researchers started to point out that a 
                high IQ level is not necessarily a pre determinant of a successful life, 
                and the concept of IQ ignores other human capabilities. By this time 
                theorists such as Howard Gardner came up with their own takes on intelligence. 
                According to Gardner, intelligence had around 8 more other components, 
                with each attributing to an entirely different human ability. For example, 
                one of these components was interpersonal intelligence. It is the ability 
                to sense and understand other people’s feelings and motives.</p>
            <p>By the late 20th century, Emotional intelligence as a new term was born. 
                Most modern experts now know that having both high IQ and EQ scores are 
                equally important. If you are someone who ranks high in both scores, you 
                may be in for great things, although it depends on other factors as well.</p>
            <p>Furthermore, the original IQ tests consisted of calculating the ratio of 
                mental age to physical or chronological age and multiplying it by 100. 
                This is fairly different at present. Now, the score is calculated by 
                comparing the test taker’s score to the average score of others in their 
                age group. <a href="https://testyourself.psychtests.com/testid/3109">Here</a> is 
                a free online IQ test you can take right now!</p><br>

            <h2 class="mt-3" id="topic-3">Calculating Emotional Intelligence</h2>
            <p>Even though we mentioned that online EQ tests can be questionable in terms 
                of their accuracy, there are some tests you could do to get a general picture 
                of where you stand on the score. Furthermore, there are certain tests 
                administered by mental health professionals which (obviously) rank higher 
                in terms of accuracy. So if you are serious about getting your emotional 
                intelligence test, it’s best to see a professional.</p>
            <p>Emotional intelligence tests generally come in two types; self-report tests 
                and ability tests. Self-report tests are the most common and easiest to 
                use/administer. Thus, you are more likely to find a few of these online 
                after a simple google search. When taking one of these tests you are 
                expected to rate your own behaviour. For instance, you may be asked to 
                rate statements such as “I can recognize my emotions as I experience them” 
                on a scale of disagree, somewhat disagree, agree, or strongly agree.</p>
            <p>In contrast, when doing an ability test you are expected to respond to 
                certain situations and you will then be rated by a third party based on 
                your demonstrated skills and abilities. For instance, you may be 
                presented with a series of faces and asked to report how many of 
                six emotions are present. Your ability to judge emotions 
                will then be rated.</p><br>        

            <h2 class="mt-3" id="topic-4">Professional tests</h2>
            <p>Here are two types of emotional intelligence tests that you can do 
                with a mental health professional,</p>
            <ul>
                <li>Mayer-Salovey-Caruso Emotional Intelligence Test, Version 2.0 
                    (MSCEIT, V 2.0): a 141 scale that measures the four branches of 
                    emotional intelligence. Each branch mirrors specific skills; 
                    perceiving emotions, using emotions to facilitate thought, 
                    understanding emotions, and managing emotions.</li>
                <li>The Emotional and Social Competency Inventory (ESCI): this test 
                    is often used in a few different contexts. For example, in 
                    organizations, it is used to identify human resource capabilities 
                    and distinguish people who would be strong leaders. It is also used 
                    in schools and universities to identify student’s capacity to 
                    understand and work with others, understand and motivate themselves, 
                    and learn effectively. ESCI data is recorded on a 5 point scale of 
                    never, rarely, sometimes, often, and consistently.</li>
            </ul><br>

            <h2 class="mt-3" id="topic-5">High EQ is the way to go</h2>
            <p>Now that we have discussed quite a lot of good things about emotional intelligence, 
                you probably understand that having a high EQ score is a really good thing. 
                Next, let’s look at a few places where a high EQ score would help you.</p>
            <h4><strong>Workplace</strong></h4>
            <p>First comes your workplace. Most employees in companies work in teams or groups, 
                therefore, it is important to understand the emotions of your co-workers to have 
                better work relationships with them. If this was the case, your work environment 
                would most likely be a happy and healthy one. Surely this sounds wonderful, 
                right? Let’s look at some research. A 2018 paper published in Advances in Economics, 
                Business and Management Research explained that higher emotional intelligence 
                among employees in organizations is associated with higher on-the-job productivity 
                and less work stress. In addition, another study published in Procedia Economics 
                and Finance indicated that leaders who had a higher level of emotional intelligence 
                had happier and more productive employees.</p>
            <p>Employers have started to notice these trends with people who have a high level of 
                emotional intelligence. Accordingly, a lot of companies now screen and test their 
                employees for EQ scores as a part of their recruitment process. In fact, 
                approximately 82% of global companies utilize EQ tests for executive positions; 
                72% give the tests to middle management and 59% give the tests to entry-level 
                positions. If you are considering applying for a job or going for an interview, 
                it may be a good idea to work on your emotional intelligence.</p>
            <h4><strong>School and university</strong></h4>
            <p>Schools and universities can be stressful at times with all the deadlines, exams, 
                classes, and assignments. Sometimes these stressful environments could even affect 
                student’s mental health. This is where having a hiving a high emotional 
                intelligence becomes important. Emotionally intelligent students are better 
                able to manage their own emotions and relate to others around them. By the 
                same token, emotions affect how students learn and think about learning material, 
                therefore being emotionally aware can help them manage stress better.</p><br>

            <h2 class="mt-3" id="topic-6">Why is having low emotional intelligence bad?</h2>
            <p>Being emotionally intelligent is full of positive things. On the other hand, 
                it is the exact opposite of having a low EQ. People with a low level of emotional 
                intelligence have a hard time understanding their own emotions and the emotions 
                of people around them. They aren’t good at recognizing how others feel or 
                expressing their own feelings. All these things collectively create problems 
                in interpersonal relationships for them. Consequently, people with a low EQ 
                level may even find it hard to form healthy relationships with their work peers 
                or friends.</p>
            <h4><strong>Signs of low Emotional Intelligence</strong></h4>
            <p>Here are a few signs that might indicate you have a low EQ score. However, keep in 
                mind that none of these things makes you a bad person, you just need to work on 
                your emotional intelligence a bit more so that it will help you in the long run.</p>
            <ul>
                <li>You have trouble understanding what causes certain feelings.</li>
                <li>Having no interest in getting creative with solving your problems.</li>
                <li>Often finding yourself not being able to express your opinions directly 
                    or get the point across.</li>
                <li>You always want to be “right” in conversations or arguments. This is an indicator
                    that you don’t handle criticism well, whether it be constructive or otherwise.</li>
                <li>You blame others for your problems and don’t hold yourself accountable. 
                    There is no space for growth.</li>
            </ul><br>
            
            <h2 class="mt-3" id="topic-7">Improving Emotional Intelligence</h2>
            <p>Yes, you can! Here are 10 tips that we think could help you,</p>
            <ol>
                <li>Use an assertive style of communication</li>
                <p>Always be respectful and try your best not to come off as too passive or aggressive. 
                    This is especially important in an organizational context. the goal here is to be 
                    direct when expressing your opinions while also being respectful.</p>
                <li>Work on your active listening skills</li>
                <p>Don’t wait for your turn to speak, make sure you listen properly first.</p>
                <li>Learn to look at yourself objectively</li>
                <p>Looking at yourself objectively isn’t easy, however, you could ask other’s 
                    who know you best about your strengths and weaknesses. Keep in mind the 
                    outputs you get will most likely be personal opinions and what you should 
                    look for are patterns. If you see a pattern of negatives, then it would be 
                    a good idea to work on it.</p>
                <li>Stay motivated</li>
                <p>Set goals for yourself. Try your best to stay motivated and tough when facing challenges.</p>
                <li>Take criticism well</li>
                <p>Instead of getting defensive or offended, try to understand where the critique is coming from, 
                    how it affects others or their own performance, and a way to productively 
                    tackle the issue.</p>
                <li>Show empathy</li>
                <p>Empathy helps relate to others on a basic human level. Similarly, it can help you fit 
                    in among different people with different opinions and situations by opening the path 
                    to mutual understanding and respect.</p>
                <li>Be approachable</li>
                <p>Always be nice, approachable, and accessible. This is important if you are a team leader 
                    in an organization.</p>
                <li>Be less selfish</li>
                <p>Let’s be honest, being too selfish won’t make you a likeable person no matter 
                    what context you are in.</p>
                <li>Learn leadership skills</li>
                <p>Good leaders rank higher in emotional intelligence scores. Therefore, developing 
                    your leadership skills with probably help develop your emotional 
                    intelligence as well.</p>
                <li>Have an interest</li>
                <p>Taking the time to be engaged in what you are doing, whether it be work-related
                    or personal, is a critical aspect of regulating yourself and your emotions.</p>
            </ol><br>

            <h2 class="mt-3" id="topic-8">A final note</h2>
            <p>To summarize, being emotionally intelligent comes with a lot of benefits. You much 
                have realized that by now. If you already have a higher EQ score, great! you are 
                on the right track, but if you don’t it is important that you work on it. As we 
                mentioned in the article, it would <a href="https://epsychiatry.com.au/contact-us/">help</a> 
                you grow in both personal and professional 
                aspects of your life.</p>
            <p>If you are still not sure where you stand on the emotional intelligence scale or 
                want to get a proper EQ test score accessed by a professional, please feel free 
                to reach out to us. Here at <a href="https://epsychiatry.com.au/">Epsychiatry</a> we 
                have well-trained professionals including <a href="https://epsychiatry.com.au/clinicians/">psychologists</a>
                 and psychiatrists who could calculate your EQ scores for you and even 
                give you tips on improvement. You can also access the wide range of resources 
                present on our website.</p><br>
            </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>