<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Family Therapy | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#nav3").load("nav3.html");
            $("#footer3").load("footer3.html");
        });
    </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <!--navigation bar starts here-->
    <div id="nav3"></div>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>-->
<!--            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
<!--                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"-->
<!--                    data-bs-toggle="collapse" type="button">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownServices" role="button">Services</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic-->
<!--                                        Attacks</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &-->
<!--                                        Mental Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in-->
<!--                                        Adults</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity-->
<!--                                        Crisis</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics-->
<!--                                        Disorder()</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge-->
<!--                                        Eating Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia-->
<!--                                        Nervosa</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine-->
<!--                                        Use Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive-->
<!--                                        Daydreaming</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video-->
<!--                                        Game Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse-->
<!--                                        Control Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic-->
<!--                                        Fatigue</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/functional-neurological-disorder.html">Functional-->
<!--                                        Neurological Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body-->
<!--                                        Image</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief-->
<!--                                        & Loss</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of-->
<!--                                            Interest</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of-->
<!--                                                Interest or No Interest</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self-->
<!--                                        Esteem</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major-->
<!--                                            Depressive Disorder</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/depression-major-depressive-disorder.html">-->
<!--                                                Depression</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent-->
<!--                                        Depressive Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger-->
<!--                                        Management</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/dependent-personality-disorder.html">Dependent-->
<!--                                        Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity-->
<!--                                        &-->
<!--                                        Disinhibition</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an-->
<!--                                        overview of Narcissistic behaviour</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive-->
<!--                                        Personality Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"-->
<!--                                           href="#">Conflict</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict-->
<!--                                                resolution</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownTeam" role="button">Team</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownResources" role="button">Resources</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional-->
<!--                                        Mental Health Service</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling-->
<!--                                        for men</a></li>-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief-->
<!--                                                counselling-->
<!--                                                help?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover-->
<!--                                                grief counselling?</a>-->
<!--                                            </li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief-->
<!--                                                counseling</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief-->
<!--                                                counselling work</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling-->
<!--                                                for you?</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth-->
<!--                                        work?</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist-->
<!--                                        Appointment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry-->
<!--                                        Service</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental-->
<!--                                        Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist-->
<!--                                        online</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see-->
<!--                                                a psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or-->
<!--                                                Psychiatrist?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via-->
<!--                                                telehealth benefits</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of-->
<!--                                                Psychologists</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &-->
<!--                                            Assessment</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional-->
<!--                                                Intelligence</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality-->
<!--                                                Testing</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance-->
<!--                                            and Commitment Therapy</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and-->
<!--                                                Commitment Therapy</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive-->
<!--                                            Behavioural Therapy (CBT)</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT-->
<!--                                                (Cognitive Behavioral Therapy)</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for-->
<!--                                                insomnia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma-->
<!--                                                focused CBT</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive-->
<!--                                        therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="d-flex" id="btn-login">-->
<!--                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>-->
<!--                </div>-->
<!--                <form class="d-flex">-->
<!--                    <div class="input-group">-->
<!--                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary" type="button">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Family Therapy</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Psychotherapy</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Family Therapy</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is family therapy?</a>
                    <a href="#topic-2" class="nav-link">Why family therapy?</a>
                    <a href="#topic-3" class="nav-link">How does family therapy help?</a>
                    <a href="#topic-4" class="nav-link">What can family therapy help you with?</a>
                    <a href="#topic-5" class="nav-link">Techniques used in family therapy</a>
                    <a href="#topic-6" class="nav-link">What are the advantages of family therapy?</a>
                    <a href="#topic-7" class="nav-link">Is your family eligible for therapy?</a>
                    <a href="#topic-8" class="nav-link">Potential risks of family therapy</a>
                    <a href="#topic-9" class="nav-link">How can you find a family therapist?</a>
                    
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>Where one grows up plays a vital role in the man or woman they will become. 
                Family is the closest thing to any of us. It is the first setup we 
                recognize. It is our immediate call for help. Even though eventually 
                we grow apart to make our own families, the impact our birth family had 
                on us is everlasting. Family therapy helps couples, children, and 
                extended family to get over tough times that are ruining 
                their relationships.</p>
            <p>While some are lucky to be born to a friendly, healthy, close family, most 
                suffer from being neglected, overlooked, or harassed by theirs. 
                Sometimes, the negative impact may be caused by factors that are not 
                noticeable. Parents may not even know that their kids feel unsafe and 
                neglected. These issues can lead to unsettling situations, distance 
                within the members, and overall an unpleasant family setting.</p><br>

            <h2 class="mt-3" id="topic-1">What is family therapy?</h2>
            <p>Family therapy is one type of counselling. The main goal of family therapy 
                is to help families solve internal issues and get along. This method 
                improves communication and cuts down conflicts. However, this is a 
                short-term treatment method and may include all or most family members. 
                The service is provided by trained experts. Your therapist has the power 
                to decide your treatment plan based on the situation of your family.</p>
            <p>It is normal for families to seek counselling after a major life event in 
                the family. It could be a traumatic event or even a drastic change. Family 
                therapy helps family members deepen their bonds with each other. This 
                process helps families find the middle ground in questions that may make 
                members uncomfortable. However, it is important to have the knowledge to 
                solve family problems and handle special family situations to maintain 
                peace and harmony at home. Especially if one or more members have special 
                needs, anxious, have mood disorders, or other conditions that can 
                potentially affect the function of the entire family.</p>
            <p>However, family therapy requires the genuine effort of every family member 
                in order to succeed. It is a joint effort put forth by the family, guided 
                by a social worker. Also, one notable fact is, in this context of ‘family’ 
                it does not necessarily mean a blood relative. Family shows up in many ways.</p><br>

            <h2 class="mt-3" id="topic-2">Why family therapy?</h2>
            <p>Family therapy helps you deepen and understand the bond you have with the rest 
                of the family members. It could be your children, your spouse, your 
                stepfamily, parents, etc. In other words, this is a place for you to 
                bring up issues that you think are affecting your family. These issues 
                vary from one family to another. For example, some of them can be 
                substance use, marital problems, mental illnesses, conflicts, etc. 
                It is always important to resolve these issues before they get the best 
                of what you share as a family. This is the perfect opportunity to express 
                your opinion that you feel is affecting the situation at home.</p><br>

            <h2 class="mt-3" id="topic-3">How does family therapy help?</h2>
            <p>Family therapy is specifically designed to address things that affect the 
                health and function of a family. It views individual problems in a larger 
                context. It is based on the theory that individual problems can not be 
                solved without understanding where it is coming from. So, the dynamics of 
                the family setting are analyzed. This is because the function of the 
                family influences the problems. Unresolved issues may cripple your family 
                members day to day lives. You may notice them visibly losing interest, 
                being backward, or being very lazy.</p>
            <p>Most of what is used in family therapy are adopted using cognitive therapy, 
                interpersonal therapy, and behaviour therapy. Just like each of these, the 
                problem and solution vary on the individual. When you feel like the issues 
                in your family are too big for you to handle you can trust family therapists 
                to help you out.</p><br>        

            <h2 class="mt-3" id="topic-4">What can family therapy help you with?</h2>
            <p>Are you experiencing the below issues within your household? In that case, 
                family therapy sessions are recommended to anyone finding it hard to 
                get things under control on their own.</p>
            <ol>
                <li>Nonstop fighting between family members.</li>
                <li>One or more family members addiction to substance use.</li>
                <li>Experiencing infidelity</li>
                <li>Issues regarding the extended family members</li>
                <li>Severe behavioural problems in the children.</li>
                <li>A family member suffering from a mental illness</li>
                <li>Homophobic family members living with gay/lesbian or bisexual family members</li>
                <li>Complains from schools</li>
                <li>A tragic or traumatic situation that has impacted the family. 
                    For example, the death of a family member.</li>
                <li>Financial issues</li>
                <li>Homewrecker issues</li>
            </ol>
            <p>These are not the only causes that may push you to get the help of family therapy. 
                There is no shame in trying to fix your home. It is always better to act before it 
                is too late.</p><br>

            <h2 class="mt-3" id="topic-5">Techniques used in family therapy</h2>
            <p>It is up to your therapist to decide the most useful type of family therapy 
                to help your family. Of course, it is important that you take this advice 
                and guidance from a therapist you feel comfortable with. Here is a listing 
                of some of the most used methods during family therapy.</p>
            <h4><strong>Structural method</strong></h4>
            <p>This technique focuses on strengthening the internal family bonds. The set 
                adjustments leave parents in control. I also press on the boundaries when 
                it comes to both parents and children. The therapist is likely to take an 
                intimate initiative to observe the process of therapy. This theory believes 
                that family issues are caused because of the faulty structure of the family. 
                As a common fix, parents are requested to be more assertive.</p>
            <h4><strong>Bowenian method</strong></h4>
            <p>This technique is focusing on a single family member. In other words, this 
                individual is likely to seek therapy alone. They may want to vent to a third 
                party on what is happening and will seek help alone. However, he or she may 
                interact with a single family member at a time to fix things. The individual 
                will receive instructions on how to be less emotionally reactive in the family.</p>
            <h4><strong>Systemic family therapy</strong></h4>
            <p>This therapy method focuses on identifying hidden languages behind a member’s 
                behaviour. However, the therapist takes a distant stand, evaluating as the 
                family members dive into their issues. Altering one person’s actions can 
                affect the entire family. The therapist will direct circular questions to 
                be out the different perspectives of the family members. In return, they 
                can shift their actions.</p>
            <h4><strong>Narrative family therapy</strong></h4>
            <p>This therapy method encourages individuals to navigate through life using 
                their own skillset. This helps individuals help themselves during problems 
                they face in their lives. Especially the insignificant ones. The therapist 
                will help the narrator by guiding him/her through issues and helping him/her 
                clarify things.</p>
            <h4><strong>Communication family therapy</strong></h4>
            <p>Communication concerns are an important need in therapy. Particularly when 
                it comes to relationship treatment. When the primary difficulty between the 
                couple is a lack of communication. Differences in cultural origins and/or 
                personal experiences might lead to communication problems between people. 
                In other words, trauma, secrecy, and mental health concerns are some of the 
                other factors that might lead to this problem. However, there are various 
                solutions for dealing with communication challenges. They can be for the 
                benefit of an individual or two people in a close relationship. However, a 
                qualified therapist can help a person in deciding the most effective ways 
                for increasing communication. A few examples are active listening, opening 
                lines of communication, and mediated communication.</p>
            <h4><strong>Transgenerational family therapy</strong></h4>
            <p>This method allows therapists to look at relations between family members 
                from different generations. In other words, the observations and analysis 
                of interactions by the family therapist aid them in grasping the core 
                concerns inside the family group. The therapist may pick up on future 
                challenges or stressful situations in addition to existing issues. 
                This therapy concept frequently combined with different therapies.</p><br>

            <h2 class="mt-3" id="topic-6">What are the advantages of family therapy?</h2>
            <p>On a personal level, each person deals with challenges in their own unique 
                way. However, that is with differing levels of difficulty. Outside help in 
                the form of therapy or counselling can be quite beneficial in addressing 
                these concerns. Similarly, there are situations when the issues are not 
                caused by an individual. In other words, they are caused by or chaotic 
                familial relationships.</p>
            <p>Familial intervention is the best way to address these types of issues. It 
                is a strategy of enhancing communications and relationships among the family 
                members involved.</p>
            <p>Every member of the family is involved in family therapy. That is to discover 
                the source of discomfort and eliminate it in the best way possible. 
                Similarly, parents, siblings, maternal or paternal cousins, uncles, 
                aunts, and even grandparents may be involved.</p>
            <p>Family therapy is a group counselling method that benefits the entire 
                family. The following are some of the benefits of family counselling:</p>
            <ul>
                <li>Identifying family members’ sources of conflict and anxiety</li>
                <li>Family members must re-establish communication.</li>
                <li>More effective expression of painful feelings</li>
                <li>Understanding and respecting other family members’ points of view and opinions</li>
                <li>Allowing family members to value the wants and needs of one another</li>
                <li>assisting people with the stresses of difficult situations</li>
                <li>Developing a stronger sense of empathy for one another</li>
            </ul>
            <p>The goal of family therapy is to bring the family back into harmony. However, 
                it is critical that family members enter the process with an open mind and a 
                willingness to address the issues that are affecting the family. That is 
                necessary for the procedure to be effective. The family can then completely 
                benefit from everything that family therapy has to offer.</p><br>
            
            <h2 class="mt-3" id="topic-7">Is your family eligible for therapy?</h2>
            <p>To avoid tense interactions during a family therapy session, individual 
                counselling for one or more family members may be recommended. Some families 
                are not thought to be good candidates for family therapy. 
                They are as follows:</p>
            <ul>
                <li>Those with cultural or religious values that oppose or distrust counselling</li>
                <li>Families in which one or both parents are psychotic</li>
                <li>The families whose members are unable or unwilling to meet for treatment 
                    on a regular basis</li>
                <li>Families with members who are unable to attend therapy sessions due 
                    to physical illness or other restrictions</li>
                <li>Members of families with inflexible personality structures</li>
            </ul><br>

            <h2 class="mt-3" id="topic-8">Potential risks of family therapy</h2>
            <p>The most significant risk in family therapy is the ability to upset already 
                bad relationships. Family therapy brings out a lot of hidden feelings. 
                However, not everyone can handle all that. Similarly, intensive family 
                therapy can be tough for family members who have been diagnosed with mental 
                illnesses. For children who may not fully comprehend the relationships that 
                occur during family therapy, family therapy can be very tough and stressful. 
                Individual treatment for children and adolescents, either by the same 
                therapist (if suitable) or a therapist who is aware of the family treatment, 
                might be beneficial.</p><br>

            <h2 class="mt-3" id="topic-9">How can you find a family therapist?</h2>
            <p>Is it time to seek professional help for your family? Here is how you can 
                find the best therapist to help you out.</p>
            <h4><strong>Ask a doctor</strong></h4>
            <p>Patients can often be referred to a qualified family therapy service by their 
                family doctors. Thus, family doctors typically provide insight into which 
                family therapists in the area might offer the best treatment for a family. 
                They have worked with other families with similar challenges. Thus, 
                consider seeking advice from your 
                <a href="https://epsychiatry.com.au/clinicians/">doctor</a>.</p>
            <h4><strong>Ask a religious leader</strong></h4><br>
            <p>If you belong to a religious community, you can seek advice from your 
                religious head. Families with strong religious background are more likely 
                to choose a counsellor who shares their beliefs.</p>
            <h3><strong>Refer online information or personal recommendations</strong></h3>
            <p>People who have benefited from a therapist’s 
                <a href="https://epsychiatry.com.au/contact-us/">services</a> are one of the best 
                sources for referrals. Inquire about a family member’s experience with their 
                therapist, if you know someone who has gone to counselling. After that, 
                learn about the therapist’s communication style. Also of the precise actions 
                that he or she advised your buddy to do.</p>
            <p>On top of that, you have the right to inquire about your therapist’s 
                qualifications before you leave the responsibility of your family on 
                their hands. Here are a few questions you can ask your therapists.</p>
            <ul>
                <li>What university did you attend to earn your professional degrees?</li>
                <li>Who was in charge of your early clinical years?</li>
                <li>How long have you been working in this field?</li>
                <li>What is your experience treating a condition like mine?</li>
                <li>Is your bachelor’s degree in family therapy or a comparable field?</li>
                <li>What are your thoughts on family counselling from a philosophical 
                    standpoint? Within family therapy, there are various schools of 
                    thought, and you should find out how the therapist you’re considering 
                    views families and what tactics they employ.</li>
            </ul>
            </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<div id="footer3"></div>
<!--<footer class="site-footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Contact us</h6>-->
<!--                <form>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-name" placeholder="Name*" required-->
<!--                               style="max-width: 350px" type="text">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required-->
<!--                               style="max-width: 350px" type="email">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required-->
<!--                                  rows="5" style="max-width: 350px"></textarea>-->
<!--                    </div>-->
<!--                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="col-sm-12 col-md-4">-->
<!--                <h6>Important</h6>-->
<!--                <p class="text-justify">This is not an emergency service. Same day consults are not available.-->
<!--                    If you are in distress please contact your nearest emergency department,-->
<!--                    your local area mental health service triage or dial “000</p>-->
<!--            </div>-->

<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Learn More</h6>-->
<!--                <ul class="footer-links">-->
<!--                    <li><a href="">Psychology via Telehealth Benefits</a></li>-->
<!--                    <li><a href="">Five reasons to see a psychologist</a></li>-->
<!--                    <li><a href="">Professional Mental Health Service</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div class="container mt-3" style="text-align: center">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>