<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Grief Counseling - Therapy to deal with loss | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#nav3").load("nav3.html");
            $("#footer3").load("footer3.html");
        });
    </script>


</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <!--navigation bar starts here-->
    <div id="nav3"></div>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>-->
<!--            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
<!--                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"-->
<!--                    data-bs-toggle="collapse" type="button">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownServices" role="button">Services</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic-->
<!--                                        Attacks</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &-->
<!--                                        Mental Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in-->
<!--                                        Adults</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity-->
<!--                                        Crisis</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics-->
<!--                                        Disorder()</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge-->
<!--                                        Eating Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia-->
<!--                                        Nervosa</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine-->
<!--                                        Use Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive-->
<!--                                        Daydreaming</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video-->
<!--                                        Game Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse-->
<!--                                        Control Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic-->
<!--                                        Fatigue</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/functional-neurological-disorder.html">Functional-->
<!--                                        Neurological Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body-->
<!--                                        Image</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief-->
<!--                                        & Loss</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of-->
<!--                                            Interest</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of-->
<!--                                                Interest or No Interest</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self-->
<!--                                        Esteem</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major-->
<!--                                            Depressive Disorder</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/depression-major-depressive-disorder.html">-->
<!--                                                Depression</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent-->
<!--                                        Depressive Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger-->
<!--                                        Management</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/dependent-personality-disorder.html">Dependent-->
<!--                                        Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity-->
<!--                                        &-->
<!--                                        Disinhibition</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an-->
<!--                                        overview of Narcissistic behaviour</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive-->
<!--                                        Personality Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"-->
<!--                                           href="#">Conflict</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict-->
<!--                                                resolution</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownTeam" role="button">Team</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownResources" role="button">Resources</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional-->
<!--                                        Mental Health Service</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling-->
<!--                                        for men</a></li>-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief-->
<!--                                                counselling-->
<!--                                                help?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover-->
<!--                                                grief counselling?</a>-->
<!--                                            </li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief-->
<!--                                                counseling</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief-->
<!--                                                counselling work</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling-->
<!--                                                for you?</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth-->
<!--                                        work?</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist-->
<!--                                        Appointment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry-->
<!--                                        Service</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental-->
<!--                                        Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist-->
<!--                                        online</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see-->
<!--                                                a psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or-->
<!--                                                Psychiatrist?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via-->
<!--                                                telehealth benefits</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of-->
<!--                                                Psychologists</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &-->
<!--                                            Assessment</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional-->
<!--                                                Intelligence</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality-->
<!--                                                Testing</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance-->
<!--                                            and Commitment Therapy</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and-->
<!--                                                Commitment Therapy</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive-->
<!--                                            Behavioural Therapy (CBT)</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT-->
<!--                                                (Cognitive Behavioral Therapy)</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for-->
<!--                                                insomnia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma-->
<!--                                                focused CBT</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive-->
<!--                                        therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="d-flex" id="btn-login">-->
<!--                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>-->
<!--                </div>-->
<!--                <form class="d-flex">-->
<!--                    <div class="input-group">-->
<!--                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary" type="button">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Grief Counseling - Therapy to deal with loss</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Counselling</a></li>
                <li class="breadcrumb-item"><a href="#">Grief</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Grief Counseling - Therapy to deal with loss</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is grieving?</a>
                    <a href="#topic-2" class="nav-link">Simply defining grief counselling</a>
                    <a href="#topic-3" class="nav-link">Techniques used in grief counselling</a>
                    <a href="#topic-4" class="nav-link">Grief counselling for children</a>
                    <a href="#topic-5" class="nav-link">How can I help myself deal with grief?</a>
                    <a href="#topic-6" class="nav-link">What will grief counselling do for you</a>
                </div>
            </div>
        </div>


        <div class="col-9 col-lg-9" id="main">
            <p>
                Grief is an inevitable feeling. All of us experience grief as we go along. We are all going to lose someone
                as we do life. Someone very dear to us as well as losses that may not affect us as much. Grief is normally
                the empty, hurtful feeling accompanied by loss. The way each one of us reacts to grief may be different.
                However, it is necessary to react and let we hurt out to grow past the loss. Sometimes some of us may need
                a bit of help with that. Especially when it comes to a healthy way of dealing with grief, grief counselling
                lends a very helpful hand on occasions such as these.
            </p>

<!--            topic1-->
            <h2 class="mt-3" id="topic-1">What is grieving?</h2>
            <p>
                The overwhelming negative emotions that have us crying and mourning for a loss is grieving. This period involves
                many emotions, and most are negative.
            </p>
            <p>There are four stages of grief.</p> <br>
            <h4><strong>1st stage – Denial</strong></h4>
            <p>
                If the death is unexpected, it is likely that the family will find it hard to believe. That is where denial happens.
                They may refuse to admit to the death, or admit to the situation. This acts as a temporary shield against the upcoming
                wave of emotions that will hit when the denial has passed. Some hold on to this for as long as they can. It delays
                the process of moving on.
            </p> <br>
            <h4><strong>2nd stage – Anger</strong></h4>
            <p>
                You may be angrier than usual. Maybe at the dead person. Or at the spouse who gave up on the marriage. Maybe at
                yourself for not doing things right. It depends on the situation. However, the chances are, you may direct this
                anger towards other people. You might also hurt yourself or find toxic ways of letting this anger out.
            </p> <br>
            <h4><strong>3rd stage – Bargaining</strong></h4>
            <p>
                This is when you may create a lot of ‘what if’ scenarios. You may wonder how things could have gone differently.
                What you should not have done and how different things will be if that one thing happened. Or if that thing didn’t happen.
            </p> <br>
            <h4><strong>4th stage – Depression</strong></h4>
            <p>
                This is when the individual goes quiet and keeps to themselves. They may be drowning in extreme emotions of grief,
                guilt, and regret and are likely to distance themselves to mourn alone. This stage can do significant damage to
                one’s psychological health, but it is also necessary to go through this in order to eventually move on.
            </p> <br>
            <h4><strong>5th stage – Acceptance</strong></h4>
            <p>
                After digesting all the emotions you start accepting the loss. In other words, you understand its impact on your
                life and you are ready to deal with it. Of course, you do not get over a loss overnight and even when you think
                you are ready you may have frequent relapses. The point is to deal with these emotions one at a time and learning
                to live with them.
            </p>
            <p><br></p>
            <p>
                Grief varies based on people. That involves how they react to it. It is important that we mourn a loss because
                of these reasons.
            </p>
            <ol>
                <li>to face the reality of the loss</li>
                <li>in order to work on moving on</li>
                <li>to adjust to life without a loved one</li>
                <li>to remember the person you lost while moving on with your life</li>
                <li>Grief is not something anyone will completely get over. However, counselling helps deal with the intensity of these emotions. When the grief is prolonged, the symptoms may be severe. This is the time grief counselling is recommended.</li>
            </ol>
            <p><br></p>

            <!--            topic2-->
            <h2 class="mt-3" id="topic-2">Simply defining grief counselling</h2>
            <p>
                Loss is accompanied by a range of feelings. This is not just grief. It can be anger, stress, guilt, yearning,
                regret, etc. Emotions are likely to be overwhelming and will not be as mild. Emotions can also be confusing
                such as the relief one feels when a loved one dies after suffering for a long time. As much as they miss their
                companion, relief can be felt because they are finally in peace. However, grief is a broad topic. It can be felt
                during a range of situations, such as a death, divorce, falling apart from a family, etc.
            </p>
            <p>
                Grief counselling is necessary to help an individual grieve in a healthy manner. The sessions aim to help a
                client find ways to cope with the emotions, understand what they feel and find ways of moving on when they
                are ready. Grief can affect people in different ways and sometimes the way some people choose to deal with
                grief may be destructive to themselves and their loved ones. Grief counselling is designed to help your
                process and react to grief in the best way.
            </p>
            <p>
                You will be guided through a range of emotions and you will learn to experience and deal with them in a safe
                and comfortable space. A licensed professional will provide you with therapy and will help you along the way.
                However, any information you exchange with the therapist will be confidential.
            </p> <br>
            <h4><strong>Observe if what is below sounds similar to your condition.</strong></h4>
            <ul>
                <li>denial that a loss has occurred</li>
                <li>shock and disbelief of the loss that seems to last</li>
                <li>prolonged despair and emptiness since the loss</li>
                <li>overwhelming sadness involving a lot of crying</li>
                <li>depressive symptoms such as reluctance to do anything</li>
                <li>being tired or exhausted</li>
                <li>feeling guilty and responsible for the loss</li>
                <li>regret or shame regarding the loss</li>
                <li>yearning for the lost loved one</li>
                <li>being scared</li>
                <li>insecurity and feeling helpless</li>
                <li>being physically ill such as nauseous, fatigue, insomnia, weight loss or gain, etc.</li>
            </ul>
            <p>
                In the case, you are experiencing the above symptoms after losing a loved one or while grieving for a loss,
                it is better to seek professional help. If you let these symptoms persist, you may end up permanently depressed
                and will find it hard to get over the grieving process.
            </p>
            <p><br></p>

            <!--            topic3-->
            <h2 class="mt-3" id="topic-3">Techniques used in grief counselling</h2>
            <p>
                Grief counselling can be an effective way of getting over the depression that sets after losing someone. It
                helps you move on while carrying the memory of the deceased. However, this is not a magic trick that takes
                away your pain entirely. However, it helps you live with the grief and makes your life easier.
            </p>
            <p>
                Professionals use a few techniques when it comes to grief counselling. Below are some of those.
            </p> <br>
            <h4><strong>Allowing grief</strong></h4>
            <p>
                Letting the client openly talk about their loss. The deceased person, the deceased pet, failing marriage, or
                what has them emotional. Allowing the client to express what this loss means to them and the impact it has on
                them. They are allowed to dive into these emotions in a very safe space.
            </p> <br>
            <h4><strong>Recognizing trauma</strong></h4>
            <p>
                A therapist or the counselor will also try to understand whether the client is suffering due to trauma. If their
                emotions are related to persisting image in their head or an event that took place. It can easily be the moment
                they saw their loved one die. Such experiences can keep them from working through their grief.
            </p> <br>
            <h4><strong>Noticing the underlying emotions</strong></h4>
            <p>
                Understanding the underlying emotions. It may not only be the grief that the client is dealing with. These
                emotions may be complexed with regret, shame, guilt, or other components. However, therapists will understand
                these underlying emotions to decide on which course of action will be the best to help the client.
            </p> <br>
            <h4><strong>Using the right words</strong></h4>
            <p>
                Right words are also important when it comes to dealing with a patient battling with grief. Using the past
                tense while talking about the deceased is a simple technique to subtly push the client towards reality.
                They will be as gentle as they can but very realistic so the client won’t go through complicated grief.
                They may also use the name of the deceased throughout the session. However, it is unlikely that your
                counselor will push you past your limits.
            </p> <br>
            <h4><strong>Helping to gain self-confidence</strong></h4>
            <p>
                If a client is especially hung up on grief or regret, the therapist will attempt to boost their self-image.
                How they feel about themselves impacts the whole situation. In other words, if the deceased person was the
                one to make you feel beautiful and if your happiness and confidence largely depended on them, the therapist
                will help you with how to feel beautiful on your own.
            </p> <br>
            <h4><strong>Saying goodbye</strong></h4>
            <p>
                Grief can be abundantly overwhelming if the loss was sudden. In this case, the therapist may advise you to
                communicate with them one more time. This is done commonly by writing a letter. The therapist will request
                the client to express how they feel about the loss, how it has affected them, and also about how their life
                is now and what their plans are. This will help you get a lot of baggage off your chest.
            </p> <br>
            <h4><strong>The empty chair technique</strong></h4>
            <p>
                This technique is performed by placing an empty chair in front of the client and asking them to speak to it.
                Normally, the empty chair is supposed to be the deceased.
            </p> <br>
            <h4><strong>Checking for depression symptoms</strong></h4>
            <p>
                Depression is one of the 5 stages of grief. However, some may not recover without professional help. In other
                words, they may never proceed to the acceptance stage. Thus, the therapist will try to understand if the client
                is depressed by asking them different questions. These questions can include your sleep schedule, your appetite,
                physical pain, or other depressive symptoms.
            </p>
            <p>
                Except for these, there are countless other measures taken by therapists to help their clients with their situation.
            </p>
            <p><br></p>

            <!--            topic4-->
            <h2 class="mt-3" id="topic-4">Grief counselling for children</h2>
            <p>
                This is not very different from the concept used on adults. They may react to death differently. However, the
                severity of the impact is no different for children. If not dealt with it can affect them badly in the future.
                Here are a few counselling methods used on children to help them deal with loss.
            </p> <br>
            <h4><strong>Counselling using art</strong></h4>
            <p>
                Art helps children express themselves. With art therapy, the counsellor can identify the child’s thoughts. This
                method is useful when the child refuses to talk. Art helps to convey messages without words. A therapist can ask
                to draw a picture of what makes the child sad.
            </p> <br>
            <h4><strong>Grief counselling through play therapy</strong></h4>
            <p>
                During playtime, children use their instincts. Based on that information the therapist can identify the child’s mind.
                Toys may also be props to encourage the child to communicate.
            </p>
            <p><br></p>

            <!--            topic5-->
            <h2 class="mt-3" id="topic-5">How can I help myself deal with grief?</h2>
            <p>
                With or without professional help, the patient’s genuine effort is necessary to deal with grief. Also, if you let
                it, it will swallow you whole. It is likely that your counsellor will inform you of these techniques. Here are a
                few things to do to regain control of your emotions.
            </p> <br>
            <h4><strong>Try and share your emotions</strong></h4>
            <p>
                You don’t have to grieve alone. Even if you feel like you are in pain more than others are, you can still share
                your feelings with someone that you trust. It is important to maintain contact with others so they know what you
                are going through. They can help you with the funeral, arrange rituals that help you find faith and peace, help
                you with words, and will hold your hand as you take your time to get through this difficult period.
            </p> <br>
            <h4><strong>Check on yourself</strong></h4>
            <p>
                Getting over the dismission of a loved one can be very hard. However, if the outcome of that is your health
                deteriorating, it does no one good. It is easy to grieve or blame yourself and forget yourself along the way.
                Things may not be as easy but start with being fed, engaging in daily activities, finding a creative way of
                expressing yourself, adopting hobbies that may help you relax. This does not mean pretending like everything
                is fine. Allow yourself to feel the emotions. Cry when you have to. Understand that it is necessary to let the
                emotions out. It is okay to reach out for <a href="https://epsychiatry.com.au/">support</a> if you need to.
            </p> <br>
            <h4><strong>What will grief counselling do for you</strong></h4>
            <p>
                No matter how much you try, these waves of sadness can bring you down too often. Especially if there is baggage
                involved, such as regret, shame, guilt, etc. It is okay to feel helpless because help is always around. A qualified
                <a href="https://epsychiatry.com.au/clinicians/">professional</a> can help you with your struggles and make life
                easier for you.
            </p>
            <p><br></p>

            <!--            topic6-->
            <h2 class="mt-3" id="topic-6">What will grief counselling do for you</h2>
            <p>
                It is important to understand that grief counselling
            </p>
            <ul>
                <li>does not erase your memory about the deceased person or loss</li>
                <li>is not a fast track method to get through the grief</li>
                <li>will not change you fundamentally</li>
            </ul>
            <p>
                What grief counselling will <a href="https://epsychiatry.com.au/contact-us/">help</a> you with is identifying your emotions and dealing with your energy healthily.
                It will help you move on while holding a part of your dear one.
            </p>
            <p><br></p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<div id="footer3"></div>
<!--<footer class="site-footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Contact us</h6>-->
<!--                <form>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-name" placeholder="Name*" required-->
<!--                               style="max-width: 350px" type="text">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required-->
<!--                               style="max-width: 350px" type="email">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required-->
<!--                                  rows="5" style="max-width: 350px"></textarea>-->
<!--                    </div>-->
<!--                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="col-sm-12 col-md-4">-->
<!--                <h6>Important</h6>-->
<!--                <p class="text-justify">This is not an emergency service. Same day consults are not available.-->
<!--                    If you are in distress please contact your nearest emergency department,-->
<!--                    your local area mental health service triage or dial “000</p>-->
<!--            </div>-->

<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Learn More</h6>-->
<!--                <ul class="footer-links">-->
<!--                    <li><a href="">Psychology via Telehealth Benefits</a></li>-->
<!--                    <li><a href="">Five reasons to see a psychologist</a></li>-->
<!--                    <li><a href="">Professional Mental Health Service</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div class="container mt-3" style="text-align: center">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>