<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Public Perth Psychologist & Psychiatry Service | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <!--    jquery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#nav3").load("nav3.html");
            $("#footer3").load("footer3.html");
        });
    </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>


    <!--navigation bar starts here-->
    <div id="nav3"></div>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>-->
<!--            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
<!--                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"-->
<!--                    data-bs-toggle="collapse" type="button">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownServices" role="button">Services</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic-->
<!--                                        Attacks</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &-->
<!--                                        Mental Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social-->
<!--                                        Anxiety Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in-->
<!--                                        Adults</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity-->
<!--                                        Crisis</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics-->
<!--                                        Disorder()</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge-->
<!--                                        Eating Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia-->
<!--                                        Nervosa</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine-->
<!--                                        Use Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive-->
<!--                                        Daydreaming</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video-->
<!--                                        Game Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse-->
<!--                                        Control Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic-->
<!--                                        Fatigue</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/functional-neurological-disorder.html">Functional-->
<!--                                        Neurological Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body-->
<!--                                        Image</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief-->
<!--                                        & Loss</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of-->
<!--                                            Interest</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of-->
<!--                                                Interest or No Interest</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self-->
<!--                                        Esteem</a></li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major-->
<!--                                            Depressive Disorder</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item"-->
<!--                                                   href="../../templates/services/depression-major-depressive-disorder.html">-->
<!--                                                Depression</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent-->
<!--                                        Depressive Disorder</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger-->
<!--                                        Management</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/services/dependent-personality-disorder.html">Dependent-->
<!--                                        Personality-->
<!--                                        Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity-->
<!--                                        &-->
<!--                                        Disinhibition</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an-->
<!--                                        overview of Narcissistic behaviour</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive-->
<!--                                        Personality Disorder</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"-->
<!--                                           href="#">Conflict</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict-->
<!--                                                resolution</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental-->
<!--                                        Health</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownTeam" role="button">Team</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>-->
<!--                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropleft">-->
<!--                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"-->
<!--                           id="navbarDropdownResources" role="button">Resources</a>-->
<!--                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional-->
<!--                                        Mental Health Service</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item"-->
<!--                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling-->
<!--                                        for men</a></li>-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief-->
<!--                                                counselling-->
<!--                                                help?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover-->
<!--                                                grief counselling?</a>-->
<!--                                            </li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief-->
<!--                                                counseling</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief-->
<!--                                                counselling work</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling-->
<!--                                                for you?</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth-->
<!--                                        work?</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist-->
<!--                                        Appointment</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry-->
<!--                                        Service</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental-->
<!--                                        Health</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist-->
<!--                                        online</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropend">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see-->
<!--                                                a psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or-->
<!--                                                Psychiatrist?</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via-->
<!--                                                telehealth benefits</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical-->
<!--                                                Psychologist</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of-->
<!--                                                Psychologists</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &-->
<!--                                            Assessment</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia-->
<!--                                                test</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional-->
<!--                                                Intelligence</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality-->
<!--                                                Testing</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu dropleft">-->
<!--                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance-->
<!--                                            and Commitment Therapy</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and-->
<!--                                                Commitment Therapy</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown-submenu dropleft">-->
<!--                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive-->
<!--                                            Behavioural Therapy (CBT)</a>-->
<!--                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT-->
<!--                                                (Cognitive Behavioral Therapy)</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for-->
<!--                                                insomnia</a></li>-->
<!--                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma-->
<!--                                                focused CBT</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive-->
<!--                                        therapy</a></li>-->
<!--                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="d-flex" id="btn-login">-->
<!--                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>-->
<!--                </div>-->
<!--                <form class="d-flex">-->
<!--                    <div class="input-group">-->
<!--                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary" type="button">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Public Perth Psychologist & Psychiatry Service</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Location</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">Public Perth Psychologist & Psychiatry Service</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">List of Community Mental Health Services in Perth – 
                        Psychiatrists, Psychologists, Mental Health Nurses & Social Workers.</a>
                    <a href="#topic-2" class="nav-link">Which location should I call?</a>
                    <a href="#topic-3" class="nav-link">Who can call these services?</a>
                    <a href="#topic-4" class="nav-link">Who will I speak to initially?</a>
                    <a href="#topic-5" class="nav-link">What happens if I call at night (after hours)?</a>
                    <a href="#topic-6" class="nav-link">How long before I get seen by a Perth psychiatrist or psychologist?</a>
                    <a href="#topic-7" class="nav-link">What happens during the first call with triage?</a>
                    <a href="#topic-8" class="nav-link">What happens after the first call?</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>We get that navigating mental health services is hard, even in the best of times. 
                There’s public, private, NDIS providers, disability and aged care worker who all 
                qualified and trained to provide mental health care. It’s a complex system, to 
                begin with, and it’s changing continuously. At Epsychiatry we provide private 
                psychiatry and psychology services. We have private Perth psychiatrists who see 
                our clients.</p>
            <p>Below you will find a list of public mental <a href="https://epsychiatry.com.au/">health</a> clinics. These are secondary 
                specialist services. At these outpatient community 
                <a href="https://epsychiatry.com.au/?_ga=2.120630792.1281452286.1630289665-1315600880.1625456828">clinics</a> 
                where you can see a 
                Perth psychiatrist or psychologist. If you scroll further down, we come up with 
                small Q&A sections. There we cover some of the aspects of seeing public Perth 
                psychologists or <a href="https://epsychiatry.com.au/contact-us/">psychiatrists</a>.</p><br>

            <h2 class="mt-3" id="topic-1">List of Community Mental Health Services in Perth – 
                Psychiatrists, Psychologists, Mental Health Nurses & Social Workers.</h2><br>
            <h4><strong>Adult Community Mental Health Service – Bentley</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:–</strong> 18-56, Mills Street, Bentley WA 6102</li>
                <li><strong>Phone :-</strong> (08) 9416 3544</li>
            </ul><br>
            <h4><strong>Adult Community Mental Health Service – Osborne Park</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:–</strong> Osborne Park Hospital, Osbourne Place, Stirling WA 6021</li>
                <li><strong>Phone :- </strong>(08) 9346 8350</li>
            </ul><br>
            <h4><strong>Adult Community Mental Health Service – Mirrabooka</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:– </strong>Unit 1, 20 Chesterfield Road, Mirrabooka WA 6061</li>
                <li><strong>Phone :-</strong> (08) 9344 5400</li>
            </ul><br>
            <h4><strong>Community Mental Health – Perth Psychiatrist City East</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:– </strong>74 Murray Street, Perth WA 6000</li>
                <li><strong>Phone :- </strong>(08) 9224 1720</li>
            </ul><br>
            <h4><strong>Community Mental Health Service – Clinical Treatment Team (Eudoria Street Centre) – Armadale</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:–</strong> 88 Eudoria Street, Gosnells WA 6110</li>
                <li><strong>Phone :-</strong> (08) 9398 6600</li>
            </ul><br>
            <h4><strong>Community Mental Health Service – Midland</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:– </strong>281 Great Eastern Highway, Midland WA 6056</li>
                <li><strong>Phone :- </strong>(08) 9237 8600</li>
            </ul><br>
            <h4><strong>Community Mental Health Service – Assessment and Treatment Team (Mead Centre) – Armadale</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:- </strong>Armadale Health Service, 3056 Albany Highway, ARMADALE WA 6992</li>
                <li><strong>Phone:- </strong>(08) 9391 2400</li>
            </ul><br>
            <h4><strong>Adult Community Mental Health Service – Subiaco</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:-</strong> Address withheld – call for more info</li>
                <li><strong>Phone:- </strong>(08) 9489 7200</li>
            </ul><br>
            <h4><strong>Adult Community Mental Health Service – Butler</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:- </strong>81 Exmouth Drive, Butler WA 6036</li>
                <li><strong>Phone:-</strong> (08) 6372 1500</li>
            </ul><br>
            <h4><strong>Adult Community Mental Health Service – Rockingham Kwinana</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:- </strong> Ameer Street, Rockingham WA 6168</li>
                <li><strong>Phone:- </strong>(08) 9528 0600</li>
            </ul><br>
            <h4><strong>Joondalup Community Health</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:- </strong>Regents Park Road, Joondalup WA 6027</li>
                <li><strong>Phone:- </strong>(08) 9300 1620</li>
            </ul><br>
            <h4><strong>South Coastal Health And Community Services</strong></h4>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><strong>Address:- </strong>4 Civic Boulevard, Rockingham WA 6168</li>
                <li><strong>Phone:- </strong>(08) 9550 0900</li>
            </ul><br>

            <h2 class="mt-3" id="topic-2">Which location should I call?</h2>
            <p>Call the service closest to you. These clinics are spread across Perth. 
                They each have a catchment area and see people in the neighbouring suburbs. 
                The person answering the phone will usually</p><br>
            <h2 class="mt-3" id="topic-3">Who can call these services?</h2>
            <p>Anyone. If you are concerned about your mental health, call your local service 
                to get advice and suggestions. If you feel a friend or family member needs 
                help, you can call on their behalf or bring it to the service’s attention. 
                GP, Perth psychiatrists, psychologists, NDIS service providers, concerned 
                employers and neighbours, can and have all called triage. It’s a service 
                that is available to the local community.</p><br>        

            <h2 class="mt-3" id="topic-4">Who will I speak to initially?</h2>
            <p>During business hours your call will likely be answered by a receptionist. 
                The person answering the phone is unlikely to be a mental health clinician. 
                However, they are likely to be someone who knows their service and can direct 
                you to the right person.</p><br>

            <h2 class="mt-3" id="topic-5">What happens if I call at night (after hours)?</h2>
            <p>If it is an emergency, that requires an urgent response it is best to call ‘000’. 
                If you call late at night, you will likely hear a recorded message that will include 
                an after-hours triage number. In most cases, your call will be forwarded to the 
                after-hours service.</p><br>
        
            <h2 class="mt-3" id="topic-6">How long before I get seen by a Perth psychiatrist or psychologist?</h2>
            <p>It’s unlikely that you be seen or speak with a local Perth psychiatrist when you call. 
                Generally, calls are taken by someone working at the triage office in these clinics. 
                In some instances when an urgent assessment is needed, a local Perth based psychiatrist 
                might be involved in an in-person review soon after the first call.</p><br>
            
            <h2 class="mt-3" id="topic-7">What happens during the first call with triage?</h2>
            <p>Each of these services is slightly different. Generally, when calling triage you will 
                speak to either a mental health nurse or social worker. They will want to know your 
                details, for example, your name, address and phone number. They will want you to 
                share your story and concerns, after which they will ask clarifying questions. Some 
                callers can find this difficult. However, it helps if the mental health clinician 
                has a thorough understanding. You can certainly let them know if you find their 
                questions intrusive or upsetting.</p><br>

            <h2 class="mt-3" id="topic-8">What happens after the first call?</h2>
            <p>Towards the end of your initial call with triage, generally, the person you are speaking 
                with will try to make a plan. They may suggest you speak to your GP, come into hospital 
                or agree to call you back with more information. In some instance, they may arrange an 
                assessment with a local Perth psychiatrist for you.</p><br>
            </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<div id="footer3"></div>
<!--<footer class="site-footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Contact us</h6>-->
<!--                <form>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-name" placeholder="Name*" required-->
<!--                               style="max-width: 350px" type="text">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required-->
<!--                               style="max-width: 350px" type="email">-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required-->
<!--                                  rows="5" style="max-width: 350px"></textarea>-->
<!--                    </div>-->
<!--                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="col-sm-12 col-md-4">-->
<!--                <h6>Important</h6>-->
<!--                <p class="text-justify">This is not an emergency service. Same day consults are not available.-->
<!--                    If you are in distress please contact your nearest emergency department,-->
<!--                    your local area mental health service triage or dial “000</p>-->
<!--            </div>-->

<!--            <div class="col-xs-6 col-md-4">-->
<!--                <h6>Learn More</h6>-->
<!--                <ul class="footer-links">-->
<!--                    <li><a href="">Psychology via Telehealth Benefits</a></li>-->
<!--                    <li><a href="">Five reasons to see a psychologist</a></li>-->
<!--                    <li><a href="">Professional Mental Health Service</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div class="container mt-3" style="text-align: center">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>