<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>What is CBT (Cognitive Behavioral Therapy) | Epsychiatry</title>
    <!--    favicon -->
    <link href="../../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>


</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <!--navigation bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img alt="Home" src="../../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="../../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>What is CBT (Cognitive Behavioral Therapy)</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Resources</a></li>
                <li class="breadcrumb-item"><a href="#">Psychotherapy</a></li>
                <li aria-current="page" class="breadcrumb-item active" style="color: #54444E;">What is CBT (Cognitive Behavioral Therapy)</li>
            </ol>
        </nav>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">History</a>
                    <a href="#topic-2" class="nav-link">Goals of CBT</a>
                    <a href="#topic-3" class="nav-link">Uses for CBT</a>
                    <a href="#topic-4" class="nav-link">Effectiveness of CBT</a>
                    <a href="#topic-5" class="nav-link">Benefits of CBT</a>
                    <a href="#topic-6" class="nav-link">The negatives of CBT</a>
                    <a href="#topic-7" class="nav-link">Types of CBT</a>
                    <a href="#topic-8" class="nav-link">CBT techniques</a>
                    <a href="#topic-9" class="nav-link">A word of farewell</a>
                    
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>You probably have come across the term CBT or Cognitive Behavioral Therapy at 
                least once. On the other hand, you may have heard your doctor or another 
                health professional talk about it. You may even have been prescribed CBT as 
                a part of treatment for a psychological issue. The possibilities are vast. 
                Nonetheless, you are here to learn more about it. Let’s dive into the world 
                of CBT and its clinical uses.</p>
            <p>Cognitive Behavioral Therapy is likely the most common and popular form of 
                therapy out there. Simply put, CBT is all about challenging and changing 
                negative thoughts that you may have about yourself, others, or the world 
                around you. In turn, it can change unwanted negative behaviour and help 
                you replace them with positive ones.</p>
            <blockquote><i>"We are what we think. All that we are arises with our thoughts. 
                With our thoughts we make the world."</i> <br><br>
                <cite style="font-size: 13px;">Gautama Buddha</cite></blockquote>
                <br>

            <h2 class="mt-3" id="topic-1">History</h2>
            <p>CBT was first introduced by Dr Aaron T. Beck in the 1960s. He was a psychiatrist 
                at the University of Pennsylvania at the time and was experimenting on 
                psychoanalysis and depression. However, his findings did not prove a 
                relationship between depression and psychoanalytic concepts. Instead, 
                he found out that patients with depression experienced a lot of negative 
                thoughts that arise automatically with the condition. The negative thoughts 
                were usually about themselves, the world, or the future.</p>
            <p>Beck then found out that when patients were taught to identify and access 
                negative thoughts, it led them to think in a more realistic way. Additionally, 
                they felt emotionally better and more functional. Just by changing negative 
                thought patterns, patients reached a state of long-lasting change. This 
                process is what we now know as cognitive behavioral therapy.</p><br>

            <h2 class="mt-3" id="topic-2">Goals of CBT</h2>
            <ol>
                <li><h4><strong>Changing thought patterns</strong></h4>
                <p>The first part of CBT is the emotional component. The main focus of it 
                    is to change negative emotions and feelings that patients have about 
                    themselves, the world around them, and the future. For instance, 
                    people with addiction problems, mental disorders, and emotional issues 
                    often find themselves trapped in the same negative string of thoughts. 
                    This gives root to more self-destructive behavior or negative coping 
                    methods.</p>
                <p>CBT helps patients cope better in stressful situations and encourages 
                    them to think differently. A therapist will teach them how to analyze 
                    and challenge their own negative thoughts. In the long run, patients 
                    will learn how to permanently change their thinking patterns which will, 
                    in turn, lead to positive behavior, coping, and emotional states.</p></li>
                <li><h4><strong>Changing behavior</strong></h4>
                <p>Behavior change is the second stage of CBT. Negative thoughts give rise 
                    to negative behavior. After successfully countering the negative 
                    thoughts, a CBT therapist will then help the patient make positive 
                    behavioral changes. Patients are encouraged to think of better ways to 
                    cope with and react to stressors.</p>
                <p>For instance, a patient with a substance abuse disorder will be taught 
                    how not to give in to their addiction by taking a few minutes to process 
                    their thoughts positively. They are then taught to engage in a 
                    productive and positive activity to keep them busy. This process is 
                    very complex and the solution is specific to the patient.</p></li>
                <li><h4><strong>Setting new goals</strong></h4>
                <p>The final stage of cognitive-behavioral therapy is setting new goals for 
                    the patient. Goals made are realistic and always specific to the patient. 
                    For example, if a patient suffers from an anger management issue, the 
                    goal for them may be to walk away from the situation instead of reacting.</p></li>
            </ol><br>

            <h2 class="mt-3" id="topic-3">Uses for CBT</h2>
            <p>CBT is very useful in the treatment of depression and anxiety disorders. 
                However, it has also been proven to be effective in treating a range of 
                other psychological issues including:</p>
            <ul>
                <li>Bipolar disorder</li>
                <li>Borderline personality disorder</li>
                <li>Eating disorders</li>
                <li>Obsessive-compulsive disorder (OCD)</li>
                <li>Panic disorders</li>
                <li>Phobias</li>
                <li>Post-traumatic stress disorder (PTSD)</li>
                <li>Psychosis</li>
                <li>Schizophrenia</li>
                <li>Sleep problems</li>
                <li>Addiction problems</li>
            </ul>
            <p>That is quite a long list. So basically, CBT plays a part in the treatment of 
                most psychological disorders. This means that it must be effective right? 
                Let’s look at the statistics and research.</p><br>      

            <h2 class="mt-3" id="topic-4">Effectiveness of CBT</h2>
            <ul>
                <li>CBT is very effective in the treatment of depression and anxiety. 
                    To illustrate, research suggests that CBT alone is around 50-75% 
                    effective for overcoming depression and anxiety after 5 to 15 modules. 
                    The effectiveness can be further increased by combining CBT with 
                    medication.</li>
                <li>According to the 
                    <a href="https://www.drugabuse.gov/download/675/principles-drug-addiction-treatment-research-based-guide-third-edition.pdf?v=74dad603627bab89b93193918330c223">National Institute on Drug Abuse</a> 
                     U.S., CBT is 
                    very useful in the treatment of substance abuse problems. It can 
                    help increase self-control, avoid triggers, and develop coping 
                    mechanisms for daily stressors.</li>
                <li>CBT is one of the most effective treatments available for eating 
                    disorders at the moment. Especially in the treatment of bulimia 
                    nervosa where patients binge eat large amounts of food and then 
                    forcefully try to get it all out through vomiting or using laxatives.</li>
                <li>In a 2012 meta-analysis of 106 studies, CBT was seen to be rather 
                    effective in the treatment of psychotic disorders, general stress, 
                    anxiety disorders, chronic pain and fatigue.</li>
                <li>The same study indicated that it was effective in the treatment of 
                    personality disorders as well. However, results were stronger and 
                    much better for psychodynamic therapy than CBT.</li>
            </ul><br>

            <h2 class="mt-3" id="topic-5">Benefits of CBT</h2>
            <p>The process of Cognitive Behavioral therapy is brief, highly engaging, 
                goal-oriented, and problem-focused in comparison to other types of therapy. 
                Therapists who use CBT concentrate on the present and the here and now, 
                therefore they don’t need to go through your entire developmental or 
                family history, unlike therapists who use approaches. eg: psychoanalysis. 
                Furthermore, the total number of sessions in CBT depends on the patient 
                and their needs. However, the average number of sessions is about five 
                to fifteen. This is much shorter in comparison to other kinds of therapy 
                that may take many months or even years to complete.</p>
            <p>Here are some more benefits of CBT:</p>
            <h4><strong>There is a benefit for everyone</strong></h4>
            <p>CBT may not work with severe mental disorders or learning disorders. However, 
                it can help you accept and understand that you can change a lot just by 
                simply changing the way you think about certain things. Consequently, you 
                don’t need to have anything wrong with you to see a CBT therapist. Even if 
                you are looking to improve on certain qualities or negative behaviour that 
                you may have, CBT is a good option.</p>
            <h4><strong>CBT give patient’s hope</strong></h4>
            <p>The central point of CBT is changing negative thoughts. For patients with 
                severe conditions, this is useful because it can change their negative 
                thoughts about the future and help them replace those thoughts with positive 
                ones. In the long run, they can open their minds to new possibilities 
                and become hopeful for the future.</p>
            <h4><strong>Increases self-esteem</strong></h4>
            <p>Low self-esteem is a co-existing condition with many mental disorders. It 
                strings together a web on negative ideas and damages the patient’s self-image 
                and self-worth. CBT can counter this.</p>
            <h4><strong>Helps patients relax</strong></h4>
            <p>Aside from helping patients challenge their negative thoughts, CBT can also 
                help them better respond to stress. This involves developing calmer responses 
                using a range of relaxation techniques.</p><br>

            <h2 class="mt-3" id="topic-6">The negatives of CBT</h2>
            <p>Like every other therapeutic approach, CBT is not perfect. There are quite 
                a few downsides of it that are important to keep in mind,</p>
            <ul>
                <li>You need to be willing to change and commit to the process for CBT to 
                    work. It is not a magical process where everything gets better in the 
                    end. You have to put in a lot of work and learn how to look at 
                    situations differently. Therefore, it may not be the best option for
                     people who aren’t willing to change.</li>
                <li>The extra activities or “homework” that comes with CBT can sometimes 
                    take away a lot of your time.</li>
                <li>CBT is structured. Subsequently, it may not be suitable for people 
                    with serious mental disorders.</li>
                <li>A major part of the therapeutic process is confronting your negative 
                    emotions and thoughts. At first, this may make you emotionally uncomfortable
                     or anxious.</li>
                <li>As mentioned earlier, CBT focuses on the present. Some critics argue doing
                     this ignores other possible causes of mental health problems such as 
                     childhood trauma or an unhappy childhood.</li>
                </ul><br>
            
            <h2 class="mt-3" id="topic-7">Types of CBT</h2>
            <p>CBT compromises quite a few different cognitive and behavioral techniques and 
                approaches. These range from structured psychotherapies to self-help material. 
                In addition, there are other therapeutic approaches that involve CBT. These 
                include:</p>
            <h4><strong>Cognitive therapy</strong></h4>
            <p>A short-term form of therapy that is based on the idea that the way people 
                think about themselves, others, or the world around them, affects how they 
                feel emotionally. This form of therapy focuses on present thinking, behavior, 
                and communication instead of past experiences and also on problem-solving.</p>
            <h4><strong>Dialectical behavioral therapy (DBT)</strong></h4>
            <p>DBT is a type of CBT that is beneficial for high-risk tough-to-treat patients. 
                For instance, patients with suicidal thoughts or other self-destructive 
                behavior. It addresses thoughts and behavior using techniques such as emotion 
                regulation and mindfulness. The goal of DBT is to teach patients better 
                coping skills and ways to change unhealthy behavior.</p>
            <h4><strong>Multimodal therapy (MMT)</strong></h4>
            <p>This approach was first introduced by Arnold A. Lazarus. He suggested that 
                psychological issues must be treated by confronting seven different but 
                interconnected components. These include behavior, emotions, sensations, 
                imagery, cognition, interpersonal relationships, 
                and drugs/biological issues.</p>
            <h4><strong>Rational Emotive Behavior Therapy (REBT)</strong></h4>
            <p>REBT is based on the idea that all people want to do well in life. For 
                example, all of us want to be happy or become better people. However, 
                irrational thoughts and feelings can sometimes get in the way of the 
                process. These thoughts can then influence how you look at situations, 
                other people, or even yourself. Often negatively. Furthermore, they can 
                also lead to emotional and behavioral problems.</p>
            <p>REBT helps people recognize their negative/irrational thoughts and 
                replace them with positive rational ones.</p><br>

            <h2 class="mt-3" id="topic-8">CBT techniques</h2>
            <p>To help reach the goals of therapy CBT therapists use a range of techniques 
                and strategies with their patients. To determine which ones to use, your 
                therapist will first talk to you to find out what problems you have and 
                what your goals are.</p>
            <p>Here are a few techniques and approaches you may run into if you 
                decide to go through CBT.</p>
            <h4><strong>Cognitive reframing</strong></h4>
            <p>This involves teaching patients to look deeply into their negative 
                thoughts and change them to more positive and productive ones. Thus, 
                patients can change the way they experience situations. For example, 
                “I am totally useless and stupid because I scored low for the test” is 
                changed to something like “I am smart. I couldn’t study well for this 
                test. I will do better next time”.</p>
            <h4><strong>Guided discovery</strong></h4>
            <p>During this process, the therapist will try to put themselves in the 
                patient’s shoes. They will then ask questions designed to challenge 
                their beliefs and expand their thinking. The goal is to help them look 
                at situations in a new positive way.</p>
            <h4><strong>Exposure therapy</strong></h4>
            <p>Exposure therapy is usually used for the treatment of phobias and fears. 
                The therapist will gradually expose a patient to something that they 
                are afraid of or makes them anxious while teaching them how to cope. 
                Eventually, patients will learn how to stop or control the fear/anxiety 
                response. For example, someone who has a fear for spiders will be 
                gradually exposed to spiders, starting from a picture and ending with 
                an actual spider.</p>
            <h4><strong>Journaling</strong></h4>
            <p>Here, your therapist will ask you to keep a journal or diary on thoughts 
                that occur between sessions and in your normal day-to-day life. This is 
                a great way to track your progress and your thoughts. Furthermore, it 
                can also help you assess the situation you are in and better understand 
                the feelings attached to that situation.</p>
            <h4><strong>Relaxation and stress reduction techniques</strong></h4>
            <p>The therapist will teach you a range of techniques that can help you relax 
                and lower your stress levels. These include,</p>
            <ul>
                <li>Mindfulness meditation</li>
                <li>Deep breathing exercises</li>
                <li>Muscle relaxation</li>
            </ul>
            <h4><strong>Skills training</strong></h4>
            <p>Patients are given the training to develop their skills to achieve goals. 
                Common areas of skill training include social skills, communication skills, 
                and assertiveness skills. Usually, the training process is done through 
                direct instruction, modelling, and role-plays.</p>
            <h4><strong>Behavioural experiments</strong></h4>
            <p>This technique is mostly used for patients with anxiety disorders. They 
                are asked to predict the outcome of tasks and events that make them 
                anxious before finishing them or going through with them. Later the 
                therapist asks them if the prediction came true. Often, the predicted 
                negative outcomes do not happen and ultimately patients learn to lower 
                their anxiety levels.</p><br>

            <h2 class="mt-3" id="topic-9">A word of farewell</h2>
            <p>There is no doubt that CBT is one of the best therapeutic approaches out 
                there. However, as mentioned earlier there is quite a bit of drawback to 
                it. Good thing is, this is the same for every approach in therapy. It is 
                up to you and your Therapist
                <a href="https://epsychiatry.com.au/contact-us/"> mental</a> health professional to determine the 
                best approach for you.</p>
            <p>If you are an Australian citizen who is considering going through CBT or 
                had it recommended to you by a medical 
                <a href="https://epsychiatry.com.au/clinicians/">professional</a>, we can help. Here 
                at Epsychiatry, we have a wonderful team of trained and qualified mental 
                health professionals including psychiatrists and psychologists, who are 
                available full time to assist and guide you through every bit of the 
                process. Reach out to us using the “contact us” option on the website.</p>
            </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>