<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Concentration Problems and Depression | Epsychiatry</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <nav id="nav4"></nav>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Concentration Problems and Depression: Tips to solve them</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">How Depression Affects Your Brain?</a>
                    <a href="#topic-2" class="nav-link">What to do if you have depression and concentration problems?</a>
                    <a href="#topic-3" class="nav-link">Medications to improve concentration and depression</a>
                    <a href="#topic-4" class="nav-link">Therapy for problems: depression and concentration</a>
                    <a href="#topic-5" class="nav-link">Coping Strategies to overcome problems</a>
                    <a href="#topic-6" class="nav-link">Stay Organised</a>
                    <a href="#topic-7" class="nav-link">Conclusion</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>Losing concentration on a task at hand is something we’ve all experienced. It may happen at some point
                during our week. We could get distracted from reading a book by birds chirping or the sound or lyrics
                of music playing in the background. But these problems arise quite noticeably for people experiencing
                depression. Have you ever thought that “Can depression affect concentration?” In this article, learn
                about concentration problems and depression.</p>
            <p>There is a growing body with problems of evidence linking poor concentration with depression.
                In Research, it has revealed that the brain’s ability to process information quickly is significantly
                lowered in people with depression. This poor concentration is also a major problem that can cause
                memory loss and that can be seen in these patients.</p>
            <p>Ultimately, persistent poor concentration leads to complications. It has knock-on effects. There
                are problems including work impairment, interpersonal and social relationships being affected.
                As well as personal problems including difficulty carrying out simple tasks. For example, they
                are such as driving, reading a book, writing a grocery list or even when using social media.
                Consequently, it may be difficult for such persons to make simple decisions.</p>
            <p><br></p>

            <h2 id="topic-1">How Depression Affects Your Brain?</h2>
            <div class="row">
                <div class="col-md-6">
                    <p><img loading="lazy" src="../images/Blue-Entrepreneur-Personalities-Business-Infographic-410x1024-min.webp"
                            alt="Blue-Entrepreneur-Personalities-Business-Infographic" class="img-fluid"></p>
                </div>
                <div class="col-md-6">
                    <p>In depression, several parts of the brain are affected. These include the parts that control
                        mood, emotion, and memory – the “amygdala” and “hippocampus”.</p>
                    <p>As a result, the volumes of these organs decrease. It changes the nerve connections within them.
                        These changes can cause problems such as making it difficult to process and recall information.</p>
                    <p>Depression is not the only common medical condition that associates with poor concentration and
                        attention. However, it is important to know that depression can affect concentration. Diabetes,
                        in particular, poor sugar control has been linked with poorer attention. Also, conditions that
                        affect the brain itself may impact concentration and attention.</p>
                    <p><br></p>

                    <h2 id="topic-2">What to do if you have depression and concentration problems?</h2>
                </div>
            </div>
            <p>If you are struggling with depression, you might have a question “Can depression affect
                concentration?”. Even though you are having trouble with concentration, there is a way out;
                and, you should seek help. Improving your attention and mood depends on a combination of
                medications, therapy, and lifestyle changes. If your depressive symptoms are mild, you may
                not need medication.</p>
            <p><br></p>

            <h2 id="topic-3">Medications to improve concentration and depression</h2>
            <p>Although taking your antidepressant medications can reduce these symptoms and problems caused, not all
                antidepressants are effective that improving attention span. Some antidepressants which are sedating
                may have properties that reduce memory. This is especially true of antidepressant medication you may
                take at night.</p>
            <p>If you have conditions such as ADHD, your doctor may prescribe treatment for those conditions. Those
                medications may have positive impacts on your attention and concentration. This in turn may have
                improved your memory.</p>
            <p><br></p>

            <h2 id="topic-4">Therapy for problems: depression and concentration</h2>
            <p>Therapy is a crucial component of depression treatment. Your therapist can help you with cognitive
                behavioural techniques. This type of therapy can help you to overcome problems by gaining control
                over your thoughts and emotions. Using cognitive-emotional training, you can track your thoughts
                and emotions. It will be helpful to keep them focused on the task at hand.</p>
            <p><br></p>

            <h2 id="topic-5">Coping Strategies to overcome problems</h2>
            <p>In addition to medications and therapy, you also need to adopt some self-help coping strategies.
                It will help to ramp up your attention and focus. These strategies include:</p>

            <h6 class="mt-3"><strong>1. Get more exercise:</strong></h6>
            <p>Exercise improves blood flow to the brain and energises you for a task. Furthermore, regular
                exercise helps to regulate blood sugar, keeping it within the normal range. At least 30 minutes
                of mild exercise, five times a week is recommended. Also, exercise generally has huge benefits
                for mental health including reduced stress levels, which also impairs concentration.</p>

            <p><img loading="lazy" src="../images/Depression_01-min.webp" alt="Depression_01" class="img-fluid"></p>

            <h6 class="mt-3"><strong>2. Practice Meditation:</strong></h6>
            <p>Mindfulness keeps your mind in the present moment. The more you practice it, the greater your brain’s
                capacity to process information and focus on a task. You can start with shorter meditation exercises
                and work your way up to longer ones as you can tolerate.</p>
            <p>You can also practice grounding exercises such as focusing your mind on a mental game or a selected
                object among many. This strengthens your mind’s ability to focus and concentrate on the present task.</p>

            <h2 id="topic-6">Stay Organised</h2>
            <p>To wash your problems away and to get your focus revved up, you need to be organised. Therefore, keep
                a list of daily to-do lists, timelines for each task and cross them off once you are completed. A
                “to-do” list keeps reminding you of what needs to be done during the day, preventing distractions.
                It may help to switch your phones and mobile devices off to minimise distractions.</p>
            <p>Furthermore, set a quiet part of your home for reading or work to avoid distractions. You may also
                set aside a quiet area for having conversations with others.</p>
            <p><br></p>

            <h2 id="topic-7">Conclusion</h2>
            <p>People with depression often struggle to concentrate on their current tasks. They may find that their
                mind wanders away when reading a book or watching a favourite TV show. While this does not sound unusual
                even for healthy people, it can be persistent and debilitating in people with depression. However, with
                medications, cognitive-behavioural training, and effective coping skills, you can boost your attention
                span and your brain’s ability to process information more efficiently.</p>
            <p><img loading="lazy" src="../images/Depression_02-min.webp" alt="Depression_02" class="img-fluid"></p>
            <p class="mt-3"></p>
            <p>Check out this brief video about depression and concentration, where we explore some of the evidence
                and provide some suggestions and tips.</p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>