<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Healthy Parent-Child Relationship | Epsychiatry</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav4"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Healthy Parent-Child Relationship: Importance of bonding</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Reading a Parent’s Mind</a>
                    <a href="#topic-2" class="nav-link">A Positive Parent-Child Relationship</a>
                    <a href="#topic-3" class="nav-link">A Positive Parental-Guidance for a Positive Parent-Child Relationship</a>
                    <a href="#topic-4" class="nav-link">Importance of Parental Care</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <p>Until one has a child, parenting may just be one of the most extraordinary and the most fulfilling
                roles that can be experienced. However, as with all of the different roles that we may play in life,
                parenting can be absolutely challenging as well. In this article, we will be discussing the importance
                    of a healthy Parent-Child bonding/Relationship.</p>

            <h2 id="topic-1">Reading a Parent’s Mind</h2>
            <p>
                As a parent, we would always want to shield our children from all of the pain that this world may
                bring. Sadly, a parent can’t play a superhero’s role. Nevertheless, there are a few steps and acts
                that parents may do to grant a healthy parent-child bonding. This is extremely important in order
                to build a mentally healthy parent-child relationship with our children. Then the questions may
                arise, “what can a parent do to raise a child who is ready to handle all of the highs and lows of
                life? What are the benefits?”
            </p>
            <p><img loading="lazy" src="/images/Parent-child-relationship-01.png" alt="Parent-child-relationship-01"
                    class="img-fluid"></p>
            <p><br></p>

            <h2 id="topic-2">A Positive Parent-Child Relationship</h2>
            <p>
                A positive or healthy parent-child relationship can be when it is emotionally, mentally, socially,
                and physically nurturing. Such, when built, it creates a unique and genuine blanket of a bond that
                lays a firm foundation as a child’s personality is developed. After all, a child’s future life choices
                will more than likely be based on his or her social, physical, mental, and emotional state of health.
            </p>
            <p>
                When we talk about the importance of positive parent-child bonding/relationship, an interest in the
                possible outcome may be asked. “What are the benefits and importance of a healthy parent-child
                bonding or relationship?” Answers may vary from one family to another, but in sum, here’s what makes
                sense:
            </p>
            <ul>
                <li>Children who grow up in a home where relationships resound each other may have a better feel of a
                    secure and healthy attachment. This may then allow the child to build a healthy relationship with
                    others as they grow.</li>
                <li>A secure relationship at home teaches a child to control his or her emotions, especially when
                    placed under stress and in difficult situations.</li>
                <li>May promote healthy and stable linguistic, mental and social behaviours.</li>
                <li>May lay a stable foundation for a healthy day-to-day interaction in school and in society.</li>
                <li>A child that has a secure attachment and a healthy parent-child relationship with a parent may
                    contribute to a child’s ability to tackle life, guide the child with problem-solving skills,
                    balanced decision making and attitudes.</li>
            </ul>
            <p><br></p>

            <h2 id="topic-3">A Positive Parental-Guidance for a Positive Parent-Child Relationship</h2>
            <p><img loading="lazy" src="/images/Parent-child-relationship-02.png" alt="Parent-child-relationship-02" class="img-fluid"></p>
            <p class="mt-3">
                There is no general pattern, a fool-proof rule on how to create a healthy parent-child relationship
                with our children. There are various parenting styles that we can keep in mind to guide us towards
                the best direction. Below are a few positive parenting tips that may allow us to create a healthy
                relationship with our children.
            </p>
            <ul>
                <li>Nothing beats a loving environment, where hugs are warm and kisses are unlimited. However,
                    guidance and restriction must also be implemented.</li>
                <li>Listen to our children when they speak, recognise the points and feelings of love, hate, fear, etc.
                    This allows them to feel important and verify which is very important for the healthy growth of
                    a child.</li>
                <li>As parents, we carry the load of having to be the best role models. We must always try to find
                    solutions before throwing in the towel.</li>
                <li>This teaches our children the meaning of toughness.</li>
                <li>Love is just a word and we should say it a lot of times over. We must show love in our action
                    and also in the way we treat our children.</li>
                <li>Having time to play with our children, especially at a young age is highly advisable.</li>
                <li>The connection with our children, the language and the way we speak will allow our children to
                    develop. It develops our children’s healthy social and creative skills.</li>
                <li>Having meals with our children is a great way to maintain a bond.</li>
                <li>Availability is needed even though how busy we are.</li>
            </ul>
            <p><br></p>

            <h2 id="topic-4">Importance of Parental Care</h2>
            <p>
                We as parents get a chance to mould a child during the formative years of life. The formative years of
                life begin during early childhood until they become young adults. This stage is very important in
                building the blocks towards stable mental health. A parent-child relationship will promote the
                healthiest relationship that nurtures a child physically, emotionally, and socially. This healthy
                parent-child relationship is very unique and everlasting which must be experienced enjoyed and
                nourished.
            </p>
            <p>
                However, when parenting becomes overwhelming, professional help may provide a healthy support system
                that is needed to build a healthy parent-child relationship. Recently and due to the current pandemic,
                online mental health support has gained popularity across the world. Child psychology is often
                considered when a child is unresponsive to affection, learning, or has an unstable indication of
                unexplainable anger, mood swings, or emotional instability. At times, professional help may be
                needed and it is achievable through telehealth psychiatry and/or telehealth psychology, especially
                when services are not available locally.
            </p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>