<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>How To Help Someone With Social Phobia?</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav4"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>How To Help Someone With Social Phobia?</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Learn about Social Phobia</a>
                    <a href="#topic-2" class="nav-link">How to help someone with Social Phobia?</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <p>Social Phobia is a mental health condition. It’s normal to feel nervous in some social situations.
                For example, going on a date or giving a presentation may cause that feeling of butterflies in your
                stomach. But in Social Phobia, everyday interaction causes significant anxiety, fear, self-consciousness
                and embarrassment because you fear being scrutinized or judged by others. There is some overlap with
                low self-esteem. You might know someone who gets anxious in social situations. Read our guide below
                on how to help someone with Social Phobia.</p>
            <p><img class="img-fluid" loading="lazy" src="../images/Social_phobia_01_epsychiatry.webp" alt="Social_phobia_01_epsychiatry"></p>
            <p><br></p>

            <h2 class="mt-3" id="topic-1">Learn about Social Phobia</h2>
            <p>Social Phobia is more than just serious shyness. Nowadays, it’s the most common anxiety disorder
                psychologists see. Because this fear can impact work, school and other day-to-day activities. Learning
                as much as you can about the symptoms of the disorder and what treatments are effective will help you
                know what to expect from this illness and from the recovery.</p>

            <h3 class="mt-3"><strong>When to be patient and when to push</strong></h3>
            <p>Remind yourself why it is an intricate balance between not allowing avoidance and being sensitive to the
                need for slow advance. Your loved ones may have spent years with the symptoms of Social Phobia before
                being diagnosed. During this time you may have helped them avoid anxiety-arousing situations. If you
                have developed the style of speaking on behalf of them while in social situations, we suggest the
                following :</p>
            <ul>
                <li>Firstly, stop this behaviour gradually.</li>
                <li>Secondly, negotiate with them.</li>
                <li>In addition, let them express their own feelings.</li>
            </ul>
            <p>Meanwhile, try to unlearn the pattern of speaking on behalf of them. However, it will take time and
                practice to unlearn these styles and habits. Read on to learn more strategies on how to help someone
                with Social Phobia.</p>

            <h3 class="mt-3"><strong>When does it happen?</strong></h3>
            <p>Someone with Social Phobia can experience it in various ways. But here are some common situations that
                people happen to have trouble with:</p>
            <ul>
                <li>Talking to strangers</li>
                <li>Dating</li>
                <li>Making eye contact</li>
                <li>Entering rooms</li>
                <li>Using public restrooms</li>
                <li>Going to parties</li>
                <li>Eating in front of other people</li>
                <li>Starting conversations</li>
                <li>Going to school or work</li>
            </ul>
            <p>All socially anxious people have different reasons to be scared of certain situations.
                But in general, it’s an immense fear of:</p>
            <ul>
                <li>Being judged by other people in social situations</li>
                <li>Being embarrassed or humiliated by others– and showing it by blushing, sweating or shaking</li>
                <li>Accidentally offending another person</li>
                <li>Being the centre of attention</li>
                <li>Expecting negative outcomes from social interactions</li>
                <li>Spending time examining social situations after the fact</li>
                <li>Fear that other people might see your anxiety</li>
            </ul>

            <h3 class="mt-3"><strong>What does it feel like?</strong></h3>
            <p>The experience may be not the same for everyone, but if someone has Social Phobia and they’re in a
                really stressful situation, they might show physical symptoms like:</p>
            <ul>
                <li>Muscle tension</li>
                <li>Rapid Heartbeat</li>
                <li>Dizziness and lightheadedness</li>
                <li>Diarrhea and Stomach trouble</li>
                <li>Helplessness to catch a breath</li>
                <li>“Out-of-body” commotion</li>
            </ul>
            <p>They may start having symptoms and getting the anxiety immediately before an event, or they might spend
                weeks and days worrying about it. Afterwards, they could spend a lot of time and psychic energy
                worrying about how they reacted. What people really thought of them. However, knowing the symptoms
                might be very useful to you if you want to help someone with Social Phobia.</p>
            <p><br></p>

            <h2 id="topic-2">How to help someone with Social Phobia?</h2>
            <p>If a close friend, a family member or your loved one has been diagnosed with Social Phobia, there are
                many challenges they will face. Having a supportive family and a criss-cross of friends will make
                treatment and recovery easier. Read on to learn tips on how to help someone with Social Phobia. It
                could be your friend, your family member or your spouse.</p>
            <blockquote>
                <p><strong>Getting better is a process – it takes hard work on the part of the person who are diagnosed and
                    patience from family and friends.</strong></p>
            </blockquote>

            <h3 class="mt-3"><strong>How to help a friend with Social Phobia?</strong></h3>
            <p>When you have a friend who’s getting Social anxious it can be challenging to have a social life of your
                own. You may want to spend time with your friend and be together in public, but they may be really
                unsure to be around other people. It is normal to lose tolerance with your friend when you cannot
                follow through with plans and activities you made because your friend’s social phobia is holding
                them back from attending.</p>
            <p>These tips can help you be a supportive and caring friend so that you can guide your friend toward recovery:</p>

            <h4 class="mt-3">Work with their emotions:</h4>
            <p>The core to remember is that anxiety is not a logical disorder. Therefore, a logical response will most
                likely not help, especially during a moment of suffering. Instead, try to work with their emotions.
                Welcome that they feel anxious and, rather than being straight, be patient and kind. Remind them that
                while they may feel distressed, the feeling will pass and they’ll get over it.</p>
            <p>Work with unreasonable thoughts and acknowledge that the person is worried. For example, try something
                like: “I can understand why you feel that way, but I can reassure you that it’s just your anxiety. It’s
                not real.”</p>
            <h4 class="mt-3">Focus on their feelings:</h4>
            <p>There’s no need to ask your friend why they are feeling worried or anxious. Instead, ask them how they
                are feeling. Encourage them to make a list of their symptoms. Do not attack them with questions. Allow
                them to feel the way they do without intervention or guilt. If they’re crying, let them cry. If they
                are overreacting or worried, let them worry. Giving them some room to feel will allow them to release
                the stress they are feeling. As they describe their fear to you, stay calm no matter how impractical
                their fears or anxiety activates seem. Keep in mind that, to your friend, these worries are very
                realistic and have a big impact on their life. They are not to be ignored as impractical or beside
                the point. Meet these acknowledgements of worries with curiosity and support, not criticizing.</p>
            <h4 class="mt-3">Be patience:</h4>
            <p>Patience is a big morality when it comes to social phobia. The treatment and recovery procedure for
                social phobia can be a very long one. It can take months to change behaviour habits that your friend
                has become used to with the time. Try not to lose your cool or yell at the person. Be patient, be
                helpful and very supportive.</p>
            <h4 class="mt-3">Use distraction techniques:</h4>
            <p>Distractions can help your friend lessen their anxiety for the moment. Perhaps propose taking a walk,
                reading a book, or playing a game. This will distract the anxious brain and empower the person to calm
                down clearly and naturally.</p>
            <h4 class="mt-3">Help reframe their thoughts:</h4>
            <p>Your friend’s anxiety can make it really difficult for them to gain a frame of mind in social situations.
                You can help them think of a different vision by asking questions like:</p>
            <ul>
                <li>What is the worst that could happen to them?</li>
                <li>What is going to happen?</li>
                <li>What’s something good that could come out of this situation?</li>
                <li>Have you ever felt like this before? You survived it last time.</li>
                <li>If you look back at this situation, what will you think about it?</li>
            </ul>
            <p>When your friend is fighting Social Phobia, the best thing you can do is inspire them to seek treatment
                because there might be problems that you can’t heal. Most importantly, as a friend, all you need is
                patience, love and understanding.</p>
            <p><img class="img-fluid" loading="lazy" src="../images/Social_phobia_02_epsychiatry.webp" alt="Social_phobia_02_epsychiatry"></p>

            <h3 class="mt-3"><strong>How to help a loved one with social phobia?</strong></h3>
            <p>Living and dealing with someone who is shy or who has social anxiety needs an effort on your past.
                People with social phobia experience anxiety in both one-to-one and group situations and need time to
                get very comfortable in uncomfortable social conditions. Gradually, learn to separate the symptoms from
                the person, and you will be much further ahead in your journey toward helping your loved one.</p>

            <h4>Manage your own emotions:</h4>
            <p>If your loved one becomes really anxious or timid in social situations, it is important not to get too
                emotional yourself. Although it is important to be compassionate, try not to focus too much on fear.
                if they panic before going to a social gathering, avoid overly sympathizing with him about how difficult
                it will be. Give attention to the positive progress that he is making and your confidence in his
                ability to have that progress.</p>
            <h4>Show Empathy:</h4>
            <p>When a person with social anxiety shares thoughts or feelings, listen to them carefully and then mirror
                back what you hear with sympathetic statements. For example, if someone says “I am so nervous about my
                next exam, I don’t know how I will manage,” you can reply by saying “It sounds like you have a lot of
                negative things in your mind.” stating something that shows you are listening and care is all that is
                needed.</p>
            <h4>Be patient:</h4>
            <p>Treatment and getting cured can be a really slow process—it may take days, months or even years to change
                patterns that have been learned over many years. Be patient and don’t expect everything from them all
                at once. Moreover, be careful that you are tolerant when talking to a person with social phobia.
                Realize also that a person with social anxiety may be a step behind in life steps—such as feeling
                really anxious about a first date while all the rest of your friends are married or divorced. Try
                to be patient and understanding even if it seems like your life course is progressing at a different
                charge.</p>
            <h4>Be a good listener:</h4>
            <p>Sometimes just telling someone about your problems makes them seem more doable and practical. Let your
                friend or family member explain how they feel. In addition to making you more familiar with what they
                are going through, it will help them feel less lonely. Don’t tell them that they are being ridiculous
                or that their fears are really unrealistic. A person with social anxiety disorder knows that their
                fears are illogical but, nevertheless, is unable to control them.</p>
            <blockquote>
                <p><strong>The worst thing you could do to someone with social anxiety is to “NOT LISTEN TO THEM”—to kind of
                    listen while you tap away on your cell phone or keep your eye on the clock. Instead, be awake and
                    focus on what the other person is saying.</strong></p>
            </blockquote>
            <h4>Ask them what they need:</h4>
            <p>Don’t always think that you know what your friend or family member needs. If you are in an
                anxiety-producing situation, ask how you can help them to cope with it. Together, you can decide how
                little or how much you will need to be tangled in the recovery process.</p>
            <p><br></p>

            <h3><strong>How to help your spouse with social phobia?</strong></h3>
            <p>Living with and loving a spouse with social anxiety can be disappointing and it may also be very lonely.
                You probably feel stuck between hanging out with friends and staying in with your spouse. If your spouse
                has difficulties with social anxiety, there are several things you can do to be a very supportive
                partner and to help them overcome this situation.</p>
            <p>These steps will also help your partner get involved in more social situations and enjoy life and the
                relationship with you:</p>

            <h4>Encourage appropriate treatment:</h4>
            <p>One of the most important things you can do to help your partner overcome social anxiety is to get them
                into recovery. Rational treatment for social phobia can help them learn coping systems for better
                handling social situations; it will help them reevaluate social events in a positive way. Treatment
                will also lead them to examine their negative feelings and behaviours and make positive changes. For
                social phobia, treatment is mainly focused on individual behavioural therapy. Your spouse may get
                medications, including antianxiety. Support groups and group therapy are also useful in treating this
                condition and provide a way to practice socializing in a safe situation.</p>
            <h4>Talk about each other’s feelings:</h4>
            <p>With mental illness, being able to open up about social anxiety and how it feels is very important. Let
                your spouse talk about their feelings openly and honestly and be patient and don’t judge. Don’t try to
                be logical or to fix their issues. Your spouse knows that their feelings are not logical or sensible.
                They don’t need you to reason with them or come up with a stupid solution. You just need to listen to
                them and take their feelings very seriously.</p>
            <p>Most importantly, create a time and space in a pleasing situation, to talk with your partner about how
                you are feeling. Let them know that you feel overburden and weigh down. Don’t say it in a condemnatory
                way, but speak calmly about how you feel. Don’t make your partner the bad guy among you two.</p>
            <h4>Let your partner know that you’ve noticed the signs:</h4>
            <p>Let your partner know that you have noticed the signs of their social anxiety and they do not need to
                hide anything from you. This will help them to be honest and give them an opportunity to talk to you
                about their problems. Find a way to be compassionate and supportive to your partner. Understand that
                they’re going through a very difficult problem even if you don’t have the same problem.</p>
            <h4>Make social situations more comfortable:</h4>
            <p>When you force your spouse to participate in a social event, take steps to make it more comfortable for
                them. This may mean having the event at your home, doing something with just one or two friends, or
                practising possible social interplay ahead of time. Another helpful way for making events easier to
                handle for someone with social phobia is to plan diversion. An unlimited party causes a lot of fear,
                but one at which everyone will be watching a movie or playing board games is a lot easier to take.</p>
            <h4>Push your spouse to be more social:</h4>
            <p>When supporting your loved one to step out of their comfort zone and be social, do so in a positive way.
                Don’t force or bully. Instead, you want to encourage and support: be excited about going out; talk
                about the ways of the event your spouse will enjoy and should look forward to; discuss the tips your
                partner has learned in therapy for getting more comfortable at social events and how these will help
                make it easier.</p>
            <blockquote>
                <p>Your partner may feel angry at you for pushing them to go out for social gatherings and for putting
                    them in really uncomfortable position but remember that they suffer from social phobia and
                    understand where their anger is coming from. Stay calm and don’t respond to them with anger
                    as well</p>
            </blockquote>
            <p>Feeling anxious in social situations is very common for many of us, but for some people, it can be
                exhausting. Your friend or loved one may be suffering from social phobia. Most of the times people
                hide their symptoms, so if you notice that someone is anxious, it might be a good time to help.
                Observation behavioural therapy is an effective treatment for social phobia, and knowing some basic
                theories can be useful to you when helping someone with social phobia.</p>
            <p>We hope this article has been helpful, provided you with some useful tips on how to help someone with
                social phobia. Contact our team if you would like to discuss social anxiety treatments. Our friendly
                team of Psychiatrists and Psychologists are here to help.</p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>