<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>How to Stop Being a People Pleaser? | Epsychiatry</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav4"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>How to Stop Being a People Pleaser?</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is a People Pleaser?</a>
                    <a href="#topic-2" class="nav-link">Reasons Why You are a People Pleaser</a>
                    <a href="#topic-3" class="nav-link">Why is being a People Pleaser Problem?</a>
                    <a href="#topic-4" class="nav-link">How to Overcome People-Pleasing?</a>
                    <a href="#topic-5" class="nav-link">Effects of Being a People Pleaser</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">
            <p>A people pleaser is someone who tries hard to make others happy. They will often go out of their way to
                please someone, even if it means taking their own valuable time or resources away from them. People
                pleasers often act the way they do because of their insecurities and lack of self-esteem. They worry
                about how others will view them when they say no. People don’t want to be seen as lazy, uncaring,
                selfish or totally egocentric. They fear they’ll be disliked and cut from the group, whether it’s
                friends, family or co-workers. Take your first steps in getting past pleasing people by reading
                strategies on how to stop being a people pleaser and how to overcome people-pleasing.</p>
            <p><img loading="lazy" src="../images/People_pleaser_01_epsychiatry-min.webp" alt="People_pleaser_01_epsychiatry" class="img-fluid"></p>
            <p><br></p>

            <h2 id="topic-1">What is a People Pleaser?</h2>
            <p>A people pleaser is typically someone everyone considers helpful and kind. When you need help with a
                project or someone to help you study for an exam, they’re more than willing to step up. If you
                recognize yourself in the above description, you may be a people pleaser. But at some point,
                constantly making yourself available to others can take an emotional toll. You may find that
                you neglect your own needs because you fear disappointing others when they ask for your help.</p>

            <blockquote>
                <p>“people pleasers want everyone around them to be happy… and they will do whatever it takes to
                    keep them that way.” <strong> Dr Susan Newman</strong></p>
            </blockquote>

            <p>People-pleasers can often be perfectionists, rehearsing what they’re going to say before a phone call,
                styling their hair meticulously in the mirror, and spending hours browsing the internet for the
                perfect smartphone that “defines” them. Saying “NO” is the first step you can take to stop being
                a people pleaser.</p>

            <blockquote>
                <p>“For some, saying ‘yes’ is a habit.” <strong>- Dr Newman</strong></p>
            </blockquote>
            <p><br></p>

            <h2 id="topic-2">Reasons Why You are a People Pleaser</h2>
            <p>A lack of parental attunement is a big part of what causes people-pleasing. Many times, parents of
                people pleasers are too worried about their own troubles to tune in to what their children are feeling
                and thinking. Or they may frequently mislabel or misinterpret their child’s signals and feelings.</p>
            <p>First, you need to know why you are a people-pleaser before knowing how to stop being a people pleaser:</p>

            <ul>
                <li>Changing your personality depending on who’s around you</li>
                <li>You fear rejection</li>
                <li>Pretend to agree with everyone</li>
                <li>Apologizing for things that aren’t your fault</li>
                <li>Want others to be nice to you</li>
                <li>Not being able to say NO</li>
                <li>Eventually, you act like the people around you</li>
                <li>You don’t admit when your feelings are hurt</li>
            </ul>

            <p>If you find you match any of these characteristics of a people-pleaser, then you may want to take a step
                back and analyze self-care. Your self-care will help you establish boundaries between yourself and
                others. You will learn how to say, “NO” and how to take care of yourself and love yourself before
                others. If you find these changes extremely challenging then I recommend you seek a professional
                mental health therapist to help you start. Going to therapy alone is a form of self-care and you will
                be on your way to not only taking care of others but also yourself. This may help you to stop
                being a people-pleaser.</p>
            <p><br></p>

            <h2 id="topic-3">Why is being a People Pleaser Problem?</h2>
            <p>People pleasers can be so busy taking care of everyone else, that they forget to take care of themselves.
                They can identify so strongly with caregiving and agreeing with others that they can lose sight of
                their own needs, values, and beliefs. Their kindness, willingness to help, and difficulty saying no,
                can lead to other people taking advantage of them. People-pleasers can become overworked and
                overburdened, which can lead to them harbouring resentment towards those they are helping. The
                desire to avoid conflict can cause them to accept bad behaviour from others. Putting aside their
                own needs can cause them to believe their needs aren’t important. If you identify with the above,
                there are things you can do to stop being a people-pleaser.</p>
            <p><br></p>

            <h2 id="topic-4">How to Overcome People-Pleasing?</h2>

            <h3 class="mt-3"><strong>Practice Empathic Assertion to Stop being a People Pleaser</strong></h3>
            <p>Since it can be hard for a people-pleaser to say no without trying to justify it, practising empathic
                assertion might be helpful. Some people initially think that being assertive means stepping all over
                people. However, assertiveness is really about connection.  Empathy is the ability to understand another
                person’s feelings from their point of view. When you put the two together, you can respond in a way
                that acknowledges the other person’s situation or feelings, followed by a statement in which you stand
                up for yourself and what you need. Practising empathic assertion might be really useful when you try
                to stop being a people pleaser.</p>

            <h3 class="mt-3"><strong>Keep a Confidence File to Stop being a People Pleaser</strong></h3>
            <p>Since a lack of confidence can cause your people-pleasing ways, keep a file with positive and praising
                emails, cards or anything else. It’s one of the proven ways to stop being a people pleaser. It can
                even come in handy when asking for that raise. Print out any emails or letters of praise you’ve
                received from co-workers or higher-ups and taking them to your boss as another reason why you deserve
                a raise.</p>

            <h3 class="mt-3"><strong>Practice Self-care to Overcome People Pleasing</strong></h3>
            <p>Once you know yourself and your needs, you can start practising self-care. Self-care is about giving
                yourself the things that help you feel refreshed, calm, and energized so you can thrive. This includes
                eating healthy meals, exercising, engaging in activities that you enjoy, and spending time with friends
                and family. It can also include meditation, mindfulness, practising gratitude, getting your hair and
                nails done, and taking a relaxing bath. Self-care is not selfish. In fact, when you take good care of
                yourself, you have more to give to others.</p>

            <h3 class="mt-3"><strong>Practice Successive Approximation to Overcome People Pleasing</strong></h3>
            <p>Successive approximation means taking “one step in the direction you want to go” and rewarding yourself
                for getting that far. If your neighbour’s dog’s barking is driving you crazy, make efforts to confront
                the person by first saying “Good morning,” as you’re both leaving the house, she said. Another time,
                you might mention how noisy the neighbourhood has been. If he doesn’t get the hint, you can knock on
                his door and use an empathic assertion.</p>
            <p>It can help to write down “how you get from A to Z”. This also helps you gain the courage to confront
                the person.</p>

            <h3 class="mt-3"><strong>Don’t Apologize when it’s Not Your Fault</strong></h3>
            <p>People-pleasers tend to be serial apologists. Pay attention to when you’re apologizing and consider if
                you’re really at fault. Ask yourself if you’re responsible for the situation. Usually, the answer is
                no. You as a person are entitled to your time and you need to rest and rejuvenate to be there for the
                people you want to help out. Look at saying no as an opportunity to spend your time doing what you
                value in your life.</p>

            <h3 class="mt-3"><strong>Learn to Say NO to Overcome People Pleasing</strong></h3>
            <p>People-pleasers have trouble saying no. When you always say yes, you can become easily become overwhelmed.
                This can lead to feeling anxious and building resentment against the people you are helping. Saying no
                some of the time can keep this from happening. You don’t need to give a lengthy explanation as to why
                you are saying no. Keep it short and matter of fact. Start by saying no to small requests. Try not to
                volunteer your time, energy, and help automatically. If you have two people ask you for something, say
                yes to only one of the requests. Saying no to some of the things that you really don’t want to do
                enables you to devote your all to the things that are important to you. When you are able to say no,
                your yeses become more meaningful as well.</p>

            <h3 class="mt-3"><strong>Establish Healthy Boundaries to Stop being a People Pleaser</strong></h3>
            <p>Establishing clear, healthy boundaries can keep you from feeling used by others. When you have healthy
                boundaries with both yourself and others, you will feel stronger as an individual, and your
                relationships will strengthen. People-pleasers often put the needs of others before their own,
                which can cause them to feel a lot of resentment. When healthy boundaries are established, you will
                be less likely to build resentment. For instance, if your friend always calls you to talk about her
                problems at dinner time, and your dinner gets cold, you might harbour resentment about this. Instead,
                you could establish a boundary. You can let her know that you won’t be answering the phone at dinner
                time and will only be able to talk to her after you are done eating. Once you establish a boundary,
                you need to make sure you abide by it as well.</p>

            <h3 class="mt-3"><strong>Self-talk Yourself Up to Stop being a People Pleaser</strong></h3>
            <p>Positive self-talk ain’t easy, but if you practise for a while and get better at it, it will work a
                charm in boosting your self-confidence. You’d be surprised how much of a difference a bit of self-love
                can make. Using positive self-talk is like being a good mother to yourself. You can use this to remind
                yourself of your priorities and boundaries. For instance, you might say “I can do this,” “I have the
                right to park in this parking spot,” “I made the decision that’s right for me” or “My values are more
                important than saying yes in this situation.”</p>

            <h3 class="mt-3"><strong>Realize that You Can’t be Everything to Everyone</strong></h3>
            <p>Again, people-pleasers want to make everyone happy. While you might make someone happy temporarily,
                it doesn’t work long term. And you can get hurt in the process. People who preserve their time and
                energy and don’t say yes to everyone also realize that they can’t make other people happy.
                People-pleasers must realize that the only thoughts and feelings they can change are their own.</p>

            <h3 class="mt-3"><strong>Curiosity before Commitment</strong></h3>
            <p>Great negotiators are curious. Ask more questions and learn about the situation. </p>
            <p>Try to learn the following:</p>
            <ul>
                <li>What do they want? </li>
                <li>Why do they want it?</li>
                <li>What is the timeline?</li>
                <li>What exactly do they want you to do?</li>
                <li>Are you their only option?</li>
                <li>How else can they meet their needs?</li>
            </ul>
            <p>After you ask these questions you say, “Let me think about it and get back to you.” This will allow you
                to distance yourself from the situation to avoid feeling the immediate emotional pressure as a
                people-pleaser to say yes. Taking the time to gather information will also make it more likely for
                you to make an informed decision. Asking a friend or colleague for their perspective as you consider
                your options will also help you in the decision making process. They might be in a better position to
                see whether or not you’re doing the right things for the right reasons. It’s often easier to see
                people-pleasing in others than it is to see it in yourself.</p>
            <p>Information gathering, decision making, and responding are three distinct steps in the process to stop
                being a people pleaser. You’re more likely to slip into people-pleasing when you try to do both at once.</p>
            <p><br></p>

            <h2 id="topic-5">Effects of Being a People Pleaser</h2>
            <p>If you’re in a constant people-pleaser mode, you can lose sight of who you are. You may have no idea
                of what truly makes you happy. People pleasers may spend so much time trying to please others that
                they don’t know what to do with themselves if there’s no one asking them for something. Knowing the
                effects of being a people pleaser might be helpful to stop being a people pleaser and to overcome
                people-pleasing Constant people-pleasing behaviour can lead to: </p>

            <h3 class="mt-3"><strong>Lack of self-care</strong></h3>
            <p> Constantly devoting yourself to meeting the needs of others can cause you to neglect your own.
                You may find yourself getting sick or mentally burned out from the pressure of trying to please everyone.</p>

            <h3 class="mt-3"><strong>Built-up Resentment</strong></h3>
            <p>You may find yourself bottling up anger because you feel that people take advantage of you. That can
                lead you to make passive-aggressive comments and show other signs of your frustration. You may start
                pulling away from people instead of letting them know what’s going on and working to improve the
                situation.</p>
            <p><img loading="lazy" src="../images/People_pleaser_02_epsychiatry-min.webp" alt="People_pleaser_02_epsychiatry" class="img-fluid"></p>

            <h3 class="mt-3"><strong>Inability to Enjoy Yourself</strong></h3>
            <p>The stress from constant people-pleasing can make it hard to enjoy simple pleasures like going out for
                ice cream or watching your favourite TV show. Committing yourself to a lot of different things can
                make it hard for you to wind down and relax because of the constant stress. </p>
            <p>Take a step back and look at where you’re spending most of your time and energy. Keep track of how often
                you say yes when someone asks you for something. Think about how you feel in those moments. Taking
                stock of the times you’re unable to give a firm “No” can help you recognize those situations in the
                future and give a different response. Look for patterns in your people-pleaser behaviour, as this may
                help you in taking steps to stop being a people pleaser. There may be people that you feel more of a
                compulsion to try and satisfy. Your actions may be a way to recover from the hurt they caused you
                in the past.</p>
            <p>Start recognizing your limits and placing boundaries around how you spend your time. Think about how
                much bandwidth you really have before making commitments. Try to expend your energy only on those things
                that align with your values and make you feel good. Get started overcoming People-pleasing behaviour
                today by reaching out to us. Our friendly team of Psychiatrists and Psychologists are here to help your
                journey on overcoming people-pleasing.</p>

        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>