<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>Idiopathic Hypersomnia | Epsychiatry</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav4"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Idiopathic Hypersomnia - An Uncommon Sleep Disorder</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">What is Idiopathic Hypersomnia?</a>
                    <a href="#topic-2" class="nav-link">What are the Symptoms of Idiopathic Hypersomnia</a>
                    <a href="#topic-3" class="nav-link">What causes this Sleep Disorder?</a>
                    <a href="#topic-4" class="nav-link">Symptoms of Sleep Disorders</a>
                    <a href="#topic-5" class="nav-link">Diagnosing Idiopathic Hypersomnia</a>
                    <a href="#topic-6" class="nav-link">Treatment: What Can Be Done?</a>
                    <a href="#topic-7" class="nav-link">Help Yourself</a>
                    <a href="#topic-8" class="nav-link">Reach Out for Help</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <h2 id="topic-1">What is Idiopathic Hypersomnia?</h2>
            <p>Feeling sleepy is a normal feeling. On a given day, there’s only so much we can do. When physically,
                emotionally, or mentally drained, sleep is the ultimate solution. When we feel sleepy, it is our mind’s
                way of saying, “Hey, I’m tired. I want to lay and rest.” To address our exhaustion, we go to bed.
                On average, we need 8 hours of sleep to achieve complete rest. During sleep, the body gets to recuperate.
                However, not everyone gets to enjoy a good night’s sleep. Are you one of them? If yes, please continue
                as this article may help you. 8 hours of sleep is a luxury for those who have busy schedules. In spite
                of and even when sleep-deprived, most manage to get by. However, for those suffering from a sleep
                disorder known as Idiopathic Hypersomnia or Hypersomnolence, a full 8-hours of sleep will never be
                enough.</p>
            <p>Those who suffer from this mental illness often feel sleepy, groggy, and tired. Even when well-rested,
                a person who suffers from Idiopathic hypersomnia desires to sleep even during the day. We are not
                talking about naps. We are talking about hours of daytime sleep. Imagine feeling sleepy all the time?
                So tired that it results in a perpetual state of sleepiness? This is what Idiopathic sleep disorder
                feels like.</p>
            <p>Idiopathic Hypersomnia is a chronic mental health sleep disorder that needs professional attention.
                If left unaddressed, it may lead to constant irritability. It may also lead to a person’s inability
                to perform the normal duties we all have to perform on a daily basis.</p>
            <p><img loading="lazy" src="../images/sleep_disorder_01_epsychiatry.webp" alt="sleep_disorder_01_epsychiatry" class="img-fluid"></p>
            <p><br></p>

            <h2 id="topic-2">What are the Symptoms of Idiopathic Hypersomnia</h2>
            <p>We all need to sleep. Some sleep longer than others. Some require fewer hours of sleep and rest,
                compared to others. However, some, regardless of how long they sleep, would still feel tired, groggy,
                and sleepy. Those who suffer from idiopathic sleep disorder feel sleepy all the time and we mean all
                the time.</p>
            <p>Idiopathic Hypersomnia belongs to a class of sleep disorders known as Central Disorders of Hypersomnolence.
                The gist of it all is that Idiopathic Hypersomnia is a type of sleep disorder that causes daytime
                sleepiness. Likewise, Idiopathic Hypersomnolence creates an unstable internal body clock that is out
                of sync with the rest of society.</p>
            <p>This literally means that all the person with this condition wants to do is oversleep at night and
                sleep some more during the day. There is no productivity when Idiopathic Hypersomnia is in the way.</p>
            <p>Are you suffering from Idiopathic Hypersomnia? Here’s a checklist that may help you spot this sleeping disorder:</p>
            <ol>
                <li>Sleeping excessively, requiring more than 10 hours of sleep at night, and still find the need to
                    take daytime naps. If a person sleeps more than 16 hours combined in a 24-hour day, this may be a
                    sign of Idiopathic sleep disorder.</li>
                <li>For those with Idiopathic Hypersomnia, daytime sleep is a need. Regardless of what’s going on,
                    sleep takes top priority for those suffering from it.</li>
                <li>Sleeping inertia or the feeling of drunkenness is present. Upon waking, there is an impaired
                    physiological state, a sense of confusion, or poor coordination. This classifies as a sign of
                    Idiopathic Hypersomnia.</li>
                <li>Cognitive Dysfunction. This relates to memory loss or problems, patterned behaviour or comprehension
                    disability. In sum, a person with Idiopathic sleeping disorder experiences challenges with their
                    thought processes.</li>
            </ol>
            <p><br></p>

            <h2 id="topic-3">What causes this Sleep Disorder?</h2>
            <p>The exact cause of Idiopathic Hypersomnia is unknown. That being said, in certain cases, the cause
                appears to be excessive production of a small molecule whose function is similar to that of a sleeping
                pill. It may also be related to brain changes due to injuries or infections.</p>
            <p><br></p>

            <h2 id="topic-4">Symptoms of Sleep Disorders</h2>
            <p>Health conditions, diseases, and disorders may cause sleep disorders and disturbances. Hence, when
                an Idiopathic sleep disorder is present, there may be a need to find professional help. Professional
                help may be needed when trying to find the cause of a person’s sleeping disorder. Underlying health
                problems may be present and only a mental health care professional can expel the proper assessment.</p>
            <p>Do you suffer from sleeping disorders? Check the list below:</p>
            <ul>
                <li>Do you find falling asleep or staying asleep difficult?</li>
                <li>Is daytime fatigue always present?</li>
                <li>Do you get a non-negotiable urge to nap during the day, regardless if you have work or school commitments?</li>
                <li>Have you noticed having an unusual breathing pattern?</li>
                <li>Is there an unpleasant urge to move or fidget, causing disruption when falling asleep?</li>
                <li>If you do not get your daytime nap, do you become easily irritable or anxious?</li>
                <li>Is performance at work or in school impaired?</li>
                <li>Concentration at work, in school, or other commitments that you have to do, is missing?</li>
                <li>Do you feel depressed?</li>
                <li>Do you have to drink alcohol or take medication to force yourself to go to sleep?</li>
            </ul>
            <p>Those above are just a few symptoms that we must take into consideration when a certain type of sleeping
                disorder is present. We must remember also that there are all sorts and types of sleeping disorders
                like sleep apnea, insomnia, parasomnias, restless leg syndrome, and narcolepsy. An idiopathic sleep
                disorder can be more challenging as the need for excessive sleep hinders a person from prioritising
                daily commitments because sleeping takes precedence above all.</p>
            <p><img loading="lazy" src="../images/sleep_disorder_02_epsychiatry.webp" alt="sleep_disorder_02_epsychiatry" class="img-fluid"></p>
            <p><br></p>

            <h2 id="topic-5">Diagnosing Idiopathic Hypersomnia</h2>
                <p>As previously mentioned, to investigate whether a person suffers from Idiopathic Hypersomnia
                    (or Hypersomnolence), there will be a need to reach out for professional help. A professional
                    mental health care specialist can diagnose a person’s sleeping disorder and identify the underlying
                    causes.</p>
                <p>GPs may have to ask you to undergo a physical examination, ask for your medical history and
                    medications taken. All this information will help your GP come up with an assessment, and then a
                    referral for you to see a specialist. The specialist will then carry out a further assessment to
                    determine whether a person has Idiopathic Hypersomnia. To give you an idea, here are some tests,
                    tools used by specialists:</p>
            <ul>
                <li>Epworth Sleepiness Scale – This is a tool that doctors use. It rates a person’s sleepiness. It
                    also identifies how the need to sleep excessively, or lack thereof, affects a person’s daily
                    activities.</li>
                <li>Sleep Diary – Your physician may require a sleep diary, a log of daily sleep, to find a pattern.
                    It may reveal the amount of sleep a person needs, require or want.</li>
                <li>Polysomnogram – An overnight stay in a sleep centre will be required for this test. This is
                    because the person’s brain activity will be measured by a polysomnogram monitor to which they
                    are connected. The test will also monitor a person’s leg movement, heart rate, breathing pattern,
                    and measure oxygen levels during sleep.</li>
                <li>Multiple Sleep Latency Test – This tool is used to measure a person’s level of sleepiness.
                    The test is carried out during the day and measures how quickly you fall asleep in a quiet
                    environment.</li>
            </ul>
            <p><br></p>

            <h2 id="topic-6">Treatment: What Can Be Done?</h2>
            <p>There is no known cure or treatment for Idiopathic Hypersomnia. The aim or approach of treatment for
                Idiopathic Hypersomnolence is basically to ease and pacify symptoms. The approach of treatment for
                Idiopathic Hypersomnia may be medication if a medical disorder exists. 3 months of displaying symptoms
                of Idiopathic Hypersomnia must also exist before medication is even considered. A general health checkup
                is essential.</p>
            <p>Treatment may also be based on the results after diagnosis. Proper management of symptoms plays a
                relevant key to win the battle against Idiopathic sleeping disorder. Some of these ideas may not cure
                Idiopathic Hypersomnia, but it may be worth a try.</p>
            <ul>
                <li>A consistent sleeping pattern may help. This means that a sleeping schedule must be followed. A
                    person with Idiopathic Hypersomnia may want to consider going to bed and wake up in the morning
                    at the same time. This will include weekends.</li>
                <li>For those who take amphetamine-based medications, giving up caffeine and alcoholic beverages would be wise.</li>
                <li>Therapy from someone, may they be a psychologist, a psychiatrist, a health care worker.</li>
                <li>Support groups may offer emotional and mental compassion because they too may be suffering
                    from the same problem.</li>
                <li>Stop over-extending. For those who suffer from Idiopathic Hypersomnolence, pushing or extending
                    one’s self will only trigger the mind and the body to revert. This means that a person will only
                    continue to worsen his or her urge to sleep or oversleep because of over-exhaustion.</li>
            </ul>
            <p><br></p>

            <h2 id="topic-7">Help Yourself</h2>
            <p>If you or someone you know is suffering from Idiopathic Hypersomnolence, changing or creating a schedule
                to improve sleeping habits may help. Some may think it won’t, but it is worth a try. If you are having
                excessive sleeping, why not try the following and see if it works for you?</p>
            <ol>
                <li>Observe a schedule when going to bed at night, and in waking up in the morning.</li>
                <li>Avoid alcohol and caffeine. Alcohol and caffeine may affect one’s ability to feel the natural
                    onset of sleep. These substances may disrupt a person’s sleep patterns, especially those suffering
                    from Idiopathic Hypersomnia.</li>
                <li>A peaceful environment can help induce sleep.</li>
                <li>Avoid medication that may cause drowsiness.</li>
                <li>Working grave shifts throws off the body’s clock. It is not advisable, nor is it healthy to
                    work nights continuously, especially when sleeping problems exist.</li>
            </ol>
            <p>Idiopathic Hypersomnia or Idiopathic Hypersomnolence is a costly sleeping disorder. It is costly in
                the sense that it hinders and disrupts daily activities. When the urge to sleep is greater than
                fulfilling daily activities, then idiopathic sleep disorder must not be taken so lightly. If sleeping
                patterns are getting in the way of productivity, it may be time to see your GP.</p>
            <p><br></p>

            <h2 id="topic-8">Reach Out for Help</h2>
            <p>When your daytime sleeping, or lack of sleep for that matter, is getting in the way of your productivity,
                see your GP. This is especially true if daytime sleepiness is rampant. Likewise, if insomnia is getting
                in the way of a good night’s rest. Your GP may try to find the possible causes of your sleeping disorder.
                Your GP will try to identify possible underlying problems and explore all possibilities of cause.</p>
            <p>When assessing a person who shows Idiopathic Hypersomnia symptoms, any medication that is taken will be
                taken into consideration. Thereafter, your GP may then refer your case to a specialist. A specialist can
                help diagnose what is causing your sleeping disorder.</p>
            <p>In closing, let us not discredit the importance of sleep. Sleeping allows the body to recover from the
                day’s challenges. It is highly encouraged that we do get enough sleep to stay healthy. However, when
                sleep becomes our favourite pastime, a solution to problems that we do not want to deal with, and
                sleeping even when we have other commitments; is unhealthy.</p>
            <p>If sleepiness, especially during the day is limiting your productivity, get help. If daytime sleep is
                hurting your life in general, then treatment may be needed. Treatment may depend on what’s causing
                the urge to sleep too much and for too long to the point that it is no longer healthy. Call your GP.
                It is the first step in getting you the help that you may need to end your battle with daytime
                sleepiness.</p>
            <p>Check out the following video for some psychological tips to help you with Insomnia.</p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/gn962A0_VXg" height="350" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>