<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--local stylesheet-->
    <link href="../css/styles.css" rel="stylesheet">
    <!--fontawesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google fonts integration -->

    <title>OCPD vs OCD (Obsessive-Compulsive: Disorders) | Epsychiatry</title>
    <!--    favicon -->
    <link href="../images/Logo-100px.png" rel="shortcut icon" type="image/jpg"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>  
        $(function(){ 
          $("#nav4").load("nav4.html"); 
          $("#footer").load("footer4.html");   
        }); 
      </script>

</head>
<body>

<div class="container-fluid nopadding">
    <!--upper header area starts here-->
    <div class="upper-section">
        <p id="upper-id"><i aria-hidden="true" class="fa fa-envelope" style="color: #B1B4B8"></i> <a
                href="mailto: support@epsychiatry.com.au">support@epsychiatry.com.au</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        </p>
    </div>
    <!--upper header ares ends here-->
    <hr>
    <div id="nav4"></div>
    <!--navigation bar starts here-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img alt="Home" src="../images/Logo-100px.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownServices" role="button">Services</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle"
                                   href="../templates/services/anxiety-treatment.html">Anxiety</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/what-is-agoraphobia.html">Agoraphobia</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/ocd.html">OCD</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/panic-attacks.html">Panic
                                        Attacks</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/phobias.html">Phobias</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/separation-anxiety-in-adults.html">Separation
                                        Anxiety Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stress-mental-health.html">Stress &
                                        Mental Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/social-anxiety-disorder.html">Social
                                        Anxiety Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Developmental</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/services/relationship-attachment-style.html">Attachment</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/autism-in-adults.html">Autism in
                                        Adults</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/identity-crisis-feeling-lost-what-can-you-do.html">Identity
                                        Crisis</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/tic-disorder-tics-motor-tics-and-vocal-tics.html">Tics
                                        Disorder()</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Eating</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/binge-eating-disorder.html">Binge
                                        Eating Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/bulimia-nervosa.html">Bulimia
                                        Nervosa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Habits</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/caffeine-use-disorder.html">Caffeine
                                        Use Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/excessive-daydreaming.html">Excessive
                                        Daydreaming</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/hoarding-disorder.html">Hoarding
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/video-game-addiction.html">Video
                                        Game Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulse-control-disorder.html">Impulse
                                        Control Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/stealing-(Kleptomania).html">Stealing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mind-Body</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/chronic-fatigue.html">Chronic
                                        Fatigue</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/functional-neurological-disorder.html">Functional
                                        Neurological Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/headaches.html">Headaches</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/pain.html">Pain</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/poor-body-image.html">Poor Body
                                        Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Mood</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/adjustment-disorder.html">Adjustment
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/Apathy-Persistent-Depressive-Disorder.html">Apathy</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/bipolar.html">Bipolar</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/cyclothymic-disorder.html">Cyclothymic
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/depression.html">Depression</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/prolonged-grief-reaction.html">Grief
                                        & Loss</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Lack of
                                            Interest</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/lack-of-interest-or-no-interest.html">Lack of
                                                Interest or No Interest</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/loneliness-and-social-isolation.html">Loneliness</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/low-self-esteem.html">Low Self
                                        Esteem</a></li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Major
                                            Depressive Disorder</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item"
                                                   href="../templates/services/depression-major-depressive-disorder.html">
                                                Depression</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/mood-swings-emotional-ups-and-downs.html">Mood Swings</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/persistent-depressive-disorder-dysthymia.html">Persistent
                                        Depressive Disorder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Personality-Temprement</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/anger-management.html">Anger
                                        Management</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/avoidant-personality-disorder.html">Avoidant Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item"
                                           href="../templates/services/dependent-personality-disorder.html">Dependent
                                        Personality
                                        Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/impulsivit-&-disinhibition.html">Impulsivity
                                        &
                                        Disinhibition</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/narcissism.html">Narcissism – an
                                        overview of Narcissistic behaviour</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/obsessive-compulsive-personality-disorder.html">Obsessive-Compulsive
                                        Personality Disorder</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/paranoid-personality-disorder.html">Paranoid Personality</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychosis</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/psychosis.html">Psychotic Episode</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Relational</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           href="#">Conflict</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/services/conflict-resolution.html">Conflict
                                                resolution</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/services/pregnancy&mental-health.html">Pregnancy & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Sleep</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/poor-sleep-mental-health.html">Poor Sleep & Mental
                                        Health</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Trauma</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/services/acute-stress-reaction.html">Acute Stress Reaction</a></li>
                                    <li><a class="dropdown-item" href="../templates/services/PTSD.html">PTSD Reaction</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../templates/services/gender-dysphoria.html">Gender Dysphoria</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownTeam" role="button">Team</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/team/about-us.html">About us</a></li>
                            <li><a class="dropdown-item" href="../templates/team/careers.html">Careers</a></li>
                            <li><a class="dropdown-item" href="../templates/team/clinicians.html">Clinicians</a></li>
                            <li><a class="dropdown-item" href="../templates/team/contact-us.html">Contact us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropleft">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownResources" role="button">Resources</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Access</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-eligible-areas.html">Eligibility</a>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/mental-health-professional.html">Professional
                                        Mental Health Service</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Counselling</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item"
                                           href="../templates/resources/counseling-for-men-therapy-for-toxic-masculinity.html">Counseling
                                        for men</a></li>
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grief</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/does-grief-counseling-help.html">Does grief
                                                counselling
                                                help?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/does-medicare-cover-grief-counseling.html">Does Medicare cover
                                                grief counselling?</a>
                                            </li>
                                            <li><a class="dropdown-item" href="../templates/resources/grief-counseling-therapy-to-deal-with-loss.html">Grief
                                                counseling</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/how-does-grief-counselling-work.html">How does grief
                                                counselling work</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/is-grief-counseling-for-you.html">Is grief counseling
                                                for you?</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/workplace-counselling.html">Workplace Counselling</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">FAQ</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/how-can-we-help.html">How can we help</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/how-does-telehealth-work.html">How does telehealth
                                        work?</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/legal-reports.html">Legal Reports</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/telehealth-faq.html">Telehealth questions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Location</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/public-melbourne-psychologist.html">Melbourne</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-perth-psychologist.html">Perth</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/public-sydney-psychologist.html">Sydney</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychiatry</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li><a class="dropdown-item" href="../templates/resources/first-psychiatrist-appointment.html">First Psychiatrist
                                        Appointment</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/our-telehealth-psychiatry-service.html">Our Telehealth Psychiatry
                                        Service</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/physical-and-mental-health.html">Physical & Mental
                                        Health</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/psychiatrist-near-me.html">Psychiatrist near me</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/seeing-your-psychiatrist-online.html">Seeing your psychiatrist
                                        online</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychology</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Guide</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/bulk-billing-psychologist.html">Bulk Billing
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/five-reasons-to-see-a-psychologist.html">Five reasons to see
                                                a psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychologist-or-psychiatrist.html">Psychologist or
                                                Psychiatrist?</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/psychology-via-telehealth-benefits.html">Psychology via
                                                telehealth benefits</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-does-a-clinical-psychologist-do.html">Clinical
                                                Psychologist</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/different-types-of-psychologists-an-overview.html">Different Types of
                                                Psychologists</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Testing &
                                            Assessment</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/adult-adhd-test.html">Adult ADHD</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-autism-test.html">Adult autism
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/adult-dyslexia-test.html">Adult Dyslexia
                                                test</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/dementia-tests.html">Dementia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/emotional-intelligence-test.html">Emotional
                                                Intelligence</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/personality-testing.html">Personality
                                                Testing</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Psychotherapy</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Acceptance
                                            and Commitment Therapy</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/acceptance-and-commitment-therapy.html">Acceptance and
                                                Commitment Therapy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Cognitive
                                            Behavioural Therapy (CBT)</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                                            <li><a class="dropdown-item" href="../templates/resources/what-is-cbt.html">What is CBT
                                                (Cognitive Behavioral Therapy)</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/cbt-for-insomnia.html">CBT for
                                                insomnia</a></li>
                                            <li><a class="dropdown-item" href="../templates/resources/trauma-focused-cognitive-behavioral-therapy.html">What is trauma
                                                focused CBT</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="../templates/resources/couples-therapy.html">Couples Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/family-therapy.html">Family Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/interpersonal-therapy-for-depression.html">Interpersonal Therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/mindfulness-based-cognitive-therapy.html">Mindfulness-based cognitive
                                        therapy</a></li>
                                    <li><a class="dropdown-item" href="../templates/resources/schema-therapy.html">Schema Therapy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../templates/blogs/blog-1.html">Blog</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn-login">
                    <a class="btn btn-secondary text-white d-flex" href="#">Login</a>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->
    <!--navigation bar ends here-->
</div>

<section id="blog-article">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>OCPD vs OCD (Obsessive-Compulsive: Disorders)</h1>
            </div>
        </div>
    </div>
</section>

<!-- para section-->
<div class="container">
    <div class="row py-3" style="justify-content: center;">
        <div class="col-3 col-lg-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#topic-1" class="nav-link">Obsessive-Compulsive Disorder (OCD)</a>
                    <a href="#topic-2" class="nav-link">Obsessive-Compulsive Personality Disorder</a>
                    <a href="#topic-3" class="nav-link">Key Differences – OCPD vs OCD</a>
                    <a href="#topic-4" class="nav-link">Treatments for OCPD and OCD</a>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9" id="main">

            <h5><strong>The abbreviated names may sound very familiar when we say OCPD vs OCD?</strong></h5>
            <p>But, we need to know that even if they sound the same, they are completely two different disorders.
                Indeed, so many people often mistake one for the other. It can include the people in the field of
                psychology as well. However, both disorders are distinct mental health conditions. They have
                different features and treatment plans.</p>
            <p>The key difference between OCPD and OCD can be seen in the latter part which is a “personality
                disorder”. A maladaptive pattern of thought colours how one relates to the environment while
                the former characterises rude thoughts.</p>
            <p>Let’s go deeper into the characteristics of both disorders and see how OCPD and OCD
                differ from each other?</p>

            <h2 id="topic-1">Obsessive-Compulsive Disorder (OCD)</h2>
            <p>OCD is the presence of recurrent obsessions or compulsions that interfere with a person’s
                ability to function properly.</p>

                <div class="row">
                    <div class="col-lg-7">
                        <img loading="lazy" src="../images/Epsychiatry_infographic_008-410x1024-min.webp"
                        alt="Epsychiatry_infographic_008-410x1024" class="img-fluid">
                        <!-- <img src="../../images/Top-Major-South-America-Commodities-410x1024.png.webp" style="width: 100%;"> -->
                    </div>
                    <div class="col-lg-5">
                        <p class="mt-3">Obsessions or compulsions are not every day worries. In fact, they are constant
                            and often illogical thoughts, images or ideas that recur in one’s mind without going away.
                            Obsessions may be one’s own thoughts and they may find it difficult to control. However,
                            things with these obsessions cause significant distress to the individual. Moreover, it
                            forces them to act in irrational ways to remove those thoughts. Compulsions are irrational
                            and distinct activities one performs to dispel anxieties or obsessions. Examples of
                            compulsions include: For example,</p>
                        <ol>
                            <li>Constant cleaning, hand-washing, double-checking, or sweeping.</li>
                            <li>Boring behaviours to stop something shocking from happening. Even when there is no
                                proof of it happening.</li>
                        </ol>
                        <p>constant use of scrubbing or bathing to get rid of germs that have infected the hands.</p>
                        <p><br></p>
                    </div>
                </div>

            <h2 id="topic-2">Obsessive-Compulsive Personality Disorder</h2>
            <p>An individual neither has obsessions nor compulsions. In OCPD, a strict – and often irrational –constancy
                to orderliness can be seen. There is nothing wrong with sticking to strong principles as long as
                there is some room for flexibility. Especially that it does not get in one’s way. People with OCPD
                continue to maintain their strong adherence to orderliness even at the risk of their efficiency.</p>
            <p>Personality traits that show OCPD:</p>
            <ul>
                <li>Need for perfection and control over the environment and their interpersonal relationships.</li>
                <li>Distraction with rules, lists and order such that they miss the whole point of an activity.</li>
                <li>A strict commitment to work and career at the expense of their family and loved ones.</li>
                <li>Storing up items that do not have any value to them anymore.</li>
                <li>Firm moral even when it affects their performance.</li>
            </ul>
            <p>However, a person with OCPD may go on to succeed in their career.</p>
            <blockquote>
                <p><strong>Their perfectionism keeps them at a high standard. That said, others may find the individual
                    with OCPD difficult to work with because of their style of operating</strong></p>
                <p>
                    <strong>Dr Simon Rego (Chief of Psychology at Montefiore Medical Center and Associate Professor of
                        Psychiatry and Behavioral Sciences at Albert Einstein College of Medicine, NY )</strong>
                </p>
            </blockquote>
            <p><br></p>

            <h2 id="topic-3">Key Differences – OCPD vs OCD</h2>
           <p>When we say OCPD vs OCD, there are clear differences. Although there is considerable overlap between both
               disorders. There are four major distinguishing features between OCPD and OCD.</p>
            <p>The 4 differences between OCPD and OCD are:</p>

            <h5 class="mt-3" style="text-decoration: underline"><span>Feature 1:</span></h5>
            <ul>
                <li><strong>OCD </strong>– Irrational obsessions and compulsive behaviours.</li>
                <li><strong>OCPD </strong>– No obsessions or compulsions. The person just has a strict adherence to
                    one’s principles, even when they seem not to be helping.</li>
            </ul>

            <h5 class="mt-3" style="text-decoration: underline"><span>Feature 2:</span></h5>
            <ul>
                <li><strong>OCD </strong>– Patients are distressed by these disturbing obsessions and try to seek help for them.</li>
                <li><strong>OCPD </strong>– people believe that their thoughts and behaviours are correct.</li>
            </ul>

            <h5 class="mt-3" style="text-decoration: underline"><span>Feature 3:</span></h5>
            <ul>
                <li><strong>OCD </strong>–  People often know that these obsessions or compulsions are irrational.</li>
                <li><strong>OCPD </strong>– People do not and often do not understand how their behaviours affect other people.</li>
            </ul>

            <h5 class="mt-3" style="text-decoration: underline"><span>Feature 4:</span></h5>
            <ul>
                <li><strong>OCD </strong>– The symptoms may change with the severity of the anxiety.</li>
                <li><strong>OCPD </strong>– The thought pattern is believed to be normal and it guides their behaviour over a long period.</li>
            </ul>

            <p><img loading="lazy" src="../images/OCD_01_epsychiatry.webp" alt="OCD_01_epsychiatry-1" class="img-fluid"></p>

                <p><br></p>

            <h2 id="topic-4">Treatments for OCPD and OCD</h2>
            <p>OCD is best treated with anti-anxiety medications and Cognitive Behavioral Therapy(CBT).</p>
            <p>The CBT technique used to treat OCD is exposure and response prevention. Therefore, when the patient
                is exposed to the situation, they are trying to avoid and learns to cope with it. It will guide them
                correctly rather than trying to eliminate it with compulsive behaviour.</p>
            <p>This form of therapy aims to lower the patient’s sensitivity. It also lowers the response to the same
                stimulus that causes them distressing obsessions. Through this process, the person learns to notice
                these obsessions. Mainly, they learn not to rush and act on them in fear.</p>
            <p>OCPD is also treated with involves CBT techniques but in a different type. It’s not performed with
                medications. CBT teaches the person to re-evaluate their thoughts and behaviour. It will make the person
                with positive adjustments. It also helps the person identify the distress that is driving the need to
                achieve perfection. It’s important to know that CBT helps to understand the standards they live by
                and how it keeps them from a happy life.</p>
            <p>Importantly, people with OCD or OCPD or both, OCPD and OCD may not notice the harmful impact of their
                behaviour(s). If you or someone you know are having the symptoms of OCPD and OCD, assist them to seek
                professional help.</p>
        </div>
    </div>
</div>
<!-- end of para section-->

<!-- Footer -->
<div id="footer"></div>
<!-- Site footer -->
<!-- <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contact us</h6>
                <form>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-name" placeholder="Name*" required
                               style="max-width: 350px" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="contact-us-email" placeholder="E-mail*" required
                               style="max-width: 350px" type="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="contact-us-message" placeholder="Message*" required
                                  rows="5" style="max-width: 350px"></textarea>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h6>Important</h6>
                <p class="text-justify">This is not an emergency service. Same day consults are not available.
                    If you are in distress please contact your nearest emergency department,
                    your local area mental health service triage or dial “000</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Learn More</h6>
                <ul class="footer-links">
                    <li><a href="">Psychology via Telehealth Benefits</a></li>
                    <li><a href="">Five reasons to see a psychologist</a></li>
                    <li><a href="">Professional Mental Health Service</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-3" style="text-align: center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 Epsychiatry Pty. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- ./Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>